
.title{
  color: snow;
  font-family: c;
  font-size: 45px;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  background: rgb(0, 0, 0, 0.8);
  padding: 10px;
  margin: auto;
  margin-top: 2em;

}






.swipe{
  display: none;
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: ws;
  font-size: 5px;
  margin-top: 20px;
}
@media screen and (max-width:1200px) {
  .swipe{
    display: block;
  }
}





.image-content {
text-align: center;
}
.image-content div{
 margin-top: 15px;
  }
img.profile-imagesq {
width:150px ;
height:150px ;
}
img.profile-imagel {
width:250px ;
height:150px ;
}
img.profile-imagep {
width:150px ;
height:200px ;
}







.blue {
  color: aqua;
}

.green {
  color: green;
}

.yellow {
  color: goldenrod;
}

.pink {
  color: palevioletred;
}

.violet {
  color: purple;
}

* {
  margin: 0%;
  padding: 0%;
}








.instruction {
  max-width: 800px;
  width: 80%;
  margin: auto;
  font-family: ws;
  
}

.instruction li{
  margin-top: 1em;
}

.form-container{
  display: flex;
  justify-content: center;
}

.form-display{
  width: 500px;
}

.post-button{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.button-size{
  padding: 5px;
}

.topic-container{
  padding: 24px;
}

.comment-section{
  display: flex;
  flex-direction: column;
  margin: 0 16px 0px 58px;
}

.comment{
  padding-left: 150px;
}



.commentsouter{
  background-color: lightpink;
  text-align: center;
  line-height: 40px;
  margin: auto;
  width: 95%;
  padding: 20px;
}
textarea{
  border: black 1px solid;
}
input{
  border: black 1px solid;
}







/* ************************************************************************************************************************** */
.table1-spacing {
  padding: 0;
  margin: 0;
  padding-top: 55px;
  overflow-x: scroll;
  font-family: ws;
}


table{
  font-size: 15px;
}

.table1 th,
.table1 td {
border: 1px solid black;
border-collapse: collapse;
line-height: 26px;

}
.table1 td{
  padding: 15px;
}
.table1 th{
  padding: 7px;
}

.table1{
border-collapse: collapse;
text-align: center;
}

.table1 table{
margin: auto;
border-collapse: collapse;
width: 90%;
}

.tablepoint li{
  list-style-position: outside;
  list-style-type: circle;
  margin-top: 10px;
  margin-left: 10px;
}
.tablepoint2 li{
  list-style-position: outside;
  list-style-type: lower-roman;
  margin-top: 10px;
  margin-left: 15px;
}
.table1 th{
  background-color: black;
  color: white;
  text-align: center;
  font-family: c;
  font-size: 20px;
  letter-spacing: 1px;

}



tr > *:nth-child(4) {

  min-width: 10rem;
  z-index: 1;
}
tr > *:nth-child(5) {

  min-width: 15rem;
  z-index: 1;
}
tr > *:nth-child(6) {

  min-width: 15rem;
  z-index: 1;
}
tr > *:nth-child(7) {

  min-width: 15rem;
  z-index: 1;
}

@media screen and (max-width:800px) {
  tr > *:nth-child(5) {

    min-width: 15rem;
    z-index: 1;
  }
  tr > *:nth-child(6) {

    min-width: 15rem;
    z-index: 1;
  }
  tr > *:nth-child(7) {

    min-width: 15rem;
    z-index: 1;
  }
  
}









