<app-navbar></app-navbar>
<div>
    <h1 class="title">Social Reforms</h1>
</div>


<div class="swipe"><h6><i>Swipe right to view full table &rarr;</i></h6></div>

<div class="table1-spacing">
    <div class="table1">

    <table class = "table table-hover">
        <tr class="table-active" >
            <th>Year</th>
            <th>Movement</th>
            <th></th>
            <th>Who</th>
            <th>Objective</th>
            <th>Events</th>
            <th>Others</th>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
        <tr>
<!--1-->           <td>1782</td> 
<!--2-->           <td><b>TITU MIR'S MOVEMENT</b></td>
<!--3-->            <td class="image-content"><img class = "profile-imagesq" src="../../assets/table/mirnithar.jpg"></td>
<!--4-->            <td><b>MIR NITHAR ALI</b></td>
<!--5-->            <td><b>Wahhabism</b> & <b>Sharia</b></td>
<!--6-->            <td>Organized <span class="green"><b> Bengal Muslim peasants</b></span> against Hindu landlord & British indigo planters</td>
<!--7-->            <td>Ali killed in 1831</td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1812</td>
            <td>
                <div><b>FARAIZA MOVEMENT</b></div>
                <div>(Fara'idi)</div>
                <div class="green"><b>@E.Bengal</b></div>
            </td>
            <td class="image-content"><img class = "profile-imagep" src="../../assets/table/haji.jpg"></td>
            <td><b><ul class="tablepoint">
                <li>HAJI SHARIATULLAH</li>
                <li>DUDU MIAN</li>
            </ul></b></td>
            <td><ul class="tablepoint">
                <li>Islamic pillar of faith</li>
                <li><b><u>Eradication</u> of social innovation, unislamic practices</b></li>
            </ul>
            </td>
            <td>
                <ul class="tablepoint">
                    <li>1840- Haji's Son DUDU MIAN became Revolutionary</li>
                    <li>Asked <b>not to pay rent</b></li>
                    <li>1847 arrested, so movement weakened</li>
                </ul>
            </td>
            <td>
                <ul class="tablepoint">
                    <li>Formed <b>Organisational system</b> (village to province) under <b><u>KHALIFA</u></b> (authorised deputy)</li>
                    <li><b>Paramilitary forces</b>-to fight zamindaris (mostly Hindu, some Muslim)</li>
                    <li>Had <b>own law courts</b></li>
                </ul>
            </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1830</td>
            <td>
                <div><b>YOUNG BENGAL MOVEMENT </b></div>
                <div class="green"><b>@Bengal</b></div>
            </td>
            <td class="image-content "><img class = "profile-imagep" src="../../assets/table/henry.jpg"></td>
            <td>
                <ul class="tablepoint">
                    <li><b>HENRY VIVIAN DEROZIO</b></li>
                    
                </ul><div style="margin-top: 10px;">(Anglo Indian) 1st Poet of Modern India</div>         
            </td>
            <td><ul class="tablepoint">
                <li>Radical, intellectual trend among youth.</li>
                <li><b>Surendranath</b> describes him: 
                <i><b>“Pioneers of Modern civilization”</b></i></li></ul>
            </td>
            <td>
                <ul class="tablepoint">
                    <li>Questioned authority</li>
                    <li>love liberty, equality, freedom</li>
                    <li>opposed customs, traditions</li>
                    <li>Women rights, education</li>
                    <li>Carried forward <b>RRMRoy</b> questions on public education, protection of zamindaris, High grade service-To Indians, Better treatment Indian labour abroad, Press freedom, Trial by jury</li>
                </ul>
            </td>
            <td>
                <div>Studied @Hindu college</div>
                <div>Inspiration: <b>French Revolution</b></div>
                <div>In 1831 removed from college</div>
                <div><br>
                    <u>Main reason for limited success:</u>
                    <ul class="tablepoint">
                        <li>Prevailing social condition not ripe for adoption of radical ideas</li>
                        <li>No support any social class,</li>
                        <li>Lacked link with mass</li>
                        <li><b>Failed</b> to take up <b>peasant cause</b></li>
                    </ul>
                </div>
            </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1830</td>
            <td><b>DHARMA SABHA</b></td>
            <td class="image-content"><img class = "profile-imagep" src="../../assets/table/radhakhant.jpg"></td>
            
            <td><b>RADHAKHANT DEB</b></td>
            <td>
                <ul class="tablepoint">
                    <li><b>Orthodox</b> sect</li>
                    <li>Preservation of <b>STATUS QUO</b> in social religious matters</li>
                </ul>
            </td>
            <td></td>
            <td>
                <ul class="tablepoint">
                    <li>Even <b>opposed Abolition of Sati</b></li>
                    <li>But <b>favored Western education</b> to girls</li>
                </ul>
            </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1849</td>
            <td>
                <div><b>PARAMAHANSA MANDALI</b></div>
                <div class="blue"><b>@Maharastra</b></div>
                <div>(Branches @Poona, Satara)</div>
            </td>
            <td class="image-content">
            <div><img class = "profile-imagep" src="../../assets/table/dadoba.jpg"></div>
            <div><img class = "profile-imagesq" src="../../assets/table/durgaram.jpg" alt=""></div></td>
            <td><b><ul class="tablepoint">
                <li>DADOBA PANDURANG</li>
                <li>MEHTAJI DURGARAM</li>
            </ul></b></td>
            <td>
                <ul class="tablepoint">
                    <li>Secret society- to <b>reform Hindu religion, society</b></li>
                    <li><b><u>One god</u></b> worship</li>
                    <li>Real religion- based on LOVE, MORAL</li>
                    <li>Freedom of thought encouraged- <b>Rationality</b></li>
                </ul>
            </td>
            <td>Primarily interest: Break caste rules, <b>food cook low caste</b> taken, widow remarriage, women education</td>
            <td>Ideology: Closely linked to <b>MANAV DHARMA SABHA</b></td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1849</td>
            <td>
                <div><b>WAHABI/WALLIULLAH MOVEMENT</b></div>
                <div>(refer-revolt)</div>
            </td>
            <td class="image-content"><img class = "profile-imagep" src="../../assets/table/wahabi.jpg"></td>
            <td></td>
            <td>Desirability of <b>harmony between 4 school of Muslim</b> (which is divided)</td>
            <td></td>
            <td>Main role in Revolt 1857 - spread anti-British  feelings</td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1851</td>
            <td><b>PARSI REFORM MOVEMENT</b></td>
            <td></td>
            <td>
                <div><b><u>RAHNUMAI MAZDAYASNAN SABHA</u></b></div>
                <div>(group of educated parsis)</div>
                <ul class="tablepoint">
                    <li>NAOROJI FURDONJI</li>
                    <li>DADABHAI NAOROJI</li>
                    <li>KR CAMMA</li>
                    <li>SS BENGALEE</li>
                </ul>
            </td>
            <td>
                <ul class="tablepoint">
                    <li>Regeneration of social conditions of Parsis</li>
                    <li>
                        <div>Restore <b>Zoroastrian religion</b>,</div>
                        <div>Religious rituals,</div>
                        <div>Creed redifined.</div>
                    </li>
                    <li>Women uplift,<br> <b>remove PURDAH</b>,<br> rise marriage age</li>
                </ul>
            </td>
            <td>
                <div>Newspaper:</div>
                <div><b>RAST GOFTAR</b></div>
            </td>
            <td>Emerged as most westernised section</td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1861</td>
            <td>
                <div><b>RADHASWAMI MOVEMENT</b></div>
                <div class="yellow"><b>@Agra</b></div>
            </td>
            <td class="image-content"><img class = "profile-imagep" src="../../assets/table/shivdayal.jpg"></td>
            <td>
                <div>SHIV DAYAL SAHEB</div>
                <div><b>(TULSI RAM)</b></div>
            </td>
            <td>
                <ul class="tablepoint">
                    <li><b>One supreme</b> being</li>
                    <li><b>Supremacy of <u>GURU</u></b></li>
                    <li>Simple social life, <b>no worldly</b> life</li>
                    <li><b>Nonbelief</b> in <b>Temple</b>, sacred place</li>
                </ul>
            </td>
            <td></td>
            <td>
                <ul class="tablepoint">
                    <li>Work of faith, charity, service, prayer.</li>
                <li><b>All religion to be true.</b></li>
                </ul>
            </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1866</td>
            <td>
                <div><b>DEOBAND SCHOOL</b></div>
                <div class="yellow"><b>@Darul Uloom UP</b></div>
            </td>
            <td class="image-content">
                <div><img class = "profile-imagep" src="../../assets/table/mohamadqusim.jpg"></div>
                <div><img class = "profile-imagep" src="../../assets/table/shibli.jpg"></div>
                <div>SHIBLI</div>
            </td>
            <td>
                <ul class="tablepoint">
                        <b><li>MOHAMAD QUSIM NANOTAVI,</li>
                            <li>RASHID AHMED GANGOHI</li></b>
                </ul><br>
                Later:
                <ul class="tablepoint">
                       
                        <b><li>MAHUMUD UL HASAN</li>
                            <li>JAMIAT UL ULEMA</li></b>
                </ul>
                <br>
                Supporter: 
                <ul class="tablepoint"><b><li>SHIBLI NUMANI</li></b></ul>
                    
            </td>
            <td>
                <ul class="tablepoint">
                    <li><b>Orthodox</b> Muslim section</li>
                    <li>Propagate-<b>Pure teaching</b> of Quran, Hadis</li>
                    <li>Keep <b>spirit of Jihad</b> against foreigners</li>
                </ul>
            </td>
            <td>
                <ul class="tablepoint">
                <li>Train religious leaders, moral religious regeneration.</li>
                <li><b>Contrast to Aligarh</b> (West education, support govt)</li>
                <li><b>HASAN:</b> gave <b>political & intellectual content to religious ideas</b>.</li>
                <li>Synthesis of <b>ISLAMIC PRINCIPLES + NATIONALIST ASPIRATION</b>.</li>
                <li><b>ULEMA:</b> gave concrete shape to Hussan idea- protection of political 
                    religious rights in context of <b>National unity</b>.</li>
                </ul>
            </td>
            <td>
                <ul class="tablepoint">
                <li><b>Welcomed INC</b> (not opposed).</li>
                <li>Issued <b>FATWA against Syed Ahmed's</b> - United Patriotic Association 
                    Mohammaden Anglo-Orientation Association.</li>
                <br><u><b>SHIBLI:</b></u>
                <li> Favoured inclusion of <b>English, European science</b> in education</li>
                <li>Founded: <b>DHARUL ULOOM & NADWATAL ULAMA</b> <span class="yellow"><b> @Lucknow</b></span></li>
                <li>Believed: Idealism of INC & <b>Co-operation bet Hindu Muslim</b></li>
            </ul> 
            </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1867</td>
            <td>
                <div><b>PRARTHANA SAMAJ</b></div>
                <div class="blue"><b>@Bombay</b></div>
            </td>
            <td class="image-content">
                <div><img class = "profile-imagep" src="../../assets/table/parthana1.jpg"></div>
                <div><img class = "profile-imagep" src="../../assets/table/parthana2.jpg"></div>
                <div><img class = "profile-imagep" src="../../assets/table/dhondo.jpg"></div>
                <div>Dhondo Keshav Karve</div>
            </td>
            <td> <ul class="tablepoint">
                <li><b>ATMARAM PANDURANG</b></li>
                <div>(Helped by - Kesab chandra sen)</div>
                <li>After 1870 : <b>MAHADEO GOVIND RANADE</b></li></ul>
            </td>
            <td>
                <ul class="tablepoint">
                <li>Secret society to Spread <b>liberal ideas</b></li>
                <li>Encourage breakdown of caste barriers</li>
                <li><b>MONOTHEISM</b> but mainly social reform than religion reform</li>
                <li>Relied on education, importance to reason, not on confrontation-orthodox</li>
                <li><b><u>4 Point agenda</u></b></li>
                </ul>
                    <ul class="tablepoint2">
                        <li>Disapproval of caste system</li>
                        <li>Women education</li>
                        <li>Widow remarriage</li>
                        <li>Raise age of marriage-both gender</li>
                      </ul>
                
            </td>
            <td><ul class="tablepoint">
                <li>Mahadeo efforts- Samaj gained all India character.</li>
                <li>Sabha: Very attached to <b>BHAKTI CULT of Maharashtra</b>.</li></ul>
            </td>
            <td>
                <div>Precursor: <b><u>Paramahansa Sabha</u></b></div>
                <br>
                <div>Others leaders:
                    <ul class="tablepoint">
                        <li>RG Bhandarkar</li>
                        <li>NG Chandavarkar</li>
                        <li>Dhondo Keshav Karve</li>
                        <li>Vishnu Shastri</li>
                    </ul>
                </div><br>
                <div>KARVE & RANADE- founded 
                    <ul class="tablepoint2">
                    <b><li>Widow Remarriage Association </li>
                         <li>Widow Home Association</li></b> </ul>            
                    (To provide education, train widows)</div>
            </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1872</td>
            <td>
                <div><b>THEOSOPHICAL MOVEMENT</b></div>
                <div>@New York</div>
                <div><span class="pink"><b>@Adyar</b></span> 1875</div>
            </td>
            <td class="image-content">
                <div><img class = "profile-imagesq" src="../../assets/table/madamehp.jpg"></div>
                <div><img class = "profile-imagep" src="../../assets/table/annieB.jpg"></div>
            </td>
            <td>
                    <ul class="tablepoint">
                        <b><li>MADAME HP</li>
                            <li>BLAVATSKY</li>
                            <li>COLONEL MS OLCOTT</li></b>
                    
                <br>
                <li>1907 - <b>ANNIE BESANT</b> became president</li></ul>
            </td>
            <td>
                
                    <ul class="tablepoint">
                        <li>Special relation between <b>SOUL & GOD</b></li>
                        <li>Try achieve by prayer, revelation                        </li>
                    </ul><br>
                    <ul class="tablepoint">
                <li>Accepted Hindu beliefs- <b>Karma, Reincarnation.</b></li>
                <li>Inspiration: <b>Upanishad, yoga, Samkhya, Vedanta school.</b></li>
                <li>Aim: <b>Universal brotherhood</b>-without race, caste, colour.</li>
                <li>To investigate unexplained law of nature, <b>power latent in man</b>.</li></ul>
            </td>
            <td>opposed- Child marriage, caste, Improve widows conditions</td>
            <td> <ul class="tablepoint">
                <li>Came to Allied with <b>HINDU RENAISSANCE</b>, 
                    At one time with Arya samaj also                                      
                </li>
                <li>Provided <b>common denominator-for various sects</b>, fulfilled urge of  educated Hindus</li>
                <li>But for average person lacked positive program,
                    Impact limited to small westernised segment 
                </li>
                <li>As a Religion revivers not succeeded, 
                    But as a movement of glorifying Indian religious, Philosophy traditions - gave much self-respect to India against British rule
                </li>
                <li>But if viewed in another perspective- it gave false sense of pride to Indians (Backward outdated Traditions)</li>
            </ul>           
        </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1873</td>
            <td>
                <div><b>SATYASHODHAK SAMAJ</b></div>
                <div class="blue"><b>@Maharastra</b></div>
            </td>
            <td class="image-content"><img class = "profile-imagesq" src="../../assets/table/jyotiba.jpg"></td>
            <td>
                <div>
                    <ul class="tablepoint">
                        <li><b>JYOTIBA PHULE</b></li></ul>
                        <div class="blue"><b>@Satara</b></div>
                        <div>Mali community-gardener</div>
                        <div>Awarded: <b>MAHATMA TITLE</b></div>
                    
                </div><br>
                <div>
                    <ul class="tablepoint">
                        
                        <li>Elected secratary: <b>Narayanrao Govindrao Kadalak</b></li>
                    </ul>
                </div>
            </td>
            <td> <ul class="tablepoint">
                <li>Powerful movement-against upper class domination, Brahmanical supremacy</li>
                <li>Aim: Social service education among Low caste, women</li>
                <li>Complete abolition of caste, social economic inequalities</li></ul>
                <div>
                    <ul class="tablepoint">
                        <li><b>Against: Sanskrit Hinduism</b></li>
                        <li><i><b>"Pioneer in women education"</b></i></li>
                        <li>Believed in <b>gender quality</b></li>
                    </ul>
                </div>
            </td>
            <td>
                <div>Gave Leaderships to: Malis, Telis, Saris, Kunbis, Dhangars.</div>
                <div>
                    <ul class="tablepoint">
                        <li>Phule: Inspiration for masses</li>
                        <li>His movement-gave sense to depressed class against Brahmin (those who used religion to exploit masses)</li>
                    </ul>
                </div>
                <div>
                    <ul class="tablepoint">
                        <li><b>Savitribhai</b> (his wife) helped to open Girls school <span class="blue"><b>@Poona</b></span></li>
                        <li>Homes for widows opened in 1854</li>
                    </ul>
                </div>
            </td>
            <td>
               <u> Phule works: </u>
                    <ul class="tablepoint"> 
                    <li><b>GULAMGIRI</b></li>
                    <li><b>SARVAJANIK SATYADHARMA</b></li>
                    </ul>
                <br>
                <div>Used Symbol of <b>RAJAH BALI opposed</b> to Brahmins Symbol of <b>RAMA</b></div>
            </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1873</td>
            <td>
                <div><b>SINGH SABHA MOVEMENT</b></div>
                <div class="green"><b>@Amritsar</b></div>
            </td>
            <td class="image-content"><img class = "profile-imagep" src="../../assets/table/singhsabha.jpg"></td>
            <td></td>
            <td><ul class="tablepoint"> 
                <li><b>Modern education</b> to Sikhs</li>
                <li>To <b>counter activities</b>- Christain missionary, Bramho, Arya, Muslim maulvis</li></ul>
            </td>
            <td><b>Khalsa school throughout Punjab</b></td>
            <td><ul class="tablepoint"> 
                <li>Everything that is against guru teachings are rejected</li>
                <li>Rites/Customs which are Consistent with Sikh doctrine are accepted</li></ul>
            </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1887</td>
            <td>
                <div><b>DEV SAMAJ</b></div>
                <div class="green"><b>@Lahore</b></div>
            </td>
            <td class="image-content"><img class = "profile-imagep" src="../../assets/table/shivnarayan.jpg"></td>
            <td><b>SHIV NARAYAN AGNIHOTRI</b></td>
            <td><ul class="tablepoint"> 
                <li><b>Eternal of soul</b></li>
                <li><b>Supremacy of guru</b></li>
                <li><b>Ideal social behaviours</b>- No alcohol, bribe, violence, non veg</li></ul>
            </td>
            <td><b>DEVA SHASTRA BOOK</b></td>
            <td>SN Agnihotri (<b>Brahmo follower</b>) Spoke against Child marriage</td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1887</td>
            <td><b>INDIAN SOCIAL CONFERENCE</b></td>
            <td class="image-content">
                <div><img class = "profile-imagep" src="../../assets/table/parthana2.jpg"></div>
                <div><img class = "profile-imagep" src="../../assets/table/ragunathrao.jpg"></div>
            </td>
            <td><ul class="tablepoint">
                <b><li>MG RANADE</li>
                    <li>RAGUNATH RAO</li></b>
            </ul>
            </td>
            <td>
                <ul class="tablepoint">
                    <li>Social issues,</li>
                    <li>Intercaste marriage</li>
                    <li>Opposed polygamy, Kulinism</li>
                </ul>
            </td>
            <td><b>PLEDGE MOVEMENT</b>-to inspire people against <b>Child marriage</b></td>
            <td><ul class="tablepoint">
                <li><b>1st session </b> <span class="pink"> <b>@Madras</b></span></li>
                <div>(same venue with INC)</div>
                <li><b>Social reform cell of INC</b></li></ul>
            </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1889</td>
            <td><b>AHMADIYYA MOVEMENT</b></td>
            <td class="image-content"><img class = "profile-imagep" src="../../assets/table/mirza.jpg"></td>
            <td><b>MIRZA GHULAM AHMAD</b></td>
            <td>
                <ul class="tablepoint">
                    <li><b><u>Sect</u> of Islam origin in India</b></li>
                <li><b>Liberal</b> principles, <b>Western</b> Liberal Education</li>
                <li><b>Mohammedan Renaissance</b></li>
                </ul><br>
                <div>
                    <ul class="tablepoint">
                        <u>Like Brahmo samaj:</u>
                        <li><b>PRINCIPLE OF UNIVERSAL</b></li>
                        <li><b>RELIGION OPPOSING ZIHAD</b></li>
                    </ul>
                </div>
            </td>
            <td></td>
            <td>
                <u>Ideologies:</u>
                <ul class="tablepoint">
                    <li>Separation of  Mosque from state</li>
                    <li>Human Rights</li>
                    <li>Religious Toleration</li>
                    <li>Messiah came to end religious war, to install peace, justice, morality</li>
                </ul>
            </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1902</td>
            <td>
                <div><b>BHARAT DHARMA MAHAMANDALA</b></div>
                <div class="yellow"><b>@Varanasi</b></div>
            </td>
            <td class="image-content">
                <div><img class = "profile-imagesq" src="../../assets/table/dindayalu.jpg"></div>
                <div><img class = "profile-imagesq" src="../../assets/table/madanmohan.jpg"></div>
            </td>
            <td>
                <ul class="tablepoint">
                    <b><li>PANDIT DIN DAYALU SHARMA</li>
                        <li>MADAN MOHAN MALAVYA prominent</li></b>
                </ul>
               
            </td>
            <td>
             <ul class="tablepoint">   
                 <li><b>Defence of Orthodox</b> Hinduism</li>
                <li> <b>Opposed-Arya samaj, Theosophist, Ramkrishna</b></li>
                  <li>Proper management of Hindu institution </li>
                   <li>opened <b>Hindu education institution</b></li>
            </ul>
            </td>
            <td>
                <div>Merged 3:</div>
                <ul class="tablepoint">
                    <li><b>SANATANA DHARMA SABHA</b></li>+
                <li ><span class="pink">DHARMA MAHA PARISHAD (S.IND)</span></li>+
                <li ><span class="green">DHARMA MAHAMANDALA (Bengal)</span></li>
                </ul><br>
                <div>All combined in 1902</div>
            </td>
            <td>Opened Hindu college - Din Dayal </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1903</td>
            <td>
                <div><b>ARUVIPPURAM SREE NARAYANA GURU DHARMA PARIPALANA YOGAM (SNDP)</b></div>
            </td>
            <td class="image-content">
                <div><img class = "profile-imagesq" src="../../assets/table/narayanguru.jpg"></div>
                <div><img class = "profile-imagep" src="../../assets/table/kumaranasan.jpg"></div>
            </td>
            <td>
                <b><ul class="tablepoint">
                    <li>SREE NARAYANA GURU SWAMY (Chairman)</li>
                    <li>KUMARAN ASAN (General secretary)</li>
                    </ul></b>
            </td>
            <td>
                <ul class="tablepoint">
                    <li>All religions be same</li>
                <li><b>Condem Animal sacrifice</b></li>
                <li>SNDP: Right of admission in public schools, Pol representation, Access to roads, 
                    Recruit to govt services, Temple entry</li>
                <li><b>Upward social mobility</b></li>
                <br>
                <li>SNDP brought changes in :
                    <ul class="tablepoint2"><li><b>Federation of BC</b></li>
                        <li>Shift in Traditional distribution of Power</li></ul>
                 </li>
                </ul>
                
            </td>
            <td><ul class="tablepoint">
                        <li>Fight for social justice by creating</li>
                        <ul class="tablepoint2"><li><b>EZHAVA MEMORIAL</b></li>
                            <li><b>MALAYALI MEMORIAL</b></li></ul>
                        <br>
                    <li>Urged Ezhavas to leave toddy tapping, stop liquor drinking.</li>
                    <br>
                <li><b>@Aruvippuram temple</b>: inscribed:
                <i>"Devoid - all dividing walls of caste, race-all live in brotherhood"</i></li>
                    </ul>
                
            </td>
            <td>
                <ul class="tablepoint"><li><b><u>EZHAVAS</u></b> (low caste, untouchables, Toddy tappers)
                     had conflict with upper caste.
                   <br>(Not allowed into temple,<br>
                   Single largest group of kerala 26%)
                    </li>
                <li>Guru took stone <b>@R.Neyyar</b>- as Linga @Aruvippuram 1888 to show idol not monopoly of highercaste</li>
                <li>Inspired <b>Kumaran Asan</b> poet</li>
                <li>1889: <b>Aruvipurram Khestra Yogam</b>-To help Ezhavas progress</li>
                <li>1903: SNDP brought Under 
                    Indian companies Act
                </li></ul>
            </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1905</td>
            <td><b>SERVANTS OF IND SOCIETY</b></td>
            <td class="image-content">
                <div><img class = "profile-imagep" src="../../assets/table/ggg.jpg" ></div>
                <div><img class = "profile-imagep" src="../../assets/table/srinivas.jpg"></div>
            </td>
            <td>
                <ul class="tablepoint">
                    <li><b>GOPAL KRISH GOKUALE</b>
                        <br>(liberal leader of INC) 1915- Gokuale die
                    </li>
                    <li><b>SRINIVASA SHASTRI</b></li>
                </ul>
              
            </td>
            <td><ul class="tablepoint">
                <li>To train <b>national missionaries</b></li>
                <li>Changes by <b>constitutional means</b></li>
                <li>Make sure youngster to <b>stay away</b> from p<b>olitical activities, INC</b></li>
                <li>NOW: Still works- education, ashrams for tribal girls, Balwadis</li></ul>
            </td>
            <td>Prepare cadre of selfless workers to devote life for country in <b>religious spirit</b></td>
            <td><ul class="tablepoint">
                <li>Helped by: <b>MG RANADE</b></li>
                <li>1911- <b>HITAVADA</b> -published to protect society views</li></ul>
            </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1905</td>
            <td>
                <div><b>VOKKALIGA SANGHA</b></div>
                <div class="violet"><b>@Mysore</b></div>
            </td>
            <td></td>
            <td></td>
            <td><b>Anti-Brahmin movement</b></td>
            <td></td>
            <td></td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1908</td>
            <td><b>SEVA SADAN</b></td>
            <td class="image-content">
                <div><img class = "profile-imagesq" src="../../assets/table/malabari.jpg"></div>
                <div><img class = "profile-imagesq" src="../../assets/table/dayaram.jpg"></div></td>
            <td>
                    <ul class="tablepoint">
                        <li> BEHRAMJI M MALABARI
                            <br><b>(Indian spectator)</b></li>
                        <li>DIWAN DAYARAM GIDUMAL</li>
                    </ul>
            </td>
            <td><ul class="tablepoint">
                <li>Child marriage, Widow remarriage,</li>
                <li>Taking care exploited women,</li>
                <li>Give education on medical welfare services</li>
                <li>Food to all caste</li></ul>
            </td>
            <td>
                <div>Led to <b>AGE OF CONSENT ACT</b></div>
                <div>(Female age consent)</div>
            </td>
            <td></td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1917</td>
            <td>
                <div><b>JUSTICE MOVEMENT</b></div>
                <div class="pink"><b>@Madras</b></div>
            </td>
            <td></td>
            <td>
                <ul class="tablepoint">
                    <b><li>P. THEAGARAYA CHETTY</li>
                        <li>C. NATESA MUDALIAR</li>
                        <li>T. MADHAVA NAIR</li></b>
                </ul>
            </td>
            <td>To secure job for <b>Non Brahmins in <u>legislature</u></b></td>
            <td> <ul class="tablepoint">
                <li><b>Madras Presidency Association</b>- formed.</li>
                <li>Demand: <b>separate representation</b> for lower caste in legislature</li></ul>
            </td>
            <td></td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1920</td>
            <td>
                <div><b>SOCIAL SERVICE LEAGUE</b></div>
                <div class="blue"><b>@Bombay</b></div>
            </td>
            <td class="image-content"><img class = "profile-imagep" src="../../assets/table/narayanmalhar.jpg"></td>
            <td><b>NARAYAN MALHAR JOSHI</b> (Gokhale follower)</td>
            <td>Secure masses for Better Reasonable conditions and work</td>
            <td>
                <ul class="tablepoint">
                    <li>Libraries, school co-operative society</li>
                    <li>legal aid, advice to poor</li>
                    <li>theatrical performance,  sanitary work,</li>
                    <li>medical relief</li>
                    <li>boys club, scout corps</li>
                </ul>
            </td>
            <td>Later he formed <b>ALL IND TRADE UNION FEDERATION 1920</b> 
                (<b>VV Giri</b> 1st President)</td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1920</td>
            <td><b>SELF RESPECT MOVEMENT</b></td>
            <td class="image-content"><img class = "profile-imagep" src="../../assets/table/periyar.jpg"></td>
            <td><b><i>“PERIYAR”</i> <br> EV RAMASAMY</b></td>
            <td>
                <b>Rejection of Brahmanical</b> religion and culture
                <br> (Which is primary instrument for exploitation of lower caste)
            </td>
            <td>Formalised <b>wedding without Priest</b>-to undermine Brahmin position</td>
            <td></td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1921</td>

            <td><b>AKHALI MOVEMENT (GURUDWARA REFORM MOVEMENT)</b></td>

            <td class="image-content"><img class = "profile-imagesq" src="../../assets/table/akhali.jpg"></td>

            <td>Branch of Singh Sabha Movement</td>

            <td><ul class="tablepoint">
                <li><b>Liberate Gurudwaras</b> - from Corrupt <b>Udasi Mahants</b> (post became hereditary)</li>
                <li>Regional movement but <b>not communal</b></li></ul>
            </td>
            <td><ul class="tablepoint">
                <li>Govt repressed- Nonviolent, Non co-operative satyagraha-akalis</li>
                <li>But passed 
                    <b>SIKH GURUDWARAS ACT 1922</b> - Control of gurudwara passed to Sikhs masses - through <b>
                        <u>SHIROMANI GURUDWARA PRABANDHAK COMMITTEE</u></b> (apex body) 
                </li></ul>
            </td>
            <td><ul class="tablepoint">
                <li>Mahants – who are loyal to govt, reactionaries to govt patronage</li>
                <li>AKALIS-notable role in National liberation struggle</li></ul>
            </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1924</td>
            <td><b>TEMPLE ENTRY MOVEMENT</b></td>
            <td class="image-content"><img class = "profile-imagep" src="../../assets/table/kesavan.jpg"></td>
            <td>
                <div><b>KP KESAVAN</b></div>
                <div class="green"><b>@Vaikom KL North Travancore</b></div>
            </td>
            <td>Demand- Open <b>temple, roads</b> to untouchables</td>
            <td></td>
            <td>
                <div>
                    <ul class="tablepoint">
                        <li>Reinforced by <b><u>JATHAS</u></b> (at Punjab & Madurai).</li>
                        <li><b>Gandhi toured & supported</b></li>
                    </ul>
                </div> <br>
                <div><u>Earlier reformers:</u>
                    <ul class="tablepoint">
                        <li><b>Sree Narayana Guru</b></li>
                        <li><b>N Kumaran Asan</b></li>
                        <li><b>Tk Madhavan</b> (deshabhimani editor)</li>
                    </ul>
                </div>
            </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
<tr>
            <td>1931 (CDM)</td>
            <td><b>TEMPLE ENTRY MOVEMENT</b></td>
            <td></td>
            <td><ul class="tablepoint">
                <li>Poet <b>SUBRAMANIYAM TIRUMAMBU</b></li>
                <li>inspired from 
                   <b> K. KELAPPAN</b>
                </li>
            </ul>
            </td>

            <td>
                <div>Issue of temple entry</div>
                <div class="green"><b>@Travancore</b></div>
            </td>

            <td>
            <ul class="tablepoint">
                <li>Entered <b>Guruvayur temple</b> with 6 volunteers, <b>Singing sword of kerala</b>.</li>
                <li>1936- Maharaja of Travancore- opened all govt control temples to all Hindus.</li>
            </ul>
            </td>

            <td>
            <ul class="tablepoint">
                <li>Satyagrahis- 
                    <ul class="tablepoint2">
                        <b><li>AK GOPALAN </li>
                        <li> P KRISHNA PILLAI</li></b>
                    </ul>
                <li>1938 - <b>Rajaji</b> carried similar type movement <span class="pink"><b>@Madras</b></span></li>
            </ul>
        </td>
        </tr>
<!-- ----------------------------------------------------------------------------- -->
</table>
</div>
</div>







<br><br><br><br><br><br>
<div class="instruction">
    <h4>Mistakes to be avoided to score better:</h4>
     <br>
    <ul>
        
        <li>Colour Differentiation: Places (Make use the colour differentiation in the content so that it is
            easy to remember places)
              
            <br> <span style="color: green;"> Bengal-green</span> <br>  <span style="color: skyblue;">Bombay-blue</span> <br>  <span style="color: palevioletred;">Madras-pink</span>
            <br> <span style="color: darkgreen;"> Punjab-thick green</span> <br>  <span style="color: orange;"> UP-orange</span> <br>  <span style="color: lightgreen;">Kerala-light green</span>
        </li> 
        
        <li>After reading the content once, just read the bold letters to revise, so that you can revise
            quickly (Bold letters are very important don’t ignore them)</li>
        
        
        <li>History is of facts and is easily forgotten, so keep on revising whenever you have time. </li>
       
    </ul>
</div>



<br> <br> <br> <br><br><br><br><br><br><br>

<div class="commentsouter">
    <h3 class="topic-container">Add your thoughts</h3>
    <div class="form-container">
        <form [formGroup] = "commentForm" class="form-display">
            <div class="form-group">
                <label><b>Comment</b></label>
                <textarea class="form-control" formControlName = "comment" rows="5"></textarea>
            </div>
    
            <div class="form-group">
                <label><b>Name</b></label>
                <input type="text" class="form-control" formControlName = "name">
            </div>
    
            <div class="form-group">
                <label><b>Email</b></label>
                <input type="email" class="form-control" formControlName = "email">
            </div>

            <div class="post-button">
                <button class="btn btn-danger button-size" (click) = "comment()">Post Comment</button>
            </div>

        </form>
    </div>
</div>

<div>
    <h3 class="topic-container">Comments</h3>

    <div *ngFor = "let comments of postComments let i = index" class="comment-section">
        <div>
            <img [src] = 'avatar' width="100" height="100">
            {{comments.name}} says:
        </div>
        <div class="comment">
            {{comments.comment}}
        </div>
    </div>
</div>


<app-footer></app-footer>










