<div>
    <h1 class="title">Social Reforms</h1>
</div>


<div class="table-responsive content-spacing table-conatiner">
    <table class = "table table-hover">
        <tr class="table-active" >
            <th>YEAR</th>
            <th>MOVEMENT</th>
            <th></th>
            <th>WHO</th>
            <th>OBJECTIVE</th>
            <th>EVENTS</th>
            <th>OTHERS</th>
        </tr>

        <tr>
            <td>1782</td>
            <td><b>TITU MIR'S MOVEMENT</b></td>
            <td class="image-content"><img class = "profile-image" src="../../assets/table/mirnithar.jpg"></td>
            <td>MIR NITHAR ALI</td>
            <td><b>Wahhabism</b> & <b>Sharia</b></td>
            <td>Organized <span class="green"> Bengal Muslim peasants</span> against Hindu landlord & British indigo planters</td>
            <td>Ali killed in 1831</td>
        </tr>
        
        <tr>
            <td>1812</td>
            <td>
                <div><b>FARAIZA MOVEMENT</b></div>
                <div>(Fara'idi)</div>
                <div class="green">@E.Bengal</div>
            </td>
            <td class="image-content"><img class = "profile-image" src="../../assets/table/haji.jpg"></td>
            <td>HAJI SHARIATULLAH DUDU MIAN</td>
            <td>
                <div>Islamic pillar of faith</div>
                <div><b><u>Eradication</u> of social innovation, unislamic practices</b></div>
            </td>
            <td>
                <ul class="list">
                    <li>1840- Haji's Son DUDU MIAN became Revolutionary</li>
                    <li>Asked <b>not to pay rent</b></li>
                    <li>1847 arrested, so movement weakened</li>
                </ul>
            </td>
            <td>
                <ul class="list">
                    <li>Formed <b>Organisational system</b> (village to province) under <b><u>KHALIFA</u></b> (authorised deputy)</li>
                    <li>#<b>Paramilitary forces</b>-to fight zamindaris (mostly Hindu, some Muslim)</li>
                    <li>#Had <b>own law courts</b></li>
                </ul>
            </td>
        </tr>
        
        <tr>
            <td>1830</td>
            <td>
                <div><b>YOUNG BENGAL MOVEMENT </b></div>
                <div class="green">@Bengal</div>
            </td>
            <td class="image-content"><img class = "profile-image" src="../../assets/table/henry.jpg"></td>
            <td>
                <ul class="list">
                    <li>HENRY VIVIAN DEROZIO</li>
                    <li>(Anglo Indian) 1st Poet of Modern India</li>
                </ul>
            </td>
            <td>
                <div>Radical, intellectual trend among youth</div>
                <div>#Surendranath describes him: </div>
                <div><i>“Pioneers of Modern civilization”</i></div>
            </td>
            <td>
                <ul class="list">
                    <li>Questioned authority</li>
                    <li>love liberty, equality, freedom</li>
                    <li>opposed customs, traditions</li>
                    <li>Women rights, education</li>
                    <li>Carried forward <b>RRMRoy</b> questions on public education, protection of zamindaris, High grade service-To Indians, Better treatment Indian labour abroad, Press freedom, Trial by jury</li>
                </ul>
            </td>
            <td>
                <div>Studied @Hindu college</div>
                <div>Inspiration: <b>French Revolution</b></div>
                <div>In 1831 removed from college</div>
                <div>
                    <u>Main reason for limited success:</u>
                    <ul class="list">
                        <li>Prevailing social condition not ripe for adoption of radical ideas</li>
                        <li>No support any social class,</li>
                        <li>Lacked link with mass</li>
                        <li><b>Failed</b> to take up <b>peasant cause</b></li>
                    </ul>
                </div>
            </td>
        </tr>
        
        <tr>
            <td>1830</td>
            <td><b>DHARMA SABHA</b></td>
            <td class="image-content"><img class = "profile-image1" src="../../assets/table/radhakhant.jpg"></td>
            
            <td>RADHAKHANT DEB</td>
            <td>
                <ul class="list">
                    <li><b>Orthodox</b> sect</li>
                    <li>Preservation of <b>STATUS QUO</b> in social religious matters</li>
                </ul>
            </td>
            <td></td>
            <td>
                <ul class="list">
                    <li>Even <b>opposed Abolition of Sati</b></li>
                    <li>But <b>favored Western education</b> to girls</li>
                </ul>
            </td>
        </tr>
        
        <tr>
            <td>1849</td>
            <td>
                <div><b>PARAMAHANSA MANDALI</b></div>
                <div class="blue">@Maharastra</div>
                <div>(Branches @Poona, Satara)</div>
            </td>
            <td class="image-content"><img class = "profile-image" src="../../assets/table/dadoba.jpg"></td>
            <td>DADOBA PANDURANG MEHTAJI DURGARAM</td>
            <td>
                <ul class="list">
                    <li>Secret society- to <b>reform Hindu religion, society</b></li>
                    <li><b><u>One god</u></b> worship</li>
                    <li>Real religion- based on LOVE, MORAL</li>
                    <li>Freedom of thought encouraged- <b>Rationality</b></li>
                </ul>
            </td>
            <td>Primarily interest: Break caste rules, <b>food cook low caste</b> taken, widow remarriage, women education</td>
            <td>Ideology: Closely linked to <b>MANAV DHARMA SABHA</b></td>
        </tr>
        
        <tr>
            <td>1849</td>
            <td>
                <div><b>WAHABI/WALLIULLAH MOVEMENT</b></div>
                <div>(refer-revolt)</div>
            </td>
            <td class="image-content"><img class = "profile-image" src="../../assets/table/wahabi.jpg"></td>
            <td></td>
            <td>Desirability of <b>harmony between 4 school of Muslim</b> (which is divided)</td>
            <td></td>
            <td>Main role in Revolt 1857 - spread anti-British  feelings</td>
        </tr>
        
        <tr>
            <td>1851</td>
            <td><b>PARSI REFORM MOVEMENT</b></td>
            <td></td>
            <td>
                <div><b><u>RAHNUMAI MAZDAYASNAN SABHA</u></b></div>
                <div>(group of educated parsis)</div>
                <ul class="list">
                    <li>NAOROJI FURDONJI</li>
                    <li>DADABHAI NAOROJI</li>
                    <li>KR CAMMA</li>
                    <li>SS BENGALEE</li>
                </ul>
            </td>
            <td>
                <ul class="list">
                    <li>Regeneration of social conditions of Parsis</li>
                    <li>
                        <div>Restore <b>Zoroastrian religion</b>,</div>
                        <div>Religious rituals</div>
                        <div>Creed redifined</div>
                    </li>
                    <li>Women uplift, <b>remove PURDAH</b> / rise age marriage</li>
                </ul>
            </td>
            <td>
                <div>Newspaper:</div>
                <div><b>RAST GOFTAR</b></div>
            </td>
            <td>Emerged as most westernised section</td>
        </tr>
        
        <tr>
            <td>1861</td>
            <td>
                <div><b>RADHASWAMI MOVEMENT</b></div>
                <div class="yellow">@Agra</div>
            </td>
            <td class="image-content"><img class = "profile-image" src="../../assets/table/shivdayal.jpg"></td>
            <td>
                <div>SHIV DAYAL SAHEB</div>
                <div><b>(TULSI RAM)</b></div>
            </td>
            <td>
                <ul class="list">
                    <li><b>One supreme</b> being</li>
                    <li><b>Supremacy of <u>GURU</u></b></li>
                    <li>Simple social life, <b>no worldly</b> life</li>
                    <li><b>Nonbelief</b> in <b>Temple</b>, sacred place</li>
                </ul>
            </td>
            <td></td>
            <td>
                <div>Work of faith, charity, service, prayer</div>
                <div><b>All religion to be true</b></div>
            </td>
        </tr>
        
        <tr>
            <td>1866</td>
            <td>
                <div><b>DEOBAND SCHOOL</b></div>
                <div class="yellow">@Darul Uloom UP</div>
            </td>
            <td class="image-content">
                <div><img class = "profile-image9" src="../../assets/table/mohamadqusim.jpg"></div>
                <div><img class = "profile-image8" src="../../assets/table/shibli.jpg"></div>
                <div>SHIBLI</div>
            </td>
            <td>
                <div>
                    <ul class="list">
                        <li>MOHAMAD QUSIM NANOTAVI,</li>
                        <li>RASHID AHMED GANGOHI</li>
                    </ul>
                </div>
                <div>
                    <ul class="list">
                        <li>Later:</li>
                        <li>MAHUMUD UL HASAN</li>
                        <li>JAMIAT UL ULEMA</li>
                    </ul>
                </div>
                <div>Supporter: SHIBLI NUMANI</div>
            </td>
            <td>
                <ul class="list">
                    <li><b>Orthodox</b> Muslim section</li>
                    <li>Propagate-<b>Pure teaching</b> of Quran, Hadis</li>
                    <li>Keep <b>spirit of Jihad</b> against foreigners</li>
                </ul>
            </td>
            <td>
                <div>Train religious leaders, moral religious regeneration</div>
                <div>(<b>Contrast to Aligarh</b>-West education, support govt)</div>
                <div>#HASAN: gave <b>political & intellectual content to religious ideas</b></div>
                <div>Synthesis of <b>ISLAMIC PRINCIPLES + NATIONALIST ASPIRATION</b></div>
                <div>#ULEMA: gave concrete shape to Hussan idea- protection of political religious rights in context of <b>National unity</b></div>
            </td>
            <td>
                <div><b>Welcomed INC</b> (not opposed)</div>
                <div>Issued <b>FATWA against Syed Ahmed's</b>-United Patriotic Association Mohammaden Anglo-Orientation Association</div>
                <div>--------------------------------------------------------------------------------------------------------------------</div>
                <div><b>#SHIBLI:</b> Favoured inclusion of <b>English, European science</b> in education</div>
                <div>Founded: <b>DHARUL ULOOM + NADWATAL ULAMA</b> <span class="yellow">@Lucknow</span></div>
                <div>Believed: Idealism of INC & <b>Co-operation bet Hindu Muslim</b></div>
            </td>
        </tr>
        
        <tr>
            <td>1867</td>
            <td>
                <div><b>PRARTHANA SAMAJ</b></div>
                <div class="blue">@Bombay</div>
            </td>
            <td class="image-content">
                <div><img class = "profile-image5" src="../../assets/table/parthana1.jpg"></div>
                <div><img class = "profile-image5" src="../../assets/table/parthana2.jpg"></div>
                <div><img class = "profile-image5" src="../../assets/table/dhondo.jpg"></div>
                <div>Dhondo Keshav Karve</div>
            </td>
            <td>
                <div>ATMARAM PANDURANG</div>
                <div>(Help- Kesab chandra sen)</div>
                <div>1870:MAHADEO GOVIND RANADE</div>
            </td>
            <td>
                <div>Secret society to Spread <b>liberal ideas</b></div>
                <div>Encourage breakdown of caste barriers</div>
                <div><b>MONOTHEISM</b> but mainly social reform than religion reform</div>
                <div>Relied on education, importance to reason, not on confrontation-orthodox</div>
                <div>
                    <ul class="list">
                        <li>#4 Point agenda</li>
                        <li>Disapproval of caste system</li>
                        <li>Women education</li>
                        <li>Widow remarriage</li>
                        <li>Raise age of marriage-both gender</li>
                    </ul>
                </div>
            </td>
            <td>
                <div>Mahadeo efforts- Samaj gained all India character</div>
                <div>Sabha: Very attached to <b>BHAKTI CULT of Maharashtra</b></div>
            </td>
            <td>
                <div>Precursor: <b><u>Paramahansa Sabha</u></b></div>
                <div>
                    <ul class="list">
                        <li>Others:</li>
                        <li>RG Bhandarkar</li>
                        <li>NG Chandavarkar</li>
                        <li>Dhondo Keshav Karve</li>
                        <li>Vishnu Shastri</li>
                    </ul>
                </div>
                <div>#KARVE+RANADE- founded <b>Widow Remarriage Association & Widow Home Association</b>             
                    To provide education, train widows</div>
            </td>
        </tr>
        
        <tr>
            <td>1872</td>
            <td>
                <div><b>THEOSOPHICAL MOVEMENT</b></div>
                <div>@New York</div>
                <div><span class="pink">@Adyar</span>1875</div>
            </td>
            <td class="image-content">
                <div><img class = "profile-image5" src="../../assets/table/madamehp.jpg"></div>
                <div><img class = "profile-image5" src="../../assets/table/annieB.jpg"></div>
            </td>
            <td>
                <div>
                    <ul class="list">
                        <li>MADAME HP</li>
                        <li>BLAVATSKY</li>
                        <li>COLONEL MS OLCOTT</li>
                    </ul>
                </div>
                <div>1907-ANNIE BESANT president</div>
            </td>
            <td>
                <div>
                    <ul class="list">
                        <li>Special relation between <b>SOUL&GOD</b></li>
                        <li>Try achieve by prayer, revelation                        </li>
                    </ul>
                </div>
                <div>Accepted Hindu beliefs- <b>Karma, Reincarnation</b></div>
                <div>Inspiration: <b>Upanishad, yoga, Samkhya, Vedanta school</b></div>
                <div>Aim: <b>Universal brotherhood</b>-without race, caste, colour</div>
                <div>To investigate unexplained law of nature, <b>power latent in man</b></div>
            </td>
            <td>oppose- Child marriage, caste, Improve widows conditions</td>
            <td>
                <div>Came to Allied with <b>HINDU RENAISSANCE</b>, 
                    At one time with Arya samaj also                                      
                    </div>
                <div>#Provided <b>common denominator-for various sects</b>, fulfilled urge of  educated Hindus</div>
                <div>But for average person lacked positive program,
                    Impact limited to small westernised segment 
                    </div>
                <div>As a Religion revivers not succeeded, 
                    But as a movement of glorifying Indian religious, Philosophy traditions - gave much self-respect to India against British rule
                    </div>
                <div>But if viewed in another perspective- it gave false sense of pride to Indians (Backward outdated Traditions)</div>
            </td>
        </tr>
        
        <tr>
            <td>1873</td>
            <td>
                <div><b>SATYASHODHAK SAMAJ</b></div>
                <div class="blue">@Maharastra</div>
            </td>
            <td class="image-content"><img class = "profile-image9" src="../../assets/table/jyotiba.jpg"></td>
            <td>
                <div>
                    <ul class="list">
                        <li>JYOTIBA PHULE</li>
                        <li class="blue">@Satara</li>
                        <li>Mali community-gardener</li>
                        <li>Awarded: <b>MAHATMA TITLE</b></li>
                    </ul>
                </div>
                <div>
                    <ul class="list">
                        <li>Elected secratary:</li>
                        <li>Narayanrao Govindrao Kadalak</li>
                    </ul>
                </div>
            </td>
            <td>
                <div>Powerful movement-against upper class domination, Brahmanical supremacy</div>
                <div>Aim: Social service education among Low caste, women</div>
                <div>Complete abolition of caste, social economic inequalities</div>
                <div>
                    <ul class="list">
                        <li><b>Against: Sanskrit Hinduism</b></li>
                        <li>Pioneer in women education</li>
                        <li>(believe: gender quality)</li>
                    </ul>
                </div>
            </td>
            <td>
                <div>Gave Leaderships to: Malis, Telis, Saris, Kunbis, Dhangars</div>
                <div>
                    <ul class="list">
                        <li>Phule: Inspiration for mass</li>
                        <li>His movement-gave sense to depressed class against Brahmin (those who used religion to exploit masses)</li>
                    </ul>
                </div>
                <div>
                    <ul class="list">
                        <li>Savitribhai (his wife) helped to open Girls school <span class="blue">@Poona</span></li>
                        <li>Homes for widows 1854</li>
                    </ul>
                </div>
            </td>
            <td>
                <div>Phule works: <b><u>GULAMGIRI</u></b></div>
                <div><b>SARVAJANIK SATYADHARMA</b></div>
                <div>used Symbol of <b>RAJAH BALI opposed</b> to Brahmins Symbol of <b>RAMA</b></div>
            </td>
        </tr>
        
        <tr>
            <td>1873</td>
            <td>
                <div><b>SINGH SABHA MOVEMENT</b></div>
                <div class="green">@Amritsar</div>
            </td>
            <td class="image-content"><img class = "profile-image" src="../../assets/table/singhsabha.jpg"></td>
            <td></td>
            <td>
                <div><b>Modern education</b> to Sikhs</div>
                <div>To <b>counter activities</b>- Christain missionary, Bramho, Arya, Muslim maulvis</div>
            </td>
            <td><b>Khalsa school throughout Punjab</b></td>
            <td>
                <div>Everything that is against guru teachings are rejected</div>
                <div>Rites/Customs which are Consistent with Sikh doctrine are accepted</div>
            </td>
        </tr>
        
        <tr>
            <td>1887</td>
            <td>
                <div><b>DEV SAMAJ</b></div>
                <div class="green">@Lahore</div>
            </td>
            <td class="image-content"><img class = "profile-image" src="../../assets/table/shivnarayan.jpg"></td>
            <td>SHIV NARAYAN AGNIHOTRI</td>
            <td>
                <div><b>Eternal of soul</b></div>
                <div><b>Supremacy of guru</b></div>
                <div><b>Ideal social behaviours</b>- No alcohol, bribe, violence, non veg</div>
            </td>
            <td><b>DEVA SHASTRA BOOK</b></td>
            <td>
                <div>SN Agnihotri - <b>Brahmo follower</b></div>
                <div>Spoke against Child marriage</div>
            </td>
        </tr>

        <tr>
            <td>1887</td>
            <td><b>INDIAN SOCIAL CONFERENCE</b></td>
            <td class="image-content">
                <div><img class = "profile-image5" src="../../assets/table/parthana2.jpg"></div>
                <div><img class = "profile-image5" src="../../assets/table/ragunathrao.jpg"></div>
            </td>
            <td>
                <div>MG RANADE</div>
                <div>RAGUNATH RAO</div>
            </td>
            <td>
                <ul class="list">
                    <li>Social issues,</li>
                    <li>Intercaste marriage</li>
                    <li>Opposed polygamy, Kulinism</li>
                </ul>
            </td>
            <td><b>PLEDGE MOVEMENT</b>- inspire people against <b>Child marriage</b></td>
            <td>
                <div><b>1st session</b><span class="pink">@Madras</span></div>
                <div>(same venue with INC)</div>
                <div><b>Social reform cell of INC</b></div>
            </td>
        </tr>

        <tr>
            <td>1889</td>
            <td><b>AHMADIYYA MOVEMENT</b></td>
            <td class="image-content"><img class = "profile-image" src="../../assets/table/mirza.jpg"></td>
            <td>MIRZA GHULAM AHMAD</td>
            <td>
                <div><b><u>Sect</u> of Islam origin in India</b></div>
                <div><b>Liberal</b> principles, <b>Western</b> Liberal Education</div>
                <div><b>Mohammedan Renaissance</b></div>
                <div>
                    <ul class="list">
                        <li>Like Brahmo samaj:</li>
                        <li><b>PRINCIPLE OF UNIVERSAL</b></li>
                        <li><b>RELIGION OPPOSING ZIHAD</b></li>
                    </ul>
                </div>
            </td>
            <td></td>
            <td>
                <u>Ideologies:</u>
                <ul class="list">
                    <li>Separation of  Mosque from state</li>
                    <li>Human Rights</li>
                    <li>Religious Toleration</li>
                    <li>Messiah came to end religious war, to install peace, justice, morality</li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>1902</td>
            <td>
                <div><b>BHARAT DHARMA MAHAMANDALA</b></div>
                <div class="yellow">@Varanasi</div>
            </td>
            <td class="image-content">
                <div><img class = "profile-image4" src="../../assets/table/dindayalu.jpg"></div>
                <div><img class = "profile-image4" src="../../assets/table/madanmohan.jpg"></div>
            </td>
            <td>
                <div>PANDIT DIN DAYALU SHARMA</div>
                <div>MADAN MOHAN MALAVYA prominent</div>
            </td>
            <td>
                <div><b>Defence of Orthodox</b> Hinduism</div>
                <div>
                    <ul class="list">
                        <li><b>Opposed-Arya samaj,</b></li>
                        <li>Theosophist, Ramkrishna</li>
                    </ul>
                </div>
                <div>
                    <ul class="list">
                        <li>Proper management of Hindu institution </li>
                        <li>opened <b>Hindu education institution</b></li>
                    </ul>
                </div>
            </td>
            <td>
                <div>Merged 3:</div>
                <div><b>SANATANA DHARMA SABHA</b>+</div>
                <div class="pink">DHARMA MAHA PARISHAD (S.IND)</div><span>+</span>
                <div class="green">DHARMA MAHAMANDALA (Bengal)</div>
                <div>All combined in 1902</div>
            </td>
            <td>Opened Hindu college- Din Dayal </td>
        </tr>

        <tr>
            <td>1903</td>
            <td>
                <div><b>ARUVIPPURAM SREE NARAYANA GURU DHARMA PARIPALANA YOGAM (SNDP)</b></div>
            </td>
            <td class="image-content">
                <div><img class = "profile-image4" src="../../assets/table/narayanguru.jpg"></div>
                <div><img class = "profile-image4" src="../../assets/table/kumaranasan.jpg"></div>
            </td>
            <td>
                <div>SREE NARAYANA GURU SWAMY (Chairman)</div>
                <div>KUMARAN ASAN (General secretary)</div>
            </td>
            <td>
                <div>All religions be same</div>
                <div><b>Condem Animal sacrifice</b></div>
                <div>SNDP: Right of admission in public schools, Pol representation, Access to roads, Recruit to govt services, Temple entry</div>
                <div>
                    <ul  class="list">
                        <li>SNDP brought changes in :</li>
                        <li><b>Federation of BC</b></li>
                        <li>Shift in Traditional distribution of Power</li>
                    </ul>
                </div>
                <div><b>Upward social mobility</b></div>
            </td>
            <td>
                <div>
                    <ul class="list">
                        <li>Fight for social justice by creating</li>
                        <li><b>EZHAVA MEMORIAL</b></li>
                        <li>MALAYALI MEMORIAL</li>
                    </ul>
                </div>
                <div>Urged Ezhavas leave toddy tapping, stop liquor drinking</div>
                <div>
                    <ul class="list">
                        <li><b>@Aruvippuram temple</b>: inscribed:</li>
                        <li>Devoid-all dividing walls of caste, race-all live in brotherhood</li>
                    </ul>
                </div>
            </td>
            <td>
                <div><b><u>EZHAVAS</u></b> (low caste, untouchables, Toddy tappers) had conflict with upper caste 
                    Not allowed into temple 
                    single largest group of kerala 26%
                    </div>
                <div>Guru took stone <b>@R.Neyyar</b>- as Linga @Aruvippuram 1888 to show idol not monopoly of highercaste</div>
                <div>#Inspired Kumaran Asan poet</div>
                <div>#1889: <b>Aruvipurram Khestra Yogam</b>-To help Ezhavas progress</div>
                <div>#1903:SNDP brought Under 
                    Indian companies Act
                </div>
            </td>
        </tr>

        <tr>
            <td>1905</td>
            <td><b>SERVANTS OF IND SOCIETY</b></td>
            <td class="image-content">
                <div><img class = "profile-image4" src="../../assets/table/ggg.jpg"></div>
                <div><img class = "profile-image4" src="../../assets/table/srinivas.jpg"></div>
            </td>
            <td>
                <div>GOPAL KRISH GOKUALE</div>
                <div>(liberal leader of INC)</div>
                <div>1915- Gokuale die</div>
                <div>SRINIVASA SHASTRI</div>
            </td>
            <td>
                <div>To train <b>national missionaries</b></div>
                <div>changes by <b>constitutional means</b></div>
                <div>make sure youngster to <b>stay away</b> from p<b>olitical activities, INC</b></div>
                <div>NOW: Still works- education, ashrams for tribal girls, Balwadis</div>
            </td>
            <td>Prepare cadre of selfless workers to devote life for country in <b>religious spirit</b></td>
            <td>
                <div>Helped by: <b>MG RANADE</b></div>
                <div>1911- <b>HITAVADA</b> -published to protect society views</div>
            </td>
        </tr>

        <tr>
            <td>1905</td>
            <td>
                <div><b>VOKKALIGA SANGHA</b></div>
                <div class="violet">@Mysore</div>
            </td>
            <td></td>
            <td></td>
            <td><b>Anti-Brahmin movement</b></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>1908</td>
            <td><b>SEVA SADAN</b></td>
            <td class="image-content"><img class = "profile-image" src="../../assets/table/malabari.jpg"></td>
            <td>
                <div>
                    <ul class="list">
                        <li>BEHRAMJI M MALABARI</li>
                        <li><b>(Indian spectator)</b></li>
                    </ul>
                </div>
                <div>DIWAN DAYARAM GIDUMAL</div>
            </td>
            <td>
                <div>Child marriage, Widow remarriage,</div>
                <div>Taking care exploited women,</div>
                <div>give education on medical welfare services</div>
                <div>food to all caste</div>
            </td>
            <td>
                <div>led to <b>AGE OF CONSENT ACT</b></div>
                <div>(Female age consent)</div>
            </td>
            <td></td>
        </tr>

        <tr>
            <td>1917</td>
            <td>
                <div><b>JUSTICE MOVEMENT</b></div>
                <div class="pink">@Madras</div>
            </td>
            <td></td>
            <td>
                <div>P. THEAGARAYA CHETTY</div>
                <div>C. NATESA MUDALIAR</div>
                <div>T. MADHAVA NAIR</div>
            </td>
            <td>To secure job for <b>Non Brahmins in <u>legislature</u></b></td>
            <td>
                <div><b>Madras Presidency Association</b>- formed</div>
                <div>Demand: <b>separate representation</b> for lower caste in legislature</div>
            </td>
            <td></td>
        </tr>

        <tr>
            <td>1920</td>
            <td>
                <div><b>SOCIAL SERVICE LEAGUE</b></div>
                <div class="blue">@Bombay</div>
            </td>
            <td></td>
            <td>NARAYAN MALHAR JOSHI (Gokhale follower)</td>
            <td>
                <div>Secure masses for Better/</div>
                <div>Reasonable conditions and work</div>
            </td>
            <td>
                <ul class="list">
                    <li>Libraries, school co-operative society</li>
                    <li>legal aid, advice to poor</li>
                    <li>theatrical performance,  sanitary work,</li>
                    <li>medical relief</li>
                    <li>boys club, scout corps</li>
                </ul>
            </td>
            <td>Later he formed <b>ALL IND TRADE UNION FEDERATION 1920</b> (VV Giri 1st President</td>
        </tr>

        <tr>
            <td>1920</td>
            <td><b>SELF RESPECT MOVEMENT</b></td>
            <td class="image-content"><img class = "profile-image" src="../../assets/table/narayanmalhar.jpg"></td>
            <td><i>“PERIYAR”</i>EV RAMASAMY</td>
            <td>
                <div><b>Rejection of Brahmanical</b> religion and culture</div>
                <div>Which is primary instrument for exploitation of lower caste</div>
            </td>
            <td>Formalised <b>wedding without Priest</b>-to undermine Brahmin position</td>
            <td></td>
        </tr>

        <tr>
            <td>1921</td>
            <td><b>AKHALI MOVEMENT (GURUDWARA REFORM MOVEMENT)</b></td>
            <td class="image-content"><img class = "profile-image" src="../../assets/table/periyar.jpg"></td>
            <td>Branch of Singh Sabha Movement</td>
            <td>
                <div><b>Liberate Gurudwaras</b> - from Corrupt <b>Udasi Mahants</b> (post became hereditary)</div>
                <div>Regional movement but <b>not communal</b></div>
            </td>
            <td>
                <div>Govt repressed- Nonviolent, Non co-operative satyagraha-akalis</div>
                <div>But passed 
                    <b>SIKH GURUDWARAS ACT 1922</b>- Control of gurudwara passed to Sikhs masses - through <b><u>SHIROMANI GURUDWARA PRABANDHAK COMMITTEE</u></b> (apex body) 
                </div>
            </td>
            <td>
                <div>Mahants – who are loyal to govt, reactionaries to govt patronage</div>
                <div>AKALIS-notable role in National liberation struggle</div>
            </td>
        </tr>

        <tr>
            <td>1924</td>
            <td><b>TEMPLE ENTRY MOVEMENT</b></td>
            <td class="image-content"><img class = "profile-image7" src="../../assets/table/akhali.jpg"></td>
            <td>
                <div>KP KESAVAN</div>
                <div class="green">@Vaikom KL North Travancore</div>
            </td>
            <td>Demand- Open temple, roads to untouchables</td>
            <td></td>
            <td>
                <div>
                    <ul class="list">
                        <li>Reinforced by <b><u>JATHAS</u></b> (from Punjab/ Madurai)</li>
                        <li><b>Gandhi toured & support</b></li>
                    </ul>
                </div>
                <div>
                    <ul class="list">
                        <li>Earlier reformers:</li>
                        <li><b>Sree Narayana Guru</b></li>
                        <li><b>N Kumaran Asan</b></li>
                        <li><b>Tk Madhavan</b> (deshabhimani editor)</li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr>
            <td>1931 (CDM)</td>
            <td><b>TEMPLE ENTRY MOVEMENT</b></td>
            <td class="image-content"><img class = "profile-image7" src="../../assets/table/kesavan.jpg"></td>
            <td>
                <div>Poet SUBRAMANIYAM TIRUMAMBU</div>
                <div>inspired from 
                    K. KELAPPAN
                </div>
            </td>
            <td>
                <div>Issue of temple entry</div>
                <div class="green">@Travancore</div>
            </td>
            <td>
                <div>Entered <b>Guruvayur temple</b> with 6 volunteers, <b>Singing sword of kerala</b></div>
                <div>1936- Maharaja of Travancore- opened all govt control temples to all Hindus</div>
            </td>
            <td>
                <div>Satyagrahis- <b>AK GOPALAN P KRISHNA PILLAI</b></div>
                <div>(1938-Rajaji similar <span class="pink">@Madras</span>)</div>
            </td>
        </tr>

    </table>
</div>

<div class="instruction">
    <h4>Mistakes to be avoided to score better:</h4>
     <br>
    <ul>
        
        <li>Colour Differentiation: Places (Make use the colour differentiation in the content so that it is
            easy to remember places)
              
            <br> <span style="color: green;"> Bengal-green</span> <br>  <span style="color: skyblue;">Bombay-blue</span> <br>  <span style="color: palevioletred;">Madras-pink</span>
            <br> <span style="color: darkgreen;"> Punjab-thick green</span> <br>  <span style="color: orange;"> UP-orange</span> <br>  <span style="color: lightgreen;">Kerala-light green</span>
        </li> 
        
        <li>After reading the content once, just read the bold letters to revise, so that you can revise
            quickly (Bold letters are very important don’t ignore them)</li>
        
        
        <li>History is of facts and is easily forgotten, so keep on revising whenever you have time. </li>
       
    </ul>
</div>

<br> <br> <br> <br>

<div>
    <h3 class="topic-container">Add your thoughts</h3>
    <div class="form-container">
        <form [formGroup] = "commentForm" class="form-display">
            <div class="form-group">
                <label><b>Comment</b></label>
                <textarea class="form-control" formControlName = "comment" rows="5"></textarea>
            </div>
    
            <div class="form-group">
                <label><b>Name</b></label>
                <input type="text" class="form-control" formControlName = "name">
            </div>
    
            <div class="form-group">
                <label><b>Email</b></label>
                <input type="email" class="form-control" formControlName = "email">
            </div>

            <div class="post-button">
                <button class="btn btn-danger button-size" (click) = "comment()">Post Comment</button>
            </div>

        </form>
    </div>
</div>

<div>
    <h3 class="topic-container">Comments</h3>

    <div *ngFor = "let comments of postComments let i = index" class="comment-section">
        <div>
            <img [src] = 'avatar' width="100" height="100">
            {{comments.name}} says:
        </div>
        <div class="comment">
            {{comments.comment}}
        </div>
    </div>
</div>


<!-- <br><br><br><br>
<br><br><br><br>
<br><br><br><br>


<app-footer></app-footer> -->











<script src="./Navigationbar.js"></script>
