
<div class="title">
    <h1 class="gradient-text">Image courtesy</h1>
</div>


<div class="subtitle"><a href="">
        <h1>Home Page</h1>
    </a>
</div>
<div class="imgblock">

    <div class="courtesy">
        <div><img src="../../assets/home_img/home1.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@alex_andrews">unsplash.com/@alex_andrews</a></div>
    </div>

    <div class="courtesy">
        <div><img src="../../assets/home_img/home2.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@juanencalada">unsplash.com/@juanencalada</a></div>
    </div>

    <div class="courtesy">
        <div><img src="../../assets/home_img/home3.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@angelacompagnone ">unsplash.com/@angelacompagnone</a></div>
    </div>

    <div class="courtesy">
        <div><img src="../../assets/home_img/home4.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@dariuszsankowski">unsplash.com/@dariuszsankowski</a></div>
    </div>

    <div class="courtesy">
        <div><img src="../../assets/home_img/home5.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@jordanfmcqueen">unsplash.com/@jordanfmcqueen</a></div>
    </div>

    <div class="courtesy">
        <div><img src="../../assets/home_img/home6.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@iliketobike">unsplash.com/@iliketobike</a></div>
    </div>

</div>



<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

<div class="subtitle"><a href="">
        <h1>Art & Culture</h1>
    </a>
</div>
<div class="imgblock">

    <div class="courtesy">
        <div><img src="../../assets/art_images/art1.jpg" alt="" style="width: 6em;"></div>
        <div><a href="https://unsplash.com/@derekstory">unsplash.com/@derekstory</a></div>
    </div>

    <div class="courtesy">
        <div><img src="../../assets/art_images/art2.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@karanvir9">unsplash.com/@karanvir9</a></div>
    </div>

    <div class="courtesy">
        <div><img src="../../assets/art_images/art3.jpg" alt="" style="width: 6em;"></div>
        <div><a href="https://unsplash.com/@anniespratt">unsplash.com/@anniespratt</a></div>
    </div>

    <div class="courtesy">
        <div><img src="../../assets/art_images/art4.jpg" alt="" style="width: 6em;"></div>
        <div><a href="https://unsplash.com/@replysourabh">unsplash.com/@replysourabh</a></div>
    </div>

    <div class="courtesy">
        <div><img src="../../assets/art_images/art5.jpg" alt="" style="width: 6em;"></div>
        <div><a href="https://unsplash.com/@anniespratt">unsplash.com/@anniespratt</a></div>
    </div>

    <div class="courtesy">
        <div><img src="../../assets/art_images/art6.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@iatulp">unsplash.com/@iatulp</a></div>
    </div>

</div>

<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

<div class="subtitle"><a href="">
        <h1>Environment</h1>
    </a></div>
<div class="imgblock">

    <div class="courtesy">
        <div><img src="../../assets/Environment_img/en1.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@sampower123">unsplash.com/@sampower123</a></div>
    </div>

    <div class="courtesy">
        <div><img src="../../assets/Environment_img/en2.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@rohittandon">unsplash.com/@rohittandon</a></div>
    </div>

    <div class="courtesy">
        <div><img src="../../assets/Environment_img/en3.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@gautamarora1991">unsplash.com/@gautamarora1991</a></div>
    </div>

    <div class="courtesy">
        <div><img src="../../assets/Environment_img/en4.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@hisarahlee">unsplash.com/@hisarahlee</a></div>
    </div>

    <div class="courtesy">
        <div><img src="../../assets/Environment_img/en5.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@adijoshi11">unsplash.com/@adijoshi11</a></div>
    </div>

    <div class="courtesy">
        <div><img src="../../assets/Environment_img/en6.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@martinmohan">unsplash.com/@martinmohan</a></div>
    </div>
</div>



<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->


<div class="subtitle"><a href="">
        <h1>About Us</h1>
    </a></div>
<div class="imgblock" style="height: 150px;">

    <div class="courtesy">
        <div><img src="../../assets/other/Aboutus.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@rhemakallianpur">unsplash.com/@rhemakallianpur</a></div>
    </div>
</div>


<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->


<div class="subtitle"><a href="">
        <h1>Contact Us</h1>
    </a></div>
<div class="imgblock" style="height: 150px;">

    <div class="courtesy">
        <div><img src="../../assets/other/contactus.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@bamin">unsplash.com/@bamin</a></div>
    </div>
</div>


<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

<div class="subtitle"><a href="">
        <h1>How to Use</h1>
    </a></div>
<div class="imgblock" style="height: 150px;">

    <div class="courtesy">
        <div><img src="../../assets/other/howto.jpg" alt=""></div>
        <div><a href="https://unsplash.com/@anniespratt">unsplash.com/@anniespratt</a></div>
    </div>
</div>

<!-- Footer   **************************************************************************************** -->

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

<app-footer></app-footer>

<script src="./imgcor.js"></script>