<app-navbar></app-navbar>
<div class="body-background">
    <div>
        <ul class="cb-slideshow ">
            <li><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
        </ul>
    </div>


    <!-- Content  ******************************************************************** -->
    <div>
        <h1 class="title">Modern History</h1>
    </div>

    <div class="textdiv">  
        <div class="textbox boxx"><div class="textimg"><img src="../../assets/txtslide_img/1.jpeg" alt=""></div>
        <div class="texttext">Association</div> 
        <div class="textlink"><a (click)="association()">Click Here</a></div></div>

        <div class="textbox boxx"><div class="textimg"><img src="../../assets/txtslide_img/2.jpeg" alt=""></div>
        <div class="texttext">Social Reforms</div> 
        <div class="textlink"><a (click)="socialreforms()">Click Here</a></div></div>

        <div class="textbox boxx"><div class="textimg"><img src="../../assets/txtslide_img/3.jpeg" alt=""></div>
        <div class="texttext">Famous Personalities</div> 
        <div class="textlink"><a (click)="personalities()">Click Here</a></div></div>

        <!-- <div class="textbox boxx"><div class="textimg"><img src="../../assets/modernhistory_img/mh3.jpg" alt=""></div>
        <div class="texttext"> Timeline</div> 
        <div class="textlink"><a (click)="modernhistorytimeline()">Click Here</a></div></div> -->

    </div>



    

<br><br><br><br><br>
<app-footer></app-footer>


