/* Fonts      ################################################################################ */
@import "https://fonts.googleapis.com/css?family=Baloo+Paaji";
@font-face {
  src: url(../../assets/Fonts/UnifrakturCook/UnifrakturCook-Bold.ttf);
  font-family: u;
}
@font-face {
  src: url(../../assets/Fonts/cheltenhm/CheltenhamBoldExtraCondensedBT.ttf);
  font-family: c;
}
@font-face {
  src: url(../../assets/Fonts/Montserrat/Montserrat-Regular.ttf);
  font-family: m;
}
@font-face {
  src: url(../../assets/Fonts/Amr/Amr.otf);
  font-family: a;
}
@font-face {
  src: url(../../assets/Fonts/neon-font/Neon-e2wg.ttf);
  font-family: neon;
}
@font-face {
  src: url(../../assets/Fonts/Lobster/Lobster-Regular.ttf);
  font-family: l;
}
@font-face {
  src: url(../../assets/Fonts/Merriweather/Merriweather-Regular.ttf);
  font-family: merri;
}
@font-face {
  src: url(../../assets/Fonts/blackchancery/BLKCHCRY.TTF);
  font-family: blk;
}
@font-face {
  src: url(../../assets/Fonts/Open_Sans/OpenSans-Regular.ttf);
  font-family: os;
}
@font-face {
  src: url(../../assets/Fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
  font-family: ws;
}
@font-face {
  src: url(../../assets/Fonts/Roboto/Roboto-Light.ttf);
  font-family: robo;
}

* {
  margin: 0%;
  padding: 0%;
}


/* Background      ################################################################################ */

.body-background {
  margin: 0;
  padding: 0;
  background-color: black;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* position: absolute; */
  width: 100%;
  border: 1px solid transparent;
}
.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.cb-slideshow:after {
  content: "";
  background: transparent url() repeat top left;
}

li {
  list-style-type: none;
}
.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  -o-animation: imageAnimation 36s linear infinite 0s;
  -ms-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) span {
  background-image: url(../../assets/modernhistory_img/mh1.jpeg);
}

.cb-slideshow li:nth-child(2) span {
  background-image: url(../../assets/modernhistory_img/mh2.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  background-image: url(../../assets/modernhistory_img/mh3.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
  background-image: url(../../assets/modernhistory_img/mh4.jpeg);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
  background-image: url(../../assets/modernhistory_img/mh5.jpg);
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
  background-image: url(../../assets/modernhistory_img/mh6.jpg);
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -moz-transform: scale(1.05);
    -moz-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -moz-transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -moz-transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -o-transform: scale(1.05);
    -o-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -o-transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -o-transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -ms-transform: scale(1.05);
    -ms-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -ms-transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -ms-transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1);
  }
  25% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

/* content       ################################################################################ */
.title {
  color: snow;
  font-family: c;
  font-size: 45px;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  background: rgb(0, 0, 0, 0.8);
  padding: 10px;
  margin: auto;
  margin-top: 2em;
}



/* ************************************************************************************************************************** */
.textdiv{
  margin: auto;
  width: 90%;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.textbox{
  border: 1.5px solid rgb(51, 51, 51, 0.7);
  background: white;
  width: 10em;
  height: 17em;
  border-radius: 5px;
  margin: 15px;
}
.textimg img{
  width: 9.8em;
  height: 12.5em;
  border-radius: 5px;
}
.textimg{
  text-align: center;
  margin-top: 0.1em;
}
.texttext{
  margin-top: 3px;
  font-family: c;
  font-size: 20px;
  color: black;
  margin-left: 10px;
}
.textlink{
  margin-top: 3px;
  font-family: c;
  margin-left: 10px; 
 
}
.textlink a{
  color: deepskyblue;
  text-decoration: none;
}

.boxx{
position: relative;
}

.boxx:before{
content: '';
top: -1px;
left: -1px;
right: -1px;
bottom: -1px;
z-index: -1;
background-color: whitesmoke;
border-radius: 5px;
position: absolute;

}

.boxx:after{
content: '';
top: -1px;
left: -1px;
right: -1px;
bottom: -1px;
z-index: -2;
position: absolute;
border-radius: 5px;
filter: blur(3px);

  }


  .boxx:after,
  .boxx:before{
      background: linear-gradient(235deg, black, white, black);
  }
  


  * a{
    cursor: pointer;
  }
  
