/* Fonts      ################################################################################ */
@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';
@font-face{src: url(../../assets/Fonts/UnifrakturCook/UnifrakturCook-Bold.ttf); font-family: u;}
@font-face{src: url(../../assets/Fonts/cheltenhm/CheltenhamBoldExtraCondensedBT.ttf);  font-family: c;}
@font-face{src: url(../../assets/Fonts/Montserrat/Montserrat-Regular.ttf); font-family: m;}
@font-face{src: url(../../assets/Fonts/Amr/Amr.otf); font-family: a;}
@font-face{src: url(../../assets/Fonts/neon-font/Neon-e2wg.ttf); font-family:neon;}
@font-face{src: url(../../assets/Fonts/Lobster/Lobster-Regular.ttf); font-family:l;}
@font-face{src: url(../../assets/Fonts/Merriweather/Merriweather-Regular.ttf); font-family:merri;}
@font-face{src: url(../../assets/Fonts/blackchancery/BLKCHCRY.TTF); font-family:blk;}
@font-face{src: url(../../assets/Fonts/Open_Sans/OpenSans-Regular.ttf); font-family:os;}
@font-face{src: url(../../assets/Fonts/Work_Sans/WorkSans-VariableFont_wght.ttf); font-family:ws;}
@font-face{src: url(../../assets/Fonts/Roboto/Roboto-Light.ttf); font-family: robo;}


* {
	margin: 0%;
	padding: 0%;
} 



/* Background      ################################################################################ */


/* content       ################################################################################ */
/* title ****** */
.title{
    color: snow;
    font-family: c;
    font-size: 45px;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    background: rgb(0, 0, 0, 0.8);
    padding: 10px;
    margin: auto;
    margin-top: 2em;

}



/* comingsoon ******** */
.comingsoon{
	margin: auto;
	margin-top: 10em;
	font-family: 'Baloo Paaji', cursive;
	border: black 2px solid; 
	width: 20em;
	height: 12em ;
	align-content: center;
	position: relative;
	
  }
  
  .comingsoon h1, h2{
	padding: 1em;
	font-size: 40px;
	text-shadow:  0 -1px 0 #fff, 
	0 1px 0 #2e2e2e, 
	0 1.1px 0 #2c2c2c, 
	0 1.2px 0 #2a2a2a, 
	0 1.3px 0 #282828, 
	0 1.4px 0 #262626, 
	0 1.5px 0 #242424, 
	0 1.6px 0 #222, 
	0 1.7px 0 #202020, 
	0 2px 0 #1e1e1e, 
	0 2.10px 0 #1c1c1c, 
	0 2.2px 0 #1a1a1a, 
	0 2.3px 0 #181818, 
	0 2.4px 0 #161616, 
	0 2.5px 0 #141414, 
	0 2.8px 0 #121212, 
	0 3px 3px rgba(0, 0, 0, 0.9); 
	
  
	text-transform: uppercase;
	text-align: center;
	line-height: 1.3em;
  } 
	
  span.cs1, span.cs2, span.cs3{
	  width: 100%;
	  float: left;
	  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
	  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
	  transform: translateY(-50px);
	  opacity: 0;
	  animation-name: comingsoon;
	  animation-timing-function:ease;
	  animation-duration: 6s;
	  animation-iteration-count: infinite;
	}
  
  
  span.cs1{
	 color: pink;
	  animation-delay: 3s;
	  -webkit-animation-fill-mode: forwards;
  }
  span.cs2{
	 color: white;
	animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
  }
  span.cs3{
	  color: yellow;
	  animation-delay: 1s;
	  -webkit-animation-fill-mode: forwards;
	}
  
  
  
  
  @keyframes comingsoon {
	  0% {
		transform: translateY(-50px);
		opacity: 0;
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
	}
	20% {
		transform: translateY(0);
		opacity: 1;
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
	}
	80% {
		 transform: translateY(0);
		 opacity: 1;
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
	}
	100% {
		 transform: translateY(50px);
		 opacity: 0;
		-webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
		clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
	  
	}
  }





  * a{
    cursor: pointer;
}

.my-gallery {
	width: 100%;
	float: left;
  }
  .my-gallery img {
	width: 100%;
	height: auto;
  }
  .my-gallery figure {
	display: block;
	float: left;
	margin: 0 5px 5px 0;
	width: 150px;
  }
  .my-gallery figcaption {
	display: none;
  }