<app-navbar></app-navbar>
<div>
  <h1 class="title">Image Gallery</h1>
</div>

<!-- 
<ngxps-lightbox></ngxps-lightbox>

<ngxps-gallery [images]="images"></ngxps-gallery> -->

<section class="comingsoon">
  <h1 class="csoon">
    <span class="cs1"></span>
    <span class="cs2">Coming</span>
    <span class="cs3">soon</span>
  </h1>
</section>

<!-- Footer   **************************************************************************************** -->

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

<app-footer></app-footer>

<script src="./gallery.js"></script>
<script src="./photo.js"></script>