
* {
	margin: 0%;
	padding: 0%;
} 


header.nava {
    overflow: hidden;
    background: black;
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
  }
  
 .nava a, .navb a,  header.nava  label {
    display: block;
    padding: 20px 15px 25px;
    color: #fff;
    text-decoration: none;
    line-height: 5px;
    height: 20px;
  }
  
  header.nava a:hover,  header.nava label:hover { color: #aaa; }
  
  header.nava label {
    float: right;
    padding: 17px 20px;
    cursor: pointer;
  }
  
  header.nava label:after {
    content: "\2261";
    font-size: 1.8em;
  }
  
  .logo {
    float: left;
	font-family: u;
	font-size: 29px;
	color: white;
	text-decoration: none;
	  text-shadow:  0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 1.1px 0 #2c2c2c, 
      0 1.2px 0 #2a2a2a, 
      0 1.3px 0 #282828, 
      0 1.4px 0 #262626, 
      0 1.5px 0 #242424, 
      0 1.6px 0 #222, 
      0 1.7px 0 #202020, 
      0 2px 0 #1e1e1e, 
      0 2.10px 0 #1c1c1c, 
      0 2.2px 0 #1a1a1a, 
      0 2.3px 0 #181818, 
      0 2.4px 0 #161616, 
      0 2.5px 0 #141414, 
      0 2.8px 0 #121212, 
	  0 3px 3px rgba(0, 0, 0, 0.9);
	 
  }
    
  .navb {
    float: right;
    max-height: 0;
    width: 100%;
    -webkit-transition: max-height 0.3s; 
       -moz-transition: max-height 0.3s;
         -o-transition: max-height 0.3s;
            transition: max-height 0.3s;

            font-family: m;
            font-size: 10px;
            color: snow;
            text-decoration: none;
            letter-spacing: 2.5px;
            text-transform: uppercase;
            font-weight: bold;
            text-shadow: 0 1px 0 black;
  }
  
  .navb ul {
    margin: 0;
    padding: 0;
  }
    
  .navb li {
    display: block;
    text-align: center;
    padding: 20px;
    
  }
    
  .navb a {
   
    width: 100%;
  }
  
  #nav { display: none; }
  
  #nav:checked ~ nav {
    max-height: 500px; /* This can be anything bigger than your nav height. The transition duration works with this */
    
}
  
  @media only screen and (min-width: 800px) {
    
    header.nava label { display: none; }

    
    nav.navb {
      width: auto;
      max-height: none;
    }
    
    .navb ul {
      padding: 0;
      padding-right: 20px;
    }
    
    .navb li {
      display: inline-block;
      text-align: left;
      margin-left: 30px;
      margin-top: auto;
      padding: 0;
      
    }
    
    header.nava nav a {
      display: inline-block;
     
      width: auto;
    }
    
  }