<app-navbar></app-navbar>
<div>
    <ul class="cb-slideshow ">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
</div>

<!-- Content  ******************************************************************** -->
<div>
    <h1 class="title">Art & Culture</h1>
</div>



<div class="textdiv">  
  <div class="textbox boxx"><div class="textimg"><img src="../../assets/art_images/art5.jpg" alt=""></div>
  <div class="texttext">Medieval Architecture</div> 
  <div class="textlink"><a (click)="medival()">Click Here</a></div></div>
</div> 

  
<br><br><br><br><br>
<br><br><br><br><br>
<app-footer></app-footer>