<header class="nava" >
  <a class="logo" href="">Timeline Trends</a>
  <input id="nav" type="checkbox">
  <label for="nav"></label>
  
  <nav class="navb">
    <ul>
      <li><a [routerLink] = "['/home']">Home</a></li>
      <li><a [routerLink] = "['/about']">About Us</a></li>
      <li><a [routerLink] = "['/contact']">Contact</a></li>
      <li><a [routerLink] = "['/use']">How to use</a></li>
    </ul>
  </nav> 
</header>

<div>
    <ul class="cb-slideshow ">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
</div>

<!-- Content  ******************************************************************** -->
<div>
    <h1 class="title">Art & Culture</h1>
</div>



  <section class="comingsoon">
      <h1 class="csoon">
        <span class="cs1"></span>
        <span class="cs2">Coming</span>
        <span class="cs3">soon</span>
      </h1>
    </section>

<!-- Footer   **************************************************************************************** -->

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>



<footer>
  <nav class="footer-inner">
    <section class="footer-item">
      <h1>Timeline Trends</h1>
    </section>

    <section class="footer-item">
      <h3>Explore</h3>
      <ul>
        <li><a (click)="home()">Home</a></li>
        <li><a (click)="about()">About</a></li>
        <li><a (click)="contact()">Contact</a></li>
        <li><a (click)="use()">How to Use</a></li>
      </ul>
    </section>

    <section class="footer-item">
      <h3>Follow</h3>
      <ul>
        <li><a href="#">Instagram</a></li>
      </ul>
    </section>

    <section class="footer-item">
      <h3>Location</h3>
      <p>Tamilnadu, India.</p>
    </section>

    <section class="footer-item">
      <h3>Legal</h3>
      <ul>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </section>

    <section class="footer-item">
      <a (click)="imagecourtesy()" class="footer-button">Image Courtesy</a>
    </section>

    <section class="footer-item">

      <h3>Mail Us</h3>
      <p>thetimelinetrends@gmail.com</p>
    </section>
  </nav>
</footer>
    
<script src="./art.js"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    effect: 'coverflow',
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 'auto',
    coverflowEffect: {
      rotate: 30,
      stretch: 0,
      depth: 500,
      modifier: 1,
      slideShadows: true,
    },
    pagination: {
      el: '.swiper-pagination',
    },
  });
</script>