<app-navbar></app-navbar>
<div>
    <ul class="cb-slideshow ">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
</div>

<!-- Content  ******************************************************************** -->
<div>
    <h1 class="title">Art & Culture</h1>
</div>



  <!-- <section class="comingsoon">
      <h1 class="csoon">
        <span class="cs1"></span>
        <span class="cs2">Coming</span>
        <span class="cs3">soon</span>
      </h1>
  </section> -->

  <div class="card-container">
    <div class="card">
        <img src="../../assets/art_images/art5.jpg" class="card-img-top img-conatiner" alt="image">
        <div class="card-body">
            <h5 class="card-title">Medieval Architecture</h5>
            <div>
                <button class="btn btn-link" (click)="medival()">Click here</button>
            </div>
        </div>
    </div>
  </div>
    
<script src="./art.js"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    effect: 'coverflow',
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 'auto',
    coverflowEffect: {
      rotate: 30,
      stretch: 0,
      depth: 500,
      modifier: 1,
      slideShadows: true,
    },
    pagination: {
      el: '.swiper-pagination',
    },
  });
</script>

<br><br>
<app-footer></app-footer>