<div class="body-background">
  <div class="title">
    <h1 class="gradient-text title-container">About Us</h1>
  </div>
  
  <div>
    <ul class="content" style="border-top: 1px solid white;">
      <li>This website is for those who are appearing for government exams including UPSC, SPSC and others.</li><br>
      <li>Timeline Trends mainly focus on History facts, Art and Culture, Environment Facts, Maps etc.</li><br>
      <li>We will be uploading our content continuously (daily or weekly), so stay connected always for various topics.
      </li>
    </ul>
  </div>
</div>

<script src="../../assets/javascript/aboutus.js"></script>