footer {
    background-color: black;
    font-family: "Lato", sans-serif;
    position: relative;

}


.footer-inner {
    display: grid;
    grid-template-columns: minmax(18%, auto) 12% minmax(17%, auto) 11% minmax(auto, 25%) minmax(109px, auto);
    column-gap: 24px;
    row-gap: 2%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    position: relative;
    padding-top: 2em;
    padding-bottom: 1em;
}

.footer-item:nth-of-type(7) {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.footer-button {
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 8ex;
font-family: l;  
  height:35px;
  width:100px;
  padding:5px;
  font-size:15px;
  cursor:pointer;
  background-color: black;
  color: azure;
  transition: ease-in 0.2s;
  border: whitesmoke solid 1px;
  
}
  
  
.footer-button:hover{
    color: black;
    background-color: teal;
    transition: ease-in 0.2s;
}
  

.footer-inner h1  {
    font-family: u;
    color: white;
    font-size: 23px;
    letter-spacing: 2px;
    margin: 0;
    margin-right: 1em;
   
}
  
.footer-inner h2 {
    font-weight: 300;
    line-height: 1.8;
    font-size: 13px;
    color: #d1d1d1;
    letter-spacing: 0.03em;
    
}
  
.color {
    color: white;
    font-weight: 400;
}
  
.footer-inner h3 {
    font-weight: 400;
    font-size: 13px;
    color: white;
    margin: 0;
    padding-bottom: 9px;
    letter-spacing: 0.03em;
}
  
.footer-inner ul {
    line-height: 1.8;
    list-style-type: none;
    padding: 0;
}
  
.footer-inner li {
    font-weight: 300;
    font-size: 13px;
    color: #d1d1d1;
    letter-spacing: 0.03em;
}
  
.footer-inner p {
    color: white;
    font-weight: 300;
    font-size: 13px;
    padding: 0;
    line-height: 1.8;
    letter-spacing: 0.03em;
}
  
.footer-item a {
    text-decoration: none;
    color: #d1d1d1;
}
  
.footer-item a:hover {
    color: white;
}
  


@media (max-width: 1024px) {
  
footer {
    padding: 10px 0 10px 0 !important;
}

.footer-inner {
    grid-template-areas:
        "logo logo"
        "explore visit"
        "business follow"
        "legal legal"
        "next next";
    grid-template-columns: minmax(15%, auto) minmax(15%, auto);
    row-gap: 10%;
    border-bottom: 1px solid #333;
    padding-bottom: 188px;
    
}

.footer-item:nth-of-type(1) {
    grid-area: logo;
    border-bottom: 1px solid #333;
    padding-bottom: 33px;
}

.footer-item:nth-of-type(2) {
    grid-area: explore;
}

.footer-item:nth-of-type(3) {
    grid-area: visit;
}

.footer-item:nth-of-type(4) {
    grid-area: follow;
}

.footer-item:nth-of-type(5){
    grid-area: legal;
}

.footer-item:nth-of-type(6) {
    grid-area: logo;
    justify-self: end;
    margin-top: 5px;
}

.footer-item:nth-of-type(7) {
    grid-area: business;
}


.footer-inner:after {
    top: 745px;
}
}