<footer>
    <nav class="footer-inner">
        <section class="footer-item">
            <h1>Timeline Trends</h1>

            <h2></h2>
        </section>

        <section class="footer-item">
            <h3>Explore</h3>
            <ul>
                <li><a (click)="home()">Home</a></li>
                <li><a (click)="about()">About</a></li>
                <li><a (click)="contact()">Contact</a></li>
                <li><a (click)="use()">How to Use</a></li>
            </ul>
        </section>

        <section class="footer-item">
            <h3>Follow</h3>
            <ul>
                <li><a href="#">Instagram</a></li>
            </ul>
        </section>

        <section class="footer-item">
            <h3>Location</h3>
            <p>Tamilnadu, India.</p>
        </section>

        <section class="footer-item">
            <h3>Legal</h3>
            <ul>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </section>

        <section class="footer-item">
            <a (click)="imagecourtsey()" class="footer-button">Image Courtesy</a>
        </section>

        <section class="footer-item">

            <h3>Mail Us</h3>
            <p>thetimelinetrends@gmail.com</p>
        </section>
    </nav>
</footer>
