<app-navbar></app-navbar>

<div>
    <h1 class="title">Temples of Parsi</h1>
</div>

<div class="points">
    <div class="topichead"></div>
    <a href=" https://en.wikipedia.org/wiki/Atash_Behram " target="_blank" class="wiki"><img
            src="../../../../assets/medival/wikipedia.png" alt=""></a>
    <ul>
        <li>3 Major Types</li>
        <ul class="li1">
            <li><b>Atash Behram</b> - "Fire of Victory" [8 Behrams @India]</li>
            <li><b>Adarian</b></li>
            <li><b>Atash Dadgah/Dar-e-Mehr</b> [100 Dadgahs @India]</li>
        </ul>
        <li>Mostly located in <b>Maharastra & Gujarat</b></li>
    </ul>
</div>

<div class="keywords" style="line-height: 25px;text-align: left; padding-left: 15px;">
    <p>
    <ul class="li2">
        <li>Main focus: <b>Hold sacred fire & Yasna Ceremony</b></li>
        <li>Not focus on glorification of faith</li>
        <li>Exterior - simple</li>
        <li>Fire at <b>Inner sanctum</b></li>
        <li>Ceremony is the Highest order with elaborate arrangement</li>
        <li><b>Dasturs</b> "High priest" perform ceremony</li>
    </ul>
</div>

<div class="landport">
    <div class="landscape">
        <img src="../../../../assets/medival/parsi/Images/parsi.jpg" alt="5 Terre" style="width:100%" onclick="onClick1(this)"
            class="modal1-hover-opacity">
        <div class="container">
            <span class="imgname">Temple plan</span><span class="imgplace"></span>
            <p class="imgabout">
            <p>
        </div>
    </div>
    <div class="potrait">
        <img src="../../../../assets/medival/parsi/Images/fire.jpg" alt="5 Terre" style="width:100%" onclick="onClick2(this)"
            class="modal2-hover-opacity">
        <div class="container">
            <span class="imgname">Eternal Fire</span><span class="imgplace"></span>
            <p class="imgabout">
            <p>
        </div>
    </div>
    <div class="landscape">
        <img src="../../../../assets/medival/parsi/Images/dasturs.jpg" alt="5 Terre" style="width:100%" onclick="onClick1(this)"
            class="modal1-hover-opacity">
        <div class="container">
            <span class="imgname">Dasturs</span><span class="imgplace"></span>
            <p class="imgabout">
            <p>
        </div>
    </div>
</div>

<div class="points">
    <div class="topichead">Gujarat Atash Behrams</div>
    <ul class="li1">
        <li>Iranshah @Udava</li>
        <li>Desai @Navsari</li>
        <li>Modi @Surat</li>
        <li>Vakil @Surat</li>
    </ul>
</div>
<div class="landport">
    <div class="landscape">
        <img src="../../../../assets/medival/parsi/Images/1_Udwada_atash_behram.jpg" alt="5 Terre" style="width:100%"
            onclick="onClick1(this)" class="modal1-hover-opacity">
        <div class="container">
            <span class="imgname">Iranshah Atash Behram</span><span class="imgplace">@Udvada</span>
            <a href=" https://en.wikipedia.org/wiki/Iranshah_Atash_Behram " target="_blank" class="wiki"><img
                    src="../../../../assets/medival/wikipedia.png" alt=""></a>
            <p class="imgabout">8th century
            <p>
        </div>
    </div>
    <div class="landscape">
        <img src="../../../../assets/medival/parsi/Images/2_Navsari.jpg" alt="5 Terre" style="width:100%" onclick="onClick1(this)"
            class="modal1-hover-opacity">
        <div class="container">
            <span class="imgname">Desai Atash Behram</span><span class="imgplace">@Navsari</span>
            <p class="imgabout">18th century
            <p>
        </div>
    </div>
    <div class="landscape">
        <img src="../../../../assets/medival/parsi/Images/modi.jpg" alt="5 Terre" style="width:100%" onclick="onClick1(this)"
            class="modal1-hover-opacity">
        <div class="container">
            <span class="imgname">Modi Atash Behram</span><span class="imgplace">@Surat</span>
            <p class="imgabout">
            <p>
        </div>
    </div>
    <div class="landscape">
        <img src="../../../../assets/medival/parsi/Images/vakil-kadmi.jpg" alt="5 Terre" style="width:100%"
            onclick="onClick1(this)" class="modal1-hover-opacity">
        <div class="container">
            <span class="imgname">Vakil Atash Behram</span><span class="imgplace">@Surat</span>
            <p class="imgabout">
            <p>
        </div>
    </div>
</div>


<div class="points">
    <div class="topichead">Mumbai Atash Behrams</div>
    <ul class="li1">
        <li>Dadiseth</li>
        <li>Wadia</li>
        <li>Banaji</li>
        <li>Anujman</li>
    </ul>
</div>
<div class="landport">
    <div class="landscape">
        <img src="../../../../assets/medival/parsi/Images/dadiseth.jpg" alt="5 Terre" style="width:100%" onclick="onClick1(this)"
            class="modal1-hover-opacity">
        <div class="container">
            <span class="imgname">Dadiseth Atash Behram</span><span class="imgplace">@Mumbai</span>
            <p class="imgabout">
            <p>
        </div>
    </div>
    <div class="landscape">
        <img src="../../../../assets/medival/parsi/Images/3_wadia.jpg" alt="5 Terre" style="width:100%" onclick="onClick1(this)"
            class="modal1-hover-opacity">
        <div class="container">
            <span class="imgname">Wadia Atash Behram</span><span class="imgplace">@Mumbai</span>
            <p class="imgabout">
            <p>
        </div>
    </div>
    <div class="landscape">
        <img src="../../../../assets/medival/parsi/Images/Banaji.jpeg" alt="5 Terre" style="width:100%" onclick="onClick1(this)"
            class="modal1-hover-opacity">
        <div class="container">
            <span class="imgname">Banaji Atash Behram</span><span class="imgplace">@Mumbai</span>
            <p class="imgabout">
            <p>
        </div>
    </div>
    <div class="landscape">
        <img src="../../../../assets/medival/parsi/Images/anjuman.jpg" alt="5 Terre" style="width:100%" onclick="onClick1(this)"
            class="modal1-hover-opacity">
        <div class="container">
            <span class="imgname">Anjuman Atash Behram</span><span class="imgplace">@Mumbai</span>
            <p class="imgabout">
            <p>
        </div>
    </div>
</div>

<div id="modal01" class="modal1" onclick="this.style.display='none'">
    <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <div class="content01">
        <img id="img01" style="max-width:100%">
    </div>
</div>

<div id="modal02" class="modal2" onclick="this.style.display='none'">
    <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <div class="content02">
        <img id="img02" style="max-width:100%">
    </div>
</div>


<script>
    function onClick1(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
    }

    function onClick2(element) {
        document.getElementById("img02").src = element.src;
        document.getElementById("modal02").style.display = "block";
    }
</script>


<app-footer></app-footer>