<app-navbar></app-navbar>

<div>
    <h1 class="title">Indo-Islamic Features</h1>
</div>


<div class="whole">
    <div class="feature">1. Arcuade Style</div>
    <div class="format1">
        <!-- <div class="f11"><img src="/2_Medivalarch/1_Intro/Images/1.jpeg" alt=""></div> -->
        <div class="landport"> 
            <div class="landscape">
                <img src="../../../../assets/medival/Indo-islamic/1.jpeg" alt="5 Terre" style="width:100%">
            </div>
        </div>
    
        <div class="explanation">
            <div class="f12">Explanation</div>
            <div class="f13">Use of <b>Archs & Domes</b></div>
        </div>
        <div class="before">
            <div class="f12">How it was before</div>
            <div class="f13">Trabeat Style</div>
        </div>
        
    </div>
    </div>
    
    <div class="randomimg"><img src="../../../../assets/medival/Indo-islamic/arcuade_vs_trabeat.png" alt=""></div>
    
    
    
    <div class="whole">
        <div class="feature">2. Minars</div>
        <div class="format1">
            <!-- <div class="f111"><img src="/2_Medivalarch/1_Intro/Images/2.jpg" alt=""></div> -->
            <div class="landport"> 
                <div class="potrait">
                    <img src="../../../../assets/medival/Indo-islamic/2.jpg" alt="5 Terre" style="width:100%">
                </div>
            </div>
            <div class="explanation">
                <div class="f12">Explanation</div>
                <div class="f13">Islamic rulers <b>Introduced</b> Minars around mosque</div>
            </div>
        </div>
        </div>
    
    
        <div class="whole">
            <div class="feature">3. Mortar</div>
            <div class="format1">
                <!-- <div class="f11"><img src="/2_Medivalarch/1_Intro/Images/3.jpg" alt=""></div> -->
                <div class="landport"> 
                    <div class="landscape">
                        <img src="../../../../assets/medival/Indo-islamic/3.jpg" alt="5 Terre" style="width:100%">
                    </div>
                </div>
                <div class="explanation">
                    <div class="f12">Explanation</div>
                    <div class="f13">Used as <b>Cementing agent</b></div>
                </div>
                
            </div>
            </div>
    
            
    <div class="whole">
    <div class="feature">4. Spacious</div>
    <div class="format1">
        <!-- <div class="f11"><img src="/2_Medivalarch/1_Intro/Images/4.1.jpg" alt=""></div> -->
        <div class="landport"> 
            <div class="landscape">
                <img src="../../../../assets/medival/Indo-islamic/4.1.jpg" alt="5 Terre" style="width:100%">
            </div>
        </div>
        <div class="explanation">
            <div class="f12">Explanation</div>
            <div class="f13">Introduced <b>spaciousness, massiveness, breadth</b></div>
        </div>
        <div class="before">
            <div class="f12">How it was before</div>
            <div class="f13">Hindu architecture were <b>too congested</b> <br>
                <img src="../../../../assets/medival/Indo-islamic/4.2.jpg" alt="">
               
            </div>
        </div>
    </div>
    </div>
    
    
    <div class="whole">
        <div class="feature">5. Calligraphy</div>
        <div class="format1">
            <!-- <div class="f11"><img src="/2_Medivalarch/1_Intro/Images/5.jpg" alt=""></div> -->
            <div class="landport"> 
                <div class="landscape">
                    <img src="../../../../assets/medival/Indo-islamic/5.jpg" alt="5 Terre" style="width:100%">
                </div>
            </div>
            <div class="explanation">
                <div class="f12">Explanation</div>
                <div class="f13"><b>Avoided</b> Human and animal figures</div>
            </div>
            <div class="before">
                <div class="f12">How it was before</div>
                <div class="f13">Hindus used Sculptures before</div>
            </div>
        </div>
        </div>
    
        
        <div class="whole">
            <div class="feature">6. Arabesque decoration</div>
            <div class="format1">
                <!-- <div class="f11"><img src="/2_Medivalarch/1_Intro/Images/6.jpg" alt=""></div> -->
                <div class="landport"> 
                    <div class="landscape">
                        <img src="../../../../assets/medival/Indo-islamic/6.jpg" alt="5 Terre" style="width:100%">
                    </div>
                </div>
                <div class="explanation">
                    <div class="f12">Explanation</div>
                    <div class="f13">Use of <b>geometrical vegetal ornamentation</b> <br> Eg. Continuous stem split regularly, forms series of secondary stems and leaves and merge with main stem</div>
                </div>
               
            </div>
            </div>
            
    
            <div class="whole">
                <div class="feature">7. Symmetry</div>
                <div class="format1">
                    <!-- <div class="f11"><img src="/2_Medivalarch/1_Intro/Images/7.jpg" alt=""></div> -->
                    <div class="landport"> 
                        <div class="landscape">
                            <img src="../../../../assets/medival/Indo-islamic/7.jpg" alt="5 Terre" style="width:100%">
                        </div>
                    </div>
                    <div class="explanation">
                        <div class="f12">Explanation</div>
                        <div class="f13">Heavily used <b>Principle of Geometry</b></div>
                    </div>
                    
                </div>
                </div>
    
    
            <div class="whole">
                <div class="feature">8. Jaali works</div>
                <div class="format1">
                    <!-- <div class="f11"><img src="/2_Medivalarch/1_Intro/Images/8.jpg" alt=""></div> -->
                    <div class="landport"> 
                        <div class="landscape">
                            <img src="../../../../assets/medival/Indo-islamic/8.jpg" alt="5 Terre" style="width:100%">
                        </div>
                    </div>
                    <div class="explanation">
                        <div class="f12">Explanation</div>
                        <div class="f13">Intricated detailed jaali work <br> Importance of <B>Light in Islamic Religion</B></div>
                    </div>
                    
                </div>
                </div>
                
    
                <div class="whole">
                    <div class="feature">9. Use of Water</div>
                    <div class="format1">
                        <!-- <div class="f11"><img src="/2_Medivalarch/1_Intro/Images/9.jpg" alt=""></div> -->
                        <div class="landport"> 
                            <div class="landscape">
                                <img src="../../../../assets/medival/Indo-islamic/9.jpg" alt="5 Terre" style="width:100%">
                            </div>
                        </div>
                        <div class="explanation">
                            <div class="f12">Explanation</div>
                            <div class="f13">In Courtyards, Fountains, Small drains <br>
                            For <b>Religious, Cooling, Decorative</b>purpose</div>
                        </div>
                        
                    </div>
                    </div>
                    
    
                    <div class="whole">
                        <div class="feature">10. Charbagh garden style</div>
                        <div class="format1">
                            <!-- <div class="f11"><img src="/2_Medivalarch/1_Intro/Images/10.jpg" alt=""></div> -->
                            <div class="landport"> 
                                <div class="landscape">
                                    <img src="../../../../assets/medival/Indo-islamic/10.jpg" alt="5 Terre" style="width:100%">
                                </div>
                            </div>
                            <div class="explanation">
                                <div class="f12">Explanation</div>
                                <div class="f13"><b>Introduced</b> Charbagh gardens <b>"Identical Adjacent gardens"</b> </div>
                            </div>
                            
                        </div>
                        </div>
                        
    
                        <div class="whole">
                            <div class="feature">11. Pietra-dura</div>
                            <div class="format1">
                                <!-- <div class="f11"><img src="/2_Medivalarch/1_Intro/Images/11.jpg" alt=""></div> -->
                                <div class="landport"> 
                                    <div class="landscape">
                                        <img src="../../../../assets/medival/Indo-islamic/11.jpg" alt="5 Terre" style="width:100%">
                                    </div>
                                </div>
                                <div class="explanation">
                                    <div class="f12">Explanation</div>
                                    <div class="f13">Inlay of precious <b>Stones and gems</b> in stone walls</div>
                                </div>
                               
                            </div>
                            </div>
    
    
                            <div class="whole">
                                <div class="feature">12. Foreshortening Technique</div>
                                <div class="format1">
                                    <!-- <div class="f111"><img src="/2_Medivalarch/1_Intro/Images/12.jpg" alt=""></div> -->
                                    <div class="landport"> 
                                        <div class="potrait">
                                            <img src="../../../../assets/medival/Indo-islamic/12.jpg" alt="5 Terre" style="width:100%">
                                        </div>
                                    </div>
                                    <div class="explanation">
                                        <div class="f12">Explanation</div>
                                        <div class="f13">Inscription appear closer than real</div>
                                    </div>
                                </div>
                                </div>
                                
                            
    
    
    
    


<app-footer></app-footer>