<div class="body-background">
  <div class="title-container">
    <h1 class="rainbow-text">How to use this website efficiently</h1>
  </div>
  <div class="content">
    <ul>
      <li>Read the “Tips and mistakes to be avoided” section before reading every topic.</li>
      <li>Read the standard book whichever you like once or twice, and use our website to revise.</li>
      <li>After reading the content once, just read the bold letters to revise. So that you can revise quickly.</li>
      <li>History is a subject full of facts, so revise every topic whenever you get free time daily even if you are
        well
        thorough in respective topics.</li>
      <li>We will upload different topics daily or weekly, so stay connected always.</li>
      <li>Make good use of pictures, timelines, maps, colour differentiations for places, names in our website to revise
        quickly and remember the facts for long time.</li>
    </ul>
  </div>
  <div class="logolast"><img src="../../assets/logo/logo.png" alt=""></div>
</div>

<script src="../../assets/javascript/how.js"></script>