<app-navbar></app-navbar>
<div>
    <h1 class="title">Association</h1>
</div>


<div class="swipe"><h6><i>Swipe right to view full table &rarr;</i></h6></div>

<div class="table1-spacing">
    <div class="table1">
    <table >
<thead>
        <tr class="table-active">
            <th>Year</th>
            <th>Associations</th>
            <th>Founder</th>
            <th>Place</th>
            <th>Objective</th>
            <th>Note</th>
        </tr>
</thead>
 <tbody>
        <tr class="category1">
            <td>1836</td>
            <td><b>Bangabhasha Prakasika Sabha</b></td>
            <td><b>Raja Ram Mohan Roy</b></td>
            <td>Bengal</td>
            <td></td>
            <td></td>
        </tr>
    
        <tr class="category1">
            <td></td>
            <td><b>Landlord Association or  Landholders society</b></td>
            <td></td>
            <td>Bengal</td>
            <td>To safeguard <b>interest of landlords</b></td>
            <td>
                <ul class="list">
                    <li>Marked <b>beginning of organized political activity.</b></li>
                    <li>Use of methods of <b>constitutional agitation</b> for redressal of grievances</li>
                </ul>
            </td>
        </tr>
    
        <tr class="category1">
            <td>1843</td>
            <td><b>Bengal British India society</b></td>
            <td></td>
            <td>Bengal</td>
            <td>
                Collection of information of actual condition of people, secure the welfare, extend  the just rights, advance interest of all classes 
            </td>
            <td></td>
        </tr>
    
        <tr class="category1">
            <td>1851</td>
            <td><b>British India Association</b></td>
            <td></td>
            <td>Bengal</td>
            <td>
                <div>Petition to British parliament demanding inclusion of suggestions.</div>
                <ul class="tablepoint">
                <li>Establise <b>Separate legislature</b> of popular character,</li>
                <li>Seperation of <b>judiciary and executive</b> functions,</li>
                <li><b>Salary Reduction</b> of higher officers,</li>
                <li>Abolition of <b>salt duties, stamp duty, abkari.</b></li>
                </ul>
            </td>
            <td>Result: Govt accepted in <b>Charter act of 1853</b> (6 mem added to GG council)</td>
        </tr>
    
        <tr>
            <td>1866</td>
            <td>East Indian Association</td>
            <td>Dadabhai Naoroji</td>
            <td><b>London</b></td>
            <td>Discuss Indian question and influence public men in <b>England</b> to promote Indian welfare.</td>
            <td>(Don’t confuse with British Indian Association)</td>
        </tr>
    
        <tr class="category1">
            <td>1875</td>
            <td><b>Indian League</b></td>
            <td><b>Sisir Kumar Gosh</b></td>
            <td>Bengal</td>
            <td>Encourage political education and simulating <b>sense of nationalism</b> amongst people.</td>
            <td></td>
        </tr>
    
        <tr class="category1">
            <td>1876</td>
            <td><b>Indian Association of Calcutta <br> or Indian National Association</b></td>
            <td>
                <ul class="list tablepoint">
                    <li><b>Surendarnath Banerjea</b></li>
                    <li><b>Ananda Mohan Bose</b></li>
                </ul>
            </td>
            <td>Bengal</td>
            <td>
                <ul class="list tablepoint">
                    <li>Promote the Political, Intellectual, Material <b>advancement of people</b> by every legitimate means.</li>
                    <li>Create strong <b>public opinion</b> on political questions.</li>
                    <li>Unify Indian people in <b>common political program.</b></li>
                </ul>
            </td>
            <td>
                <ul class="list tablepoint">
                    <li><b>Discontented</b> with conservative, prolandlord <b>policies of BIA</b> (British Indian Association)</li>
                    <li>Made <b>membership fee low</b></li>
                    <li>In <b>1833</b> - sponsored  <b>All India Conference</b></li>
                    <li>In <b>1886</b> - merged with <b>INC</b></li>
                    <li>
                        <div>Protest for CSE <b>age</b>, Demand <b>cse centre</b> in both england and india,</div>
                        <div><b>Indianisation</b> of higher administrative post,  Against - <b>Arms</b> Act, <b>Vernacular Press</b> Act</div>
                    </li>
                </ul>
            </td>
        </tr>
    
        <tr class="category2">
            <td>1867</td>
            <td><b>Poona Sarvajanik Sabha</b></td>
            <td><b>Mahadeo Govind Ranade</b></td>
            <td>Bombay</td>
            <td>Bridge between government and people</td>
            <td></td>
        </tr>
    
        <tr class="category2">
            <td>1885</td>
            <td><b>Bombay Presidency Association</b></td>
            <td>
                <ul class="list tablepoint">
                    <li><b>Badruddin Tyabji</b></li>
                    <li><b>Pherozshah Mehta</b></li>
                    <li><b>K.T. Telang</b></li>
                </ul>
            </td>
            <td>Bombay</td>
            <td></td>
            <td></td>
        </tr>
    
        <tr class="category3">
            <td>1884</td>
            <td><b>Madras Mahajan Sabha</b></td>
            <td>
                <ul class="list tablepoint">
                    <li><b>B. Subramaniya Iyer</b></li>
                    <li><b>Anandacharlu</b></li>
                    <li><b>M. Viraraghavachari</b></li>
                </ul>
            </td>
            <td>Madras</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>   
    </table>
</div>
</div>


<br><br><br><br><br><br>
<div class="instruction">
    <h4>Mistakes to be avoided to score better:</h4>
     <br>
    <ul>
        <li>Read the names of association completely and carefully. For example, don’t confuse between
            Association, League, Sabha and Society. <br>
            Read BIA-British India Association as it is, don’t get confused with other names like British Indian
            Society.</li> 
        
        <li>Read the names of leaders completely and carefully including initials. Sometimes MG Ranade
            will be asked as Mahadeo Govind Ranade.
            So read the initials carefully, so that you can match the names.</li>
        
        <li>Colour Differentiation: Places (Make use of the colour differentiation in the content so that it
            is easy to remember places). Example is shared below.
            <br> <span style="color: green;"> Bengal-green</span> <br>  <span style="color: skyblue;">Bombay-blue</span> <br>  <span style="color: palevioletred;">Madras-pink</span>  </li>
           
        <li>You can remember the places of origin by seeing the second name of founders. For example,
            Banerjea-Bengal, Iyer-Madras, Ranade-Bombay (not in all cases).</li>
         
        <li>After reading the content once, just go through the bold letters to revise. So that you can
            revise quickly (Bold letters are the ones that are the most important, so don’t ignore it).
            </li>
         
        <li>Link the leaders names to your friends names, so that it is easy for visualization.</li>
           
        <li>History is full of facts and is easily forgotten, so keep revising the content. </li>
       
    </ul>
</div>

<br> <br> <br> <br><br><br><br><br><br><br>

<div class="commentsouter">
    <h3 class="topic-container">Add your thoughts</h3>
    <div class="form-container">
        <form [formGroup] = "commentForm" class="form-display">
            <div class="form-group">
                <label><b>Comment</b></label>
                <textarea class="form-control" formControlName = "comment" rows="5"></textarea>
            </div>
    
            <div class="form-group">
                <label><b>Name</b></label>
                <input type="text" class="form-control" formControlName = "name">
            </div>
    
            <div class="form-group">
                <label><b>Email</b></label>
                <input type="email" class="form-control" formControlName = "email">
            </div>

            <div class="post-button">
                <button class="btn btn-danger button-size" (click) = "comment()">Post Comment</button>
            </div>

        </form>
    </div>
</div>

<div>
    <h3 class="topic-container">Comments</h3>

    <div *ngFor = "let comments of postComments let i = index" class="comment-section">
        <div>
            <img [src] = 'avatar' width="100" height="100">
            {{comments.name}} says:
        </div>
        <div class="comment">
            {{comments.comment}}
        </div>
    </div>
</div>


<app-footer></app-footer>
