<app-navbar></app-navbar>
<div>
    <h1 class="title">Famous Personalities</h1>
</div>


<div class="swipe"><h6><i>Swipe right to view full table &rarr;</i></h6></div>

<div class="table1-spacing">
    <div class="table1">
    <table class = "table table-hover">
        <tr class="table-active">
            <th>Year</th>
            <th>Personalities</th>
            <th></th>
            <th>Ideas & Belief</th>
            <th>Contribution</th>
        </tr>

        <tr>
            <td>1800s</td>
            <td>
                <div>
                    <b>ISHWAR CHANDRA VIDYASAGAR</b>
                </div>
                <div class="green"><b>@Bengal</b></div>
            </td>
            <td class="image-content"><img class="profile-imagep" src="../../assets/table/ishwar.jpg"></td>
            <td>
                <div>
                    <ul class="tablepoint">
                        <li>Both <b>Indian & western thought</b></li>
                        <li>To break <b>Priest monopoly</b> of Scriptual knowledge</li>
                        <li>Evolved <b>new methodology</b> to teach <b>Sanskrit</b></li>
                        <li>Included <b>Western thoughts in Sanskrit</b> learning</li>
                    </ul>
                </div><br>
                <div>
                    <u>Belief:</u>
                    <ul class="tablepoint">
                        <li>High moral values</li>
                        <li>Deep humanist</li>
                    </ul>
                </div>
            </td>
            <td>
                    <ul class="tablepoint">
                        <li>1850: <b>Sanskrit college principal</b> (teached for also <b>Non-brahmins</b>)</li>
                        <li>Created <b>New Bengali Primer & New prose style</b></li>
                        <li><b class="red"><u>SOMPRAKASH</u></b> magazine</li>
                        <li>Secretary of <b>Bethune School</b></li>
                        <li>Pioneer of Higher education for women</li>
                        <li>Bethune School <span class="text7">@Calcutta</span> – resulted in  powerful <b>rise of women education in 1850s</b></li>
                    </ul>
                    <br>
                       <u>Movements:</u>
                        <ul class="tablepoint">
                            <li>Widow remarriage </li>
                            <li>Against child marriage, Polygamy</li>
                            <li>Women education</li>
                            <li>Organised 35 girls schools</li>
                        </ul>
                   
               
            </td>
        </tr>
<!-- ---------------------------------------------------------------------------------- -->
        <tr>
            <td>1812-1846</td>
            <td>
                <div>
                    <b>BALSHASTRI JAMBHEKAR </b>
                </div>
                <div class="blue"><b>@Bombay</b></div>
            </td>
            <td class="image-content"><img class="profile-imagep" src="../../assets/table/balshastri.jpg"></td>
            <td>
                <ul class="tablepoint">
                    <li>Attacked Brahminical orthodoxy</li>
                <li>Tried reform popular Hinduism</li>
                <li>To awake people by social reforms- Widow remarriage</li>
                <li>Instill masses on <b>scientific approach to life</b></li>
                </ul>
            </td>
            <td>
                
                    <ul class="tablepoint">
                        <li>Journalism pioneer</li>
                        <li>Newspaper: <b class="red"><u>DARPAN</u></b> 1832</li>
                        <li><b>Father of <u>Marathi</u> journalism</b></li>
                        <li><b><u>Edited</u>- DIGDARSHAN</b> 1840 & publish Scientific and History subjects</li>
                        <li>Found: <span class="red"><b>Bombay Native General library 
                            Native Improvement society</b></span> (branch: Student and scientific library)</li>
                        <li>1st professor for <b>Hindi @Elphinston College</b></li>  
                            <li>Director <b>@Colaba Observatory</b></li>
                    </ul>
                
            </td>
        </tr>
<!-- ---------------------------------------------------------------------------------- -->
<tr>
            <td>1817-1898</td>
            <td><b>SIR SYED AHMED KHAN</b></td>
            <td class="image-content"><img class="profile-imagep" src="../../assets/table/syed.jpg"></td>
            <td>
                    <ul class="tablepoint">
                        <li>Ready to <b>allow British patronage</b> to stimulate Growth in Indian muslim education and employment</li>
                        <li>1876- Judicial service retired</li>
                        <li>1878- At <b>Imperial Legislative council</b></li>
                        <li>1888- <b>Knighthood</b></li>
                    </ul>
                <br>
                <div><b>Opposed youth involve in political activity</b>-because it would invite hostility of British against Masses.</div>
                <br>
                <div>His enthu to promote educational interest is used by <b>colonial as Divide and Rule</b>- To propogate divergence of Hindu-Mus interest.</div>
                <br>
                    <u>Belief:</u>
                    <ul class="tablepoint">
                        <li><b>Both Western scientific</b> education and <b>Quran</b></li>
                        <li>Interpret with rationality <b>But Quran</b> is <b>ultimate authority</b></li>
                        <li>Freedom of thought</li>
                        <li><b>Not complete dependence</b> on <b>tradition, custom</b></li>
                        <li>Insist on <b>Critical</b> approach</li>
                        <li>Practical <b>Morality</b></li>
                        <li><b>Unity of religions</b></li>
                    </ul>
                <br>
                <div><i>“1st Acquire education, then catch up with Hindu counterparts”</i></div>
            </td>

            <td>
                
                    <ul class="tablepoint">
                        <li>1875: <span class="red"><b>Mohammedan Oriental College</b></span> <span class="yellow"><b> @Aligarh</b></span></li>

                        <li>Magazine: <b class="red"><u>TAHDHIB UL AKHLAQ</u></b> - social ideas, morals</li>
                        <li>Translated books into <b>urdu</b></li>
                    </ul>
                <br>
                <div>
                    <u><b class="red">"ALIGARH MOVEMENT"</b></u>
                    <ul class="tablepoint3">
                        <li><b>Liberal, Modern</b> - Muslim intelligentsia</li>
                        <li>Spread modern education -Without weakening Islam</li>
                    </ul>
                </div>
                <br>
                <div>
                    <u>Social reform:</u>
                    <ul class="tablepoint">
                        <li>Against <b>Purdah</b>, Polygamy, widow remarriage, Women</li>
                        <li>education, Abolish slavery, easy divorce </li>
                        <li>Condem <b>muridi, piri</b></li>
                    </ul>
                </div>
                <br>
                <ul class="tablepoint">
                    <u>Ideology: </u>
                <li><b>Liberal interpretation of Quran</b></li>
                <li>Harmonise islam with <b>modern liberal culture</b></li>
                <li>Impart distinct social cultural identity on modern lines</li>
                </ul>
            </td>
        </tr>
<!-- ---------------------------------------------------------------------------------- -->
<tr>
            <td>1817-1905</td>
            <td>
                <div><b>DEBENDRANATH TAGORE</b></div>
                <div>(Father of Rabindranath)</div>
                <div class="green"><b>@Bengal</b></div>
            </td>
            <td class="image-content"><img class="profile-imagep" src="../../assets/table/Dtagore.jpg"></td>
            <td>
                <div><b>Both  Traditional</b> Indian learning  and <b>Western</b> thought</div>
                <br>
                <div>
                    <u>Support:</u>
                    <ul class="tablepoint">
                        <li>Widow remarriage</li>
                        <li>Women education</li>
                        <li>Abolition of polygamy</li>
                        <li><b>Improve ryot</b> (peasant) conditions</li>
                    </ul>
                </div>
            </td>
            <td>
                <div>
                    <ul class="tablepoint">
                        <li>Gave definite form to <b>THEIST MOVEMENT</b></li>
                        <li>1839: Headed  <b>Tattvabdhini Sabha</b> (dissolved with BS)</li>
                        <li><b>Tattvabodhini Patrika</b> editor [Bengali] (for systematic study of Indian past with rational outlook & Propagate Roy's idea)</li>
                        <li>1842- Joined Brahmo Samaj & Gave new life to Brahmo samaj</li>
                    </ul>
                </div>
                <br>
                <div><u>Who were Brahmo samaj members?</u></div>
                <div>Followers of RRMRoy, Derozians, Ishwar vidyasagar, Ashwini Kumar datt</div>
                <br>
                <div>
                    <u>Tagore: Worked on 2 fronts</u>
                    <ul class="tablepoint2">
                        <li>Within Hinduism as <b>reformist movement</b></li>
                        <li>Ouside- <b>opposed Christianity Missionaries</b> - which criticise Hindu</li>
                    </ul>
                </div>
            </td>
        </tr>
<!-- ---------------------------------------------------------------------------------- -->
<tr>
            <td>1838-1884</td>
            <td><b>KESHAB CHANDRA SEN</b></td>
            <td class="image-content"><img class="profile-imagep" src="../../assets/table/keshab.jpg"></td>
            <td><ul class="tablepoint"><li><b>COSMOPOLITISATION OF BRAHMO SABHA</b></li></ul>
                
                <div>(Inclusion of all religious teaching Strong views 
                    against caste Open support to Intercaste marriage too Radical)
                </div>
                <div>These qualities - <b>not liked by Tagore</b></div>
            </td>
            <td>
                <div>
                    <ul class="tablepoint">
                        <li>1858: <b>Achariya of Brahmo Samaj</b></li>
                        <li>Branches opened <b>outside Bengal</b> (UP, Madras, Punj, Bombay)</li>
                    </ul>
                </div>
                <div>
                    <ul class="tablepoint">
                        <li>1865: Dismissed from Brahmo samaj (Tagore don’t liked his activities)</li>
                        <li>Then Tagore's BS became <b>Adi Brahmo Samaj</b></li>
                        <li>1866: <b><u>Brahmo Samaj of India</u></b></li>
                    </ul>
                </div><br>
                <div>1878: Marriage to his 13yr Daughter to Maharaj Cooch Behar- with orthodox Hindu rituals caused split in samaj - Keshab <b>accused of authoritarianism</b></div>
            </td>
        </tr>
<!-- ---------------------------------------------------------------------------------- -->
<tr>
            <td>1878</td>
            <td>
                <ul class="tablepoint">
                    <li><b>ANANDA MOHAN BOSE</b></li>
                    <li><b>SHIBCHANDRA DEB</b></li>
                    <li><b>UMESH CHANDRA DATTA</b></li>
                </ul>
            </td>
            <td class="image-content">
                <div><img class="profile-imagep" src="../../assets/table/ananda.jpg"></div>
                <div><img class="profile-imagep" src="../../assets/table/shibchandra.jpg"></div>
                <div><img class="profile-imagep" src="../../assets/table/umesh.jpg"></div>
            </td>
            <td>
                <div>Brahmo's doctrine of faith - </div>
                <div>
                    <ul class="tablepoint">
                        <li><b>Supreme Being & one God</b></li>
                        <li><b>No Scripture</b></li>
                        <li><b>Man-Infallible</b></li>
                    </ul>
                </div><br>
                <div><u>Belief:</u>  <b> Reason, Truth, Moral</b></div>
            </td>
            <td>
                <ul class="tablepoint">
                    <li><b><u>Sadharan</u> Brahmo Sabha</b> (many opened @Madras)</li>
                <li>1910 <span class="thickgreen"><b>@Punjab</b></span> -<b>Dayal Singh College</b>  <span class="thickgreen"><b> (Lahore)</b></span></li>
             </ul>
            </td>
        </tr>
<!-- ---------------------------------------------------------------------------------- -->
<tr>
            <td>1823-1892</td>
            <td>
                <div><b>GOPALHARI DESHMUKH</b></div>
                <div class="blue"><b>@Maharastra</b></div>
            </td>
            <td class="image-content"><img class="profile-imagesq" src="../../assets/table/gopalhari.jpg"></td>
            <td>
                <div>
                    <ul class="tablepoint">
                        <li>Attacked <b>Hindu orthodox</b></li>
                        <li>Support: Social religious <b>equality</b></li>
                        <li><b>Reorganisation of Indian society</b></li>
                    </ul>
                </div>
                <br>
                <div>
                    <u>Belief:</u>
                    <div><b>Rational Principle, Modern, Humanistic, Secular</b></div>
                </div>
            </td>
            <td>
                <div>
                    <ul class="tablepoint">
                        <li><b>Judge</b> under British raj</li>
                        <li>Weekly: <b class="red"><u>PRABHAKAR</u></b>  (Pen name: <b>LOKAHITAWADI, HITECHHU</b>)</li>
                    </ul>
                </div>
                <br>
                <div>
                    <ul class="tablepoint2">
                        <u>Leading role in finding periodical:</u>
                        <li><b>GYAN PRAKASH</b></li>
                        <li><b>INDU PRAKASH</b></li>
                    </ul>
                </div>
                <br>
                <div>Wrote against <b>evil of caste</b></div>
                <div><i>“If religion doesn’t sanction social reform then change the religion”</i></div>
            </td>
        </tr>
<!-- ---------------------------------------------------------------------------------- -->
<tr>
            <td>1847-1933</td>
            <td><b>ANNIE BESANT</b></td>
            <td class="image-content"><img class="profile-imagesq" src="../../assets/table/annie.jpg"></td>
            <td>Did much for Cause of <b>Women education</b></td>
            <td>
                <div>
                    <ul class="tablepoint">
                        <li>1893: Came India</li>
                        <li>1898: Foundation of <b>Central Hindu College</b>  <span class="yellow"><b> @Benaras</b></span></li>
                        <li><b>Both Hindu religion & western scientific</b> subjects @CHC</li>
                        <li> 1916 CHC: nucleus of BENARAS HINDU UNIVERSTY</li>
                    </ul>
                </div>
                
            </td>
        </tr>
<!-- ---------------------------------------------------------------------------------- -->
<tr>
            <td>1856-1915</td>
            <td>
                <div><b>GOPAL GANESH AGARKAR</b></div>
                <div class="blue"><b>@Maharastra</b></div>
            </td>
            <td class="image-content"><img class="profile-imagesq" src="../../assets/table/gopalganesh.jpg"></td>
            <td>
                <ul class="tablepoint"><li>Power of <b>Human reason</b></li>
                    <li><b>Criticized: Blind dependence</b> on tradition, 
                        <b>false glorification of past</b></li></ul>
            </td>
            <td>
                <div>
                    <ul class="tablepoint">
                        <li>1st editor of <b>KESARI</b></li>
                        <li>own periodical: <b class="red"><u>SUDHARAK</u></b> (spoke against <b>Untouchabilty, caste system</b>)</li>
                    </ul>
                </div><br>
                <div>
                    <u>Co-founder of:</u>
                    <ul class="tablepoint">
                        <li class="red"><b>New English School</b></li>
                        <li class="red"><b>Deccan Education Society</b></li>
                        <li class="red"><b>Fergusson College</b> (also principal)</li>
                    </ul>
                </div>
               <br> (Other founders: <b>Thilak, V Chiplunkar</b>)
            </td>
        </tr>
    </table>
</div>
</div>





<br> <br> <br> <br>

<div class="instruction">
    <h4>Mistakes to be avoided to score better:</h4>
     <br>
    <ul>
        <li>Don’t confuse between – founder, co-founder, editor, helped in finding (To avoid confusion
            – Red colour is marked only for founder)</li>
        <li>Colour Differentiation: Places (Make use the colour differentiation in the content so that it is
            easy to remember places)
              
            <br> <span style="color: green;"> Bengal-green</span> <br>  <span style="color: skyblue;">Bombay-blue</span> <br>  <span style="color: palevioletred;">Madras-pink</span>
            <br> <span style="color: darkgreen;"> Punjab-thick green</span> <br>  <span style="color: orange;"> UP-orange</span> <br>  <span style="color: lightgreen;">Kerala-light green</span>
        </li> 
        
        <li>After reading the content once, just read the bold letters to revise, so that you can revise
            quickly (Bold letters are very important don’t ignore them)</li>
        
        
        <li>History is of facts and is easily forgotten, so keep on revising whenever you have time. </li>
       
    </ul>
</div>

<br> <br> <br> <br>

<div class="commentsouter">
    <h3 class="topic-container">Add your thoughts</h3>
    <div class="form-container ">
        <form [formGroup] = "commentForm" class="form-display">
            <div class="form-group">
                <label><b>Comment</b></label>
                <textarea class="form-control" formControlName = "comment" rows="5"></textarea>
            </div>
    
            <div class="form-group">
                <label><b>Name</b></label>
                <input type="text" class="form-control" formControlName = "name">
            </div>
    
            <div class="form-group">
                <label><b>Email</b></label>
                <input type="email" class="form-control" formControlName = "email">
            </div>

            <div class="post-button">
                <button class="btn btn-danger button-size" (click) = "comment()">Post Comment</button>
            </div>

        </form>
    </div>
</div>

<div>
    <h3 class="topic-container ">Comments</h3>

    <div *ngFor = "let comments of postComments let i = index" class="comment-section">
        <div>
            <img [src] = 'avatar' width="100" height="100">
            {{comments.name}} says:
        </div>
        <div class="comment">
            {{comments.comment}}
        </div>
    </div>
</div>



<app-footer></app-footer>


