<app-navbar></app-navbar>
<div>
    <h1 class="title">Medival Architecture</h1>
</div>

<div class="points">
    <ul>
        <li>712 AD - Arab conquest of Sind</li>
        <li>12th C - Delhi throned by Islamic rulers</li>
        <li>Indian Architecture underwent massive changes.</li>
    </ul>
</div>

<div class="textdiv">
    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/indo-islamic.jpg" alt=""></div>
        <div class="texttext">Indo-Islamic Features</div>
        <div class="textlink"><a [routerLink] = "['/indo-islamic']">Click Here</a></div>
        <!--wiki--><a href=" https://en.wikipedia.org/wiki/Indo-Islamic_architecture " target="_blank" class="wiki">
            <img src="../../../../assets/medival/wikipedia.png" alt=""></a>
    </div>

</div>

<div class="points">
    <div class="topichead">Delhi Sultanate Period</div>
    <ul>
        <li>1206 AD to 1526 AD</li>
        <li>Two categories</li>
        <ol class="li1">
            <li><b class="topichead2"> Imperial Style </b> [Delhi Rulers]</li>
            <ul class="li2">
                <li>Slave Dynasty</li>
                <li>Khilji Dynasty</li>
                <li>Tughlaq Dynasty</li>
                <li>Lodi Dynasty</li>
            </ul>
            <li><b class="topichead2">Provincial Style </b> [Local Rulers] </li>
            <ul class="li2">
                <li>Bengal</li>
                <li>Malwa</li>
                <li>Jaunpur</li>
                <li>Bijapur</li>
            </ul>
        </ol>
    </ul>
</div>

<div class="textdiv">
    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/delsul.jpg" alt=""></div>
        <div class="texttext">Imperial Style</div>
        <div class="textlink"><a [routerLink] = "['/delhisultante']" [queryParams]="{style:'imperial'}">Click Here</a></div>
    </div>

    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/provincial.jpg" alt=""></div>
        <div class="texttext">Provincial Style</div>
        <div class="textlink"><a [routerLink] = "['/delhisultante']" [queryParams]="{style:'provincial'}">Click Here</a></div>
    </div>
</div>

<div class="points">
    <!--wiki--><a href=" https://en.wikipedia.org/wiki/Mughal_architecture " target="_blank" class="wiki">
        <img src="../../../../assets/medival/wikipedia.png" alt=""></a>
    <div class="topichead">Mughal Period</div>
    <ul>
        <li>Mughals - Great patrons of art & architecture</li>
        <li>Other than Mughals, Two Regional styles @Rajasthan @Punjab</li>
        <ul class="li2">
            <li>Sikh Style </li>
            <li>Rajput Style</li>
        </ul>

    </ul>
</div>

<div class="textdiv">
    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/mughal.jpg" alt=""></div>
        <div class="texttext">Mughal Architecture</div>
        <div class="textlink"><a [routerLink] = "['/mughals']" [queryParams]="{style:'mughal'}">Click Here</a></div>
    </div>

    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/shersha.jpg" alt=""></div>
        <div class="texttext">Sher Shah Suri</div>
        <div class="textlink"><a [routerLink] = "['/mughals']" [queryParams]="{style:'shershah'}">Click Here</a></div>
    </div>

    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/sikh.jpg" alt=""></div>
        <div class="texttext">Sikh & Rajput Style</div>
        <div class="textlink"><a [routerLink] = "['/mughals']" [queryParams]="{style:'sikhRajput'}">Click Here</a></div>
    </div>

</div>


<div class="points">
    <div class="topichead">kashmir Architecture</div>

    <ul>
        <li>No monuments before 600AD <B>Except few Buddhist structures</B>
            [Stupas & Monatery <b>@Harwan & @Ushkar</b>]</li>
        <li>Later, 2 Important Phases</li>
        <ol class="li1">
            <li>Early Medival Hindu Phase [Temples]</li>
            <li>14thC Islamic Phase </li>
        </ol>
    </ul>
</div>

<div class="textdiv">
    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/temple.jpg" alt=""></div>
        <div class="texttext">Temples</div>
        <div class="textlink"><a [routerLink] = "['/kashmir']" [queryParams]="{style:'temples'}">Click Here</a></div>
    </div>

    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/masjid.jpg" alt=""></div>
        <div class="texttext">Islamic</div>
        <div class="textlink"><a [routerLink] = "['/kashmir']" [queryParams]="{style:'islamic'}">Click Here</a></div>
    </div>

    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/garden.jpg" alt=""></div>
        <div class="texttext">Gardens</div>
        <div class="textlink"><a [routerLink] = "['/kashmir']" [queryParams]="{style:'gardens'}">Click Here</a></div>
    </div>
</div>

<div class="points">
    <div class="topichead">Parsi Architecture</div>
</div>

<div class="textdiv">
    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/parsi.jpg" alt=""></div>
        <div class="texttext">Atash Behrams</div>
        <div class="textlink"><a [routerLink] = "['/parsi']">Click Here</a></div>
    </div>
</div>



<br><br><br>
<br><br><br><br><br><br>
<div class="instruction">
    <h4>Mistakes to be avoided to score better:</h4>
     <br>
    <ul>
        <li>Read the standard book once and use The Timeline Trends contents to revise.</li>
        <li>Observe the picture carefully. Most of the time questions asked related to the aritectural details, 
            <br> like 
            <b>Stone colour, Height, Special features, designs etc.</b>
        </li>
      
        <div class="modelques">
        For example,  2018 CSE question
<br><br>
        With reference to the cultural history of India, consider the following statements:
        <br><br>     1. White marble was used in making Buland Darwaza & Khankah at Fatehpur Sikri
        <br> 2. Red sandstone and marble were used in Bara Imambara & Rumi Darwaza at Lucknow
<br><br>
        which statement is/are correct? <br>
        a. 1 only  <br>
        b. 2 only <br>
        c. Both 1 & 2 <br>
        d. Neither 1 nor 2 <br>
        <br>
        Answer: a 
       </div>
        
      <li>To answer this question just observe the below pictures, you can 
          answer easily.   </li> 
    <div class="modelquesimg">
        <img class = "profile-imagel" src="../../assets/how/buland_darwaza.jpg" alt="">
        <img class = "profile-imagel" src="../../assets/how/bara_imambara.jpg" alt="">
    </div>
       <li>1st Image: <b>Buland Darwaza</b> - which is made by redsand stone, but you can see the white marble
           which is used in the door and top for decoration.
       </li>
       <li>2nd Image: <b>Bara Imambara</b> - which does not have any redsand stone. Hence the second statement is wrong.</li>      
<br>
<br>
        <li>Read the bold letters carefully.</li>
        <li>After reading, it will take only 5 mins to revise if you see the content daily.</li>
        <li>History is of facts and is easily forgotten, so keep on revising whenever you have time.</li>
        <li>To know more about the respective topic, click the wikipedia symbol on right side of each topic.</li>

    </ul>
</div>


<app-footer></app-footer>