<app-navbar></app-navbar>
<div>
    <h1 class="title">Medival Architecture</h1>
</div>

<div class="points">
    <ul>
        <li>712 AD - Arab conquest of Sind</li>
        <li>12th C - Delhi throned by Islamic rulers</li>
        <li>Indian Architecture underwent massive changes.</li>
    </ul>
</div>

<div class="textdiv">
    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/indo-islamic.jpg" alt=""></div>
        <div class="texttext">Indo-Islamic Features</div>
        <div class="textlink"><a [routerLink] = "['/indo-islamic']">Click Here</a></div>
        <!--wiki--><a href=" https://en.wikipedia.org/wiki/Indo-Islamic_architecture " target="_blank" class="wiki">
            <img src="../../../../assets/medival/wikipedia.png" alt=""></a>
    </div>

</div>

<div class="points">
    <div class="topichead">Delhi Sultanate Period</div>
    <ul>
        <li>1206 AD to 1526 AD</li>
        <li>Two categories</li>
        <ol class="li1">
            <li><b class="topichead2"> Imperial Style </b> [Delhi Rulers]</li>
            <ul class="li2">
                <li>Slave Dynasty</li>
                <li>Khilji Dynasty</li>
                <li>Tughlaq Dynasty</li>
                <li>Lodi Dynasty</li>
            </ul>
            <li><b class="topichead2">Provincial Style </b> [Local Rulers] </li>
            <ul class="li2">
                <li>Bengal</li>
                <li>Malwa</li>
                <li>Jaunpur</li>
                <li>Bijapur</li>
            </ul>
        </ol>
    </ul>
</div>

<div class="textdiv">
    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/delsul.jpg" alt=""></div>
        <div class="texttext">Imperial Style</div>
        <div class="textlink"><a [routerLink] = "['/delhisultante']" [queryParams]="{style:'imperial'}">Click Here</a></div>
    </div>

    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/provincial.jpg" alt=""></div>
        <div class="texttext">Provincial Style</div>
        <div class="textlink"><a [routerLink] = "['/delhisultante']" [queryParams]="{style:'provincial'}">Click Here</a></div>
    </div>
</div>

<div class="points">
    <!--wiki--><a href=" https://en.wikipedia.org/wiki/Mughal_architecture " target="_blank" class="wiki">
        <img src="../../../../assets/medival/wikipedia.png" alt=""></a>
    <div class="topichead">Mughal Period</div>
    <ul>
        <li>Mughals - Great patrons of art & architecture</li>
        <li>Other than Mughals, Two Regional styles @Rajasthan @Punjab</li>
        <ul class="li2">
            <li>Sikh Style </li>
            <li>Rajput Style</li>
        </ul>

    </ul>
</div>

<div class="textdiv">
    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/mughal.jpg" alt=""></div>
        <div class="texttext">Mughal Architecture</div>
        <div class="textlink"><a [routerLink] = "['/mughals']" [queryParams]="{style:'mughal'}">Click Here</a></div>
    </div>

    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/shersha.jpg" alt=""></div>
        <div class="texttext">Sher Shah Suri</div>
        <div class="textlink"><a [routerLink] = "['/mughals']" [queryParams]="{style:'shershah'}">Click Here</a></div>
    </div>

    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/sikh.jpg" alt=""></div>
        <div class="texttext">Sikh & Rajput Style</div>
        <div class="textlink"><a [routerLink] = "['/mughals']" [queryParams]="{style:'sikhRajput'}">Click Here</a></div>
    </div>

</div>


<div class="points">
    <div class="topichead">kashmir Architecture</div>

    <ul>
        <li>No monuments before 600AD <B>Except few Buddhist structures</B>
            [Stupas & Monatery <b>@Harwan & @Ushkar</b>]</li>
        <li>Later, 2 Important Phases</li>
        <ol class="li1">
            <li>Early Medival Hindu Phase [Temples]</li>
            <li>14thC Islamic Phase </li>
        </ol>
    </ul>
</div>

<div class="textdiv">
    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/temple.jpg" alt=""></div>
        <div class="texttext">Temples</div>
        <div class="textlink"><a [routerLink] = "['/kashmir']" [queryParams]="{style:'temples'}">Click Here</a></div>
    </div>

    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/masjid.jpg" alt=""></div>
        <div class="texttext">Islamic</div>
        <div class="textlink"><a [routerLink] = "['/kashmir']" [queryParams]="{style:'islamic'}">Click Here</a></div>
    </div>

    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/garden.jpg" alt=""></div>
        <div class="texttext">Gardens</div>
        <div class="textlink"><a [routerLink] = "['/kashmir']" [queryParams]="{style:'gardens'}">Click Here</a></div>
    </div>
</div>

<div class="points">
    <div class="topichead">Parsi Architecture</div>
</div>

<div class="textdiv">
    <div class="textbox boxx">
        <div class="textimg"><img src="../../../../assets/medival/Images/parsi.jpg" alt=""></div>
        <div class="texttext">Atash Behrams</div>
        <div class="textlink"><a [routerLink] = "['/parsi']">Click Here</a></div>
    </div>
</div>


<app-footer></app-footer>