.form-container{
    height: 100%;
    display: flex;
    align-items: center;
}

.card-container{
    display: flex;
    justify-content: flex-end;   
}

.button-container{
    display: flex;
    justify-content: center;
}

.font-color{
    color: white;
}

.lable-container{
    display: flex;
    justify-content: center;
}