<app-navbar></app-navbar>
<div>
    <h1 class="title">Modern History Timeline</h1>
</div>
<!-- ****************************************        Era        *********************************************************** -->
<div class="allfilters">
    <ul class="filterSection">
        <li>
            <button class="tgfilter" >Filter</button>
            <button class="tg">Detailed</button>
            <label ><input type="checkbox" value="fives" class="erastyle"/> 1500s</label>
            <label ><input type="checkbox" value="sixes" class="erastyle"/> 1600s</label>
            <label ><input type="checkbox" value="sevens" class="erastyle"/> 1700s</label>
            <label ><input type="checkbox" value="eights" class="erastyle"/> 1800s</label>
            
             
        </li> 
    </ul>

<!-- ************************************************************************************************************************* -->




<div class="targetfilter">
    
    <ul id="filters">
        <li>
            <div class="sortbox2">
            <div class="sortout"><input type="checkbox"  value="sall" id="filter-sall" />
            <label for="filter-sall">all events</label></div> 

            <div class="sortout"><input type="checkbox" checked="true" value="yr" id="filter-yr" />
            <label for="filter-yr">Display Year</label></div> 

            <div class="sortout"><input type="checkbox"  value="ruler" id="filter-ruler" />
            <label for="filter-ruler">All Rulers Timeline</label></div> 
           
            <div class="sortout"><input type="checkbox" value="war" id="filter-war" />
            <label for="filter-war">Wars</label></div> 
            </div>
<br>        <div class="sortbox2">
            <div class="sortout"><input type="checkbox" value="euro" id="filter-euro" />
            <label for="filter-euro">Europeans</label></div> 

            <div class="sortout"><input type="checkbox" value="fort" id="filter-fort" />
            <label for="filter-fort">Forts</label></div>

            <div class="sortout"><input type="checkbox" value="factory" id="filter-factory" />
            <label for="filter-factory">Factories</label></div>

            <div class="sortout"><input type="checkbox" value="uk" id="filter-uk" />
            <label for="filter-uk">British</label></div>
    
            <div class="sortout"><input type="checkbox" value="por" id="filter-por"/>
            <label for="filter-por"><span class="filterimg"><img src="../../assets/filter/portugal_flag.png" alt=""></span> Portugal</label></div>
            </div>
            
<br>
        <div class="sortbox2">
            <div class="sortout"><input type="checkbox" value="ind" id="filter-ind"/>
            <label for="filter-ind">Indian Rulers</label></div>

            <div class="sortout"><input type="checkbox" value="mughal" id="filter-mughal"/>
            <label for="filter-mughal">Mughals</label></div>
        </div>
            

        </li>
    </ul>
</div>
</div>


<span id="itemsToFilter">
<div data-era="fives"> <!--ERA-->

<!-- YEAR  **************************************************************************************** -->
<div class="whole">
    <div class="year"><article class="yr">1489</article></div><div class="events">
                        <!--1--> <div class="event"><article class="sall ind ruler"> <!--CLASS-->
                        <span class="spanimg"> <img src="../../assets/filter/lodi_flag.jpg" alt=""> </span> <!--FLAG-->
                        <p class="p1"> Shikendar Lodi </p><p class="p2">  </p><p class="p3"> </p> 
    <!--LINK-->         <a href=" https://en.wikipedia.org/wiki/Sikandar_Lodi " target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                        <div class="target">Will be uploaded soon</div></article></div>
  
                          
    </div>
    </div>
<!-- YEAR  **************************************************************************************** -->
<div class="whole">
    <div class="year"><article class="yr">1492</article></div><div class="events">
                        <!--1--> <div class="event"><article class="sall euro"> <!--CLASS-->
                        <span class="spanimg">  </span> <!--FLAG-->
                        <p class="p1"> Columbus to America </p><p class="p2">from Spain </p><p class="p3">  </p>
    <!--LINK-->         <a href=" https://en.wikipedia.org/wiki/Voyages_of_Christopher_Columbus " target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                        <div class="target">Will be uploaded soon</div></article></div>
               
                       
    
    </div>
    </div>
    
<!-- YEAR  **************************************************************************************** -->
<div class="whole">
<div class="year"><article class="yr">1494</article></div><div class="events">
                  <!--1--> <div class="event"><article class="sall euro "> <!--CLASS-->
                    <span class="spanimg"></span> <!--FLAG-->
                    <p class="p1"> Treaty of Tordesillas </p><p class="p2">  </p><p class="p3">  </p>
<!--LINK-->         <a href="https://en.wikipedia.org/wiki/Treaty_of_Tordesillas" target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                    <div class="target">Will be uploaded soon</div></article></div>


          
</div>
</div>

<!-- YEAR  **************************************************************************************** -->
<div class="whole">
<div class="year"><article class="yr">1497</article></div><div class="events">
                  <!--1--> <div class="event"><article class="sall portugal euro por"> <!--CLASS-->
                    <span class="spanimg"><img src="../../assets/filter/portugal_flag.png" alt=""></span> <!--FLAG-->
                    <p class="p1"> Portuguese shipped to India</p><p class="p2"></p><p class="p3"> </p>
<!--LINK-->         <a href=" https://en.wikipedia.org/wiki/Portuguese_India" target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                    </article></div>


 
                   
</div>
</div>
<!-- YEAR  **************************************************************************************** -->
<div class="whole">
<div class="year"><article class="yr">1498</article></div><div class="events">
                  <!--1--> <div class="event"><article class="sall portugal euro por"> <!--CLASS-->
                    <span class="spanimg"><img src="../../assets/filter/portugal_flag.png" alt=""></span> <!--FLAG-->
                    <p class="p1"> Portuguese landed on India [Calicut]</p><p class="p2"> on May </p><p class="p3">by Vasco da Gama </p>
<!--LINK-->         <a href="https://en.wikipedia.org/wiki/Portuguese_India#Vasco_da_Gama_lands_in_India" target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                    </article></div>


 
                   
</div>
</div>
<!-- YEAR  **************************************************************************************** -->
<div class="whole">
<div class="year"><article class="yr">1500</article></div><div class="events">
                  <!--1--> <div class="event"><article class="sall portugal euro por"> <!--CLASS-->
                    <span class="spanimg"><img src="../../assets/filter/portugal_flag.png" alt=""></span> <!--FLAG-->
                    <p class="p1"> Pedro Alarez Cabral </p><p class="p2"> came India</p><p class="p3"> Portugal </p>
<!--LINK-->         <a href="https://en.wikipedia.org/wiki/Portuguese_India#Pedro_%C3%81lvares_Cabral" target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                    <div class="target">Will be uploaded soon</div></article></div>
                  <!--2--> <div class="event"><article class="sall portugal euro factory por"> <!--CLASS-->
                    <span class="spanimg"><img src="../../assets/filter/portugal_flag.png" alt=""></span> <!--FLAG-->
                    <p class="p1"> @Calicut Factory [1st]</p><p class="p2"> Portuguese </p><p class="p3">by Pedro alarez cabral </p>
<!--LINK-->         <a href="https://en.wikipedia.org/wiki/Portuguese_India#Pedro_%C3%81lvares_Cabral" target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                    </article></div>

 
                   
</div>
</div>
<!-- YEAR  **************************************************************************************** -->
<div class="whole">
<div class="year"><article class="yr">1501</article></div><div class="events">
                  <!--1--> <div class="event"><article class="sall portugal euro por"> <!--CLASS-->
                    <span class="spanimg"><img src="../../assets/filter/portugal_flag.png" alt=""></span> <!--FLAG-->
                    <p class="p1"> Vasco Da Gama again came India </p><p class="p2"> </p><p class="p3"> </p>
<!--LINK-->         <a href=" https://en.wikipedia.org/wiki/Portuguese_India" target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                    </article></div>
                  <!--2--> <div class="event"><article class="sall portugal euro factory por"> <!--CLASS-->
                    <span class="spanimg"><img src="../../assets/filter/portugal_flag.png" alt=""></span> <!--FLAG-->
                    <p class="p1"> @Cannanore Factory [2nd] </p><p class="p2">Portuguese  </p><p class="p3">by Vasco da gama </p>
<!--LINK-->         <a href=" https://en.wikipedia.org/wiki/Portuguese_India" target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                    </article></div>

 
                   
</div>
</div>
<!-- YEAR  **************************************************************************************** -->
<div class="whole">
<div class="year"><article class="yr"> 1503 </article></div><div class="events">
                  <!--1--> <div class="event"><article class="sall portugal euro fort por"> <!--CLASS-->
                    <span class="spanimg"><img src="../../assets/filter/portugal_flag.png" alt=""></span> <!--FLAG-->
                    <p class="p1"> @Cochin Fort [1st] </p><p class="p2"> Portugal </p><p class="p3"> </p>
<!--LINK-->         <a href=" https://en.wikipedia.org/wiki/Portuguese_India" target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                    </article></div>


 
                   
</div>
</div>
<!-- YEAR  **************************************************************************************** -->
<div class="whole">
<div class="year"><article class="yr">1505</article></div><div class="events">
                    <!--1--> <div class="event"><article class="sall portugal euro por ruler"> <!--CLASS-->
                        <span class="spanimg"><img src="../../assets/filter/portugal_flag.png" alt=""></span> <!--FLAG-->
                        <p class="p1"> Francisco De Almeida [1st Viceroy]</p><p class="p2"> Portugal  </p><p class="p3"> </p>
    <!--LINK-->         <a href="https://en.wikipedia.org/wiki/Portuguese_India#Francisco_de_Almeida" target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                        <div class="target">Blue water policy-Cartaze system.  “Blue Water” policy was to be <b>powerful at the sea</b> instead of building fortresses on Indian land. Cartaz (means letters) - naval trade license or pass issued by the Portuguese in the Indian ocean
                            <a href="https://en.wikipedia.org/wiki/Cartaz" target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a></div>
                        </article></div>

                    <!--2--> <div class="event"><article class="sall portugal euro fort por"> <!--CLASS-->
                    <span class="spanimg"><img src="../../assets/filter/portugal_flag.png" alt=""></span> <!--FLAG-->
                    <p class="p1"> @Cannanore Fort [2nd]</p><p class="p2"> Portugal  </p><p class="p3"> </p>
<!--LINK-->         <a href=" https://en.wikipedia.org/wiki/Portuguese_India" target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                    </article></div>

                   
</div>
</div>
<!-- YEAR  **************************************************************************************** -->
<div class="whole">
<div class="year"><article class="yr">1509</article></div><div class="events">
                  <!--1--> <div class="event"><article class="sall portugal euro war por"> <!--CLASS-->
                    <span class="spanimg"><img src="../../assets/filter/portugal_flag.png" alt=""></span> <!--FLAG-->
                    <p class="p1"> Battle of Diu</p><p class="p2"> Portuguese [won] vs Zamorin, Mameluke, Gujarat Sultan</p><p class="p3"> </p>
<!--LINK-->         <a href=" https://en.wikipedia.org/wiki/Battle_of_Diu_(1509)" target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                    <div class="target">Portuguese [Francisco De Almeida] defeated combined fleet of Mameluke of Egypt, Gujarat Sultan, Zamorin (Calicut ruler)</div></article></div>


 
                   
</div>
</div>
<!-- YEAR  **************************************************************************************** -->
<div class="whole">
<div class="year"><article class="yr">1510</article></div><div class="events">
                  <!--1--> <div class="event"><article class="sall portugal euro por ruler"> <!--CLASS-->
                    <span class="spanimg"><img src="../../assets/filter/portugal_flag.png" alt=""></span> <!--FLAG-->
                    <p class="p1"> Alfonso De Albuquerque [2nd Viceroy] captures  Goa </p><p class="p2"> from sultan of Bijapur</p><p class="p3"> </p>
<!--LINK-->         <a href=" https://en.wikipedia.org/wiki/Goa#Portuguese_period" target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                    </article></div>


 
                   
</div>
</div>
<!-- YEAR  **************************************************************************************** -->
<div class="whole">
    <div class="year"><article class="yr">1515</article></div><div class="events">
                        <!--1--> <div class="event"><article class="sall ind ruler"> <!--CLASS-->
                        <span class="spanimg"> <img src="../../assets/filter/lodi_flag.jpg" alt=""> </span> <!--FLAG-->
                        <p class="p1"> Ibrahim Lodi </p><p class="p2">  </p><p class="p3">  </p>
    <!--LINK-->         <a href=" https://en.wikipedia.org/wiki/Ibrahim_Lodi " target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                        <div class="target">Will be uploaded soon</div></article></div>
               
              
    
    </div>
    </div>
<!-- YEAR  **************************************************************************************** -->
<div class="whole">
    <div class="year"><article class="yr">1526</article></div><div class="events">
                        <!--1--> <div class="event"><article class="sall mughal ind mughals ruler"> <!--CLASS-->
                        <span class="spanimg"> <img src="../../assets/filter/mughals_flag.png" alt=""> </span> <!--FLAG-->
                        <p class="p1"> Babur </p><p class="p2"> came India from  Timurid Empire [Uzbekistan]  </p><p class="p3">  </p>
    <!--LINK-->         <a href=" https://en.wikipedia.org/wiki/Babur " target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                        <div class="target">Will be uploaded soon</div></article></div>
               
                <!--2--> <div class="event"><article class="sall mughal ind war mughals"> <!--CLASS-->
                        <span class="spanimg"> <img src="../../assets/filter/mughals_flag.png" alt=""><p class="vs">vs</p><img src="../../assets/filter/lodi_flag.jpg" alt="">  </span> <!--FLAG-->
                        <p class="p1"> First Battle of Panipat </p><p class="p2"> Babur [won] vs Ibrahim Lodi </p><p class="p3">  </p>
    <!--LINK-->         <a href=" https://en.wikipedia.org/wiki/First_Battle_of_Panipat " target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                        <div class="target">Sultanate rule end</div></article></div> 
    
     
                       
    
    </div>
    </div>
    
<!-- YEAR  **************************************************************************************** -->
<div class="whole">
<div class="year"><article class="yr">1529</article></div><div class="events">
                  <!--1--> <div class="event"><article class="sall portugal euro por ruler"> <!--CLASS-->
                    <span class="spanimg"><img src="../../assets/filter/portugal_flag.png" alt=""></span> <!--FLAG-->
                    <p class="p1"> Nuno Da Cunha [3rd Viceroy] </p><p class="p2">Portugal</p><p class="p3"> </p>
<!--LINK-->         <a href=" https://en.wikipedia.org/wiki/Portuguese_India" target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                    <div class="target">Will be uploaded soon</div></article></div>


 
                   
</div>
</div>
<!-- YEAR  **************************************************************************************** -->
<div class="whole">
<div class="year"><article class="yr">1530</article></div><div class="events">
                  <!--1--> <div class="event"><article class="sall portugal euro por"> <!--CLASS-->
                    <span class="spanimg"><img src="../../assets/filter/portugal_flag.png" alt=""></span> <!--FLAG-->
                    <p class="p1">Headquarter change Cochin to <b>Goa</b></p><p class="p2">Portugal</p><p class="p3"> </p>
<!--LINK-->         <a href=" https://en.wikipedia.org/wiki/Portuguese_India" target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                    <div class="target">Will be uploaded soon</div></article></div>

		    <!--2--> <div class="event"><article class="sall ind mughal mughals ruler"> <!--CLASS-->
                <span class="spanimg">  <img src="../../assets/filter/mughals_flag.png" alt="">  </span> <!--FLAG-->
                <p class="p1"> Humayun </p><p class="p2">  </p><p class="p3">  </p>
<!--LINK-->         <a href=" https://en.wikipedia.org/wiki/Humayun " target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                <div class="target">Will be uploaded soon</div></article></div> 



 
                   
</div>
</div>
<!-- YEAR  **************************************************************************************** -->
<div class="whole">
<div class="year"><article class="yr">1559</article></div><div class="events">
                  <!--1--> <div class="event"><article class="sall portugal euro por"> <!--CLASS-->
                    <span class="spanimg"><img src="../../assets/filter/portugal_flag.png" alt=""></span> <!--FLAG-->
                    <p class="p1">Portuguese capture <b>Daman</b></p><p class="p2"></p><p class="p3"> </p>
<!--LINK-->         <a href=" https://en.wikipedia.org/wiki/Portuguese_India" target="_blank" class="p4" ><img src="../../assets/filter/wikipedia.png" alt=""></a>                   
                    <div class="target">Will be uploaded soon</div></article></div>


 
                   
</div>
</div>

</div>
</span>


<app-footer></app-footer>
