@import "https://fonts.googleapis.com/css?family=Baloo+Paaji";
@font-face {
  src: url(../../assets/Fonts/UnifrakturCook/UnifrakturCook-Bold.ttf);
  font-family: u;
}
@font-face {
  src: url(../../assets/Fonts/cheltenhm/CheltenhamBoldExtraCondensedBT.ttf);
  font-family: c;
}
@font-face {
  src: url(../../assets/Fonts/Montserrat/Montserrat-Regular.ttf);
  font-family: m;
}
@font-face {
  src: url(../../assets/Fonts/Amr/Amr.otf);
  font-family: a;
}
@font-face {
  src: url(../../assets/Fonts/neon-font/Neon-e2wg.ttf);
  font-family: neon;
}
@font-face {
  src: url(../../assets/Fonts/Lobster/Lobster-Regular.ttf);
  font-family: l;
}
@font-face {
  src: url(../../assets/Fonts/Merriweather/Merriweather-Regular.ttf);
  font-family: merri;
}
@font-face {
  src: url(../../assets/Fonts/blackchancery/BLKCHCRY.TTF);
  font-family: blk;
}
@font-face {
  src: url(../../assets/Fonts/Open_Sans/OpenSans-Regular.ttf);
  font-family: os;
}
@font-face {
  src: url(../../assets/Fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
  font-family: ws;
}
@font-face {
  src: url(../../assets/Fonts/Roboto/Roboto-Light.ttf);
  font-family: robo;
}

* {
  margin: 0%;
  padding: 0%;
}



ul{
    list-style: none;
  }
  
  .whole{
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 18px;
    
  }
  
  .year{
  font-family: u;
  font-size: 20px;
  padding: 0 10px;
  background-color: teal;
  color: white;
  
  }
  
  .events{
  width: 100%;
  
  }
  
  .spanimg img{
  width: 30px;
  height: 20px;
  margin-top: 3px;
  }
  /* <img src="/images/british.png" alt=""><p class="vs">vs</p><img src="/images/british.png" alt=""> */
  .filterimg img{
    width: 25px;
    height: 16px; 
  }
  
  
  p.vs{
  font-family: c;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  display: inline-block;
  }
  
  
  .p1{
  font-size: 20px;
  font-family: c;
  }
  .p2{
  font-size: 18px;
  font-family: c;
  }
  .p3{
  font-size: 18px;
  font-family: c;
  }
  a.p4{
    text-align: end;
    float: right;
    margin-right: 5px;
  
  }
  
  
  .p4 img{
    width: 15px;
    height: 15px;
  
  }
  
  .p1, .p2, .p3, .spanimg{
  margin-left: 7px;
  display: inline;
  }
  
  .target, .targetfilter{
    display:none;
    font-family: os;
    font-size: 15px;
    padding: 15px;
    background-color: white;
    
  }
  
  .event{
    display: flex;
  }
  .sall{
    width: 100%;
  }
  
  .british{
    border: orange dotted 1px;
    background-color: orange;
    }
  .portugal{
    border: skyblue dotted 1px;
    background-color: paleturquoise;
    }
  .mughals{
    border: green dotted 1px;
    background-color: greenyellow;
  }
     
  
  
  
  
  
  
  
  
  
    .showItem {
      display: list-item;
      }
      .hideItem {
        display: none;
      }
    #itemsToFilter div{
      list-style: none;
      
    }
      .filterSection li {
        list-style: none;
        margin: 0px;
        display: inline;
         
      }
      .filterSection {
        margin:  auto;
        width: 90%;
        padding: 2px;
        background-color: papayawhip;
        color: black;
        font-family: u ;
      }
   
  
      .filterSection button{
        margin-left: 10px;
      }
    
  .erastyle{
    margin-left: 10px;
  }
  
  
  .allfilters{
    position: sticky;
    top: 7.7%;
    margin-top: 10px;
  }
  
  
  .sortbox2{
    background-color: darkslategrey;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding: 7px;
    width: 90%;
    margin:auto;
    display: flex; 
    flex-wrap: wrap;
    
  }
  
  .sortout {
    margin-left:10px;
  }
  
  input, label{
    cursor: pointer;
  }
  
  
  button
  {  
  font-family: l;  
    height:25px;
    width:80px;
    padding:3px;
    font-size:12px;
    cursor:pointer;
    background-color: black;
    color: azure;
    transition: ease-in 0.2s;
    border: whitesmoke solid 1px;
    
    
  }
  
  button:hover {
      color: black;
      background-color: teal;
      transition: ease-in 0.2s;
  }
  
  
  
  
  /* content       ################################################################################ */
  /* title ****** */
  .title{
      color: snow;
      font-family: c;
      font-size: 45px;
      width: 80%;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      background: rgb(0, 0, 0, 0.8);
      padding: 10px;
      margin: auto;
      margin-top: 2em;
  
  }