<app-navbar></app-navbar>
<div class="body-background">
    <div class="title">
        <h1 class="gradient-text title-container">Contact Us</h1>
    </div>

    <div class="content-conatiner">
        <div class="block1">
            <div>
                <ul class="content">
                    <li>You can give your feedbacks in comment sections below each topics.</li><br>
                    <li>You can indicate mistakes in the content in comment section below each topics so that we can
                        correct
                        it.</li><br>
                    <li>You can tell us your favourite topics, doubts. We will reach you as soon as possible.</li>
                </ul>
            </div>
        </div>

        <!-- Feedback ************************************************************************************ -->
        <div class="form-container">
            <div class="container">
                <div>
                    <div class="card backgroundcolor">
                        <div class="card-header">Feedback</div>
                        <div class="card-body">
                            <form [formGroup]="feedbackForm" feedbackForm='ngForm' (ngSubmit)="submit()">
                                <div class="form-groups">
                                    <label>Name</label>
                                    <input type="text" formControlName="name" id="name" class="form-control">
                                </div>

                                <div class="form-groups">
                                    <label>Email</label>
                                    <input type="email" formControlName="email" id="email" class="form-control">
                                </div>

                                <div class="form-groups">
                                    <label>Comments</label>
                                    <textarea class="form-control" rows="5" formControlName="comments"
                                        id="comments"></textarea>
                                </div>

                                <div class="button-container">
                                    <button class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Queries ************************************************************************************ -->
    <div class="queries ">
        <div class="email">
            For more queries contact us <br>
            <div id="p1"> thetimelinetrends@gmail.com</div>
            <span><button onclick="copyToClipboard('#p1')">Copy email</button></span>
        </div>
        <span class="insta">
            <a href="#" class="instalink">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <span> Timeline Trends</span>
            </a>
        </span>
    </div>


    <div class="details">
        <div class="name">
            <div> Author & Website Design:</div>
            <div style="margin-top: 10px;">Vignesh Anand</div>
            <div id="p2"> vigneshanand@gmail.com</div>
            <span><button onclick="copyToClipboard('#p2')">Copy email</button></span>
        </div>

        <span class="insta">
            <a href="https://instagram.com/vignesh_anand_vicky?igshid=cz5mrm5gcaxq" class="instalink">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <span> vignesh_anand _vicky</span>
            </a>
        </span>
    </div>


    <div class="details">
        <div class="name">
            <div>Website Developer:</div>
            <div style="margin-top: 10px;">Ashwanth</div>
            <div style="text-decoration: underline;">ashwanthchandrasekaran23 @gmail.com</div>
            <div id="p3" style="display: none;">ashwanthchandrasekaran23@gmail.com</div>
            <span><button onclick="copyToClipboard('#p3')">Copy email</button></span>


        </div>

        <span class="insta">
            <a href="https://instagram.com/ashwanth_chandrasekaran?igshid=2zqm3qgjamgk" class="instalink">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <span>ashwanth _chandrasekaran</span>
            </a>
        </span>
    </div>


    <div class="details">
        <div class="name">
            <div>Content Collector:</div>
            <div style="margin-top: 10px;">Diwakar Anand</div>
            <div id="p4">pugazhdiwa@gmail.com</div>
            <span><button onclick="copyToClipboard('#p4')">Copy email</button></span>


        </div>

        <span class="insta">
            <a href="https://instagram.com/dapdiwa94?igshid=dibkg2unk62q" class="instalink">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <span>dapdiwa94</span>
            </a>
        </span>
    </div>

</div>

<app-footer></app-footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../assets/javascript/contact.js"></script>