/* Fonts      ################################################################################ */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Baloo+Paaji";
@font-face {
  src: url(../../assets/Fonts/cheltenhm/CheltenhamBoldExtraCondensedBT.ttf);
  font-family: c;
}
@font-face {
  src: url(../../assets/Fonts/Montserrat/Montserrat-Regular.ttf);
  font-family: m;
}
@font-face {
  src: url(../../assets/Fonts/Amr/Amr.otf);
  font-family: a;
}
@font-face {
  src: url(../../assets/Fonts/UnifrakturCook/UnifrakturCook-Bold.ttf);
  font-family: u;
}
@font-face {
  src: url(../../assets/Fonts/neon-font/Neon-e2wg.ttf);
  font-family: neon;
}
@font-face {
  src: url(../../assets/Fonts/Lobster/Lobster-Regular.ttf);
  font-family: l;
}
@font-face {
  src: url(../../assets/Fonts/Merriweather/Merriweather-Regular.ttf);
  font-family: merri;
}
@font-face {
  src: url(../../assets/Fonts/blackchancery/BLKCHCRY.TTF);
  font-family: blk;
}
@font-face {
  src: url(../../assets/Fonts/Open_Sans/OpenSans-Regular.ttf);
  font-family: os;
}
@font-face {
  src: url(../../assets/Fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
  font-family: ws;
}
@font-face {
  src: url(../../assets/Fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf);
  font-family: wsi;
}
@font-face {
  src: url(../../assets/Fonts/Roboto/Roboto-Light.ttf);
  font-family: robo;
}

* {
  margin: 0%;
  padding: 0%;
}

header.nava {
  overflow: hidden;
  background: darkslategrey;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
}

.nava a,
.navb a,
header.nava label {
  display: block;
  padding: 20px 15px 25px;
  color: #fff;
  text-decoration: none;
  line-height: 5px;
  height: 20px;
}

header.nava a:hover,
header.nava label:hover {
  color: #aaa;
}

header.nava label {
  float: right;
  padding: 17px 20px;
  cursor: pointer;
}

header.nava label:after {
  content: "\2261";
  font-size: 1.8em;
}

.logo {
  float: left;
  font-family: u;
  font-size: 29px;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 1.1px 0 #2c2c2c,
    0 1.2px 0 #2a2a2a, 0 1.3px 0 #282828, 0 1.4px 0 #262626, 0 1.5px 0 #242424,
    0 1.6px 0 #222, 0 1.7px 0 #202020, 0 2px 0 #1e1e1e, 0 2.1px 0 #1c1c1c,
    0 2.2px 0 #1a1a1a, 0 2.3px 0 #181818, 0 2.4px 0 #161616, 0 2.5px 0 #141414,
    0 2.8px 0 #121212, 0 3px 3px rgba(0, 0, 0, 0.9);
}

.navb {
  float: right;
  max-height: 0;
  width: 100%;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height 0.3s;

  font-family: m;
  font-size: 10px;
  color: snow;
  text-decoration: none;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 1px 0 black;
}

.navb ul {
  margin: 0;
  padding: 0;
}

.navb li {
  display: block;
  text-align: center;
  padding: 20px;
}

.navb a {
  width: 100%;
}

#nav {
  display: none;
}

#nav:checked ~ nav {
  max-height: 500px;
}

@media only screen and (min-width: 800px) {
  

  header.nava label {
    display: none;
  }

  nav.navb {
    width: auto;
    max-height: none;
  }

  .navb ul {
    padding: 0;
    padding-right: 20px;
  }

  .navb li {
    display: inline-block;
    text-align: left;
    margin-left: 30px;
    margin-top: auto;
    padding: 0;
  }

  header.nava nav a {
    display: inline-block;

    width: auto;
  }
}

/* Footer     ################################################################################ */
footer {
  background-color: black;
  font-family: "Lato", sans-serif;
  position: relative;
}

.footer-inner {
  display: grid;
  grid-template-columns: minmax(18%, auto) 12% minmax(17%, auto) 11% minmax(
      auto,
      25%
    ) minmax(109px, auto);
  column-gap: 24px;
  row-gap: 2%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  position: relative;
  padding-top: 2em;
  padding-bottom: 1em;
}

.footer-item:nth-of-type(7) {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.footer-button {
  margin-top: 8px;
  margin-left: 5px;
  margin-bottom: 8ex;
  font-family: l;
  height: 35px;
  width: 100px;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  background-color: black;
  color: azure;
  transition: ease-in 0.2s;
  border: whitesmoke solid 1px;
}

.footer-button:hover {
  color: black;
  background-color: teal;
  transition: ease-in 0.2s;
}

.footer-inner h1 {
  font-family: u;
  color: white;
  font-size: 23px;
  letter-spacing: 2px;
  margin: 0;
  margin-right: 1em;
}

.footer-inner h2 {
  font-weight: 300;
  line-height: 1.8;
  font-size: 13px;
  color: #d1d1d1;
  letter-spacing: 0.03em;
}

.color {
  color: white;
  font-weight: 400;
}

.footer-inner h3 {
  font-weight: 400;
  font-size: 13px;
  color: white;
  margin: 0;
  padding-bottom: 9px;
  letter-spacing: 0.03em;
}

.footer-inner ul {
  line-height: 1.8;
  list-style-type: none;
  padding: 0;
}

.footer-inner li {
  font-weight: 300;
  font-size: 13px;
  color: #d1d1d1;
  letter-spacing: 0.03em;
}

.footer-inner p {
  color: white;
  font-weight: 300;
  font-size: 13px;
  padding: 0;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.footer-item a {
  text-decoration: none;
  color: #d1d1d1;
}

.footer-item a:hover {
  color: white;
}

@media (max-width: 1024px) {
  footer {
    padding: 10px 0 10px 0 !important;
  }

  .footer-inner {
    grid-template-areas:
      "logo logo"
      "explore visit"
      "business follow"
      "legal legal"
      "next next";
    grid-template-columns: minmax(15%, auto) minmax(15%, auto);
    row-gap: 10%;
    border-bottom: 1px solid #333;
    padding-bottom: 188px;
  }

  .footer-item:nth-of-type(1) {
    grid-area: logo;
    border-bottom: 1px solid #333;
    padding-bottom: 33px;
  }

  .footer-item:nth-of-type(2) {
    grid-area: explore;
  }

  .footer-item:nth-of-type(3) {
    grid-area: visit;
  }

  .footer-item:nth-of-type(4) {
    grid-area: follow;
  }

  .footer-item:nth-of-type(5) {
    grid-area: legal;
  }

  .footer-item:nth-of-type(6) {
    grid-area: logo;
    justify-self: end;
    margin-top: 5px;
  }

  .footer-item:nth-of-type(7) {
    grid-area: business;
  }

  .footer-inner:after {
    top: 745px;
  }
}

/* Background      ################################################################################ */
.body-background {
  background-image: url(../../assets/other/contactus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  /* height: 100%;    */
}

/* content       ################################################################################ */
.content {
  font-family: robo;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6em;
  color: black;
  align-self: flex-start;
  max-width: 500px;
  width: 90%;
}

/* Title colouring *************************************************************************** */

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: #ca4246;

  /* Create the gradient. */
  background-image: linear-gradient(
    45deg,
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.gradient-text:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

.gradient-text {
  font-family: c;
  font-weight: 700;
  font-size: 5em;
  display: block;
  cursor: pointer;
  width: 305px;
}
.title {
  width: 305px;
  margin: 3.7em 1em 0em;
  text-align: center;
}

.title-container {
  padding-top: 15px;
}

/* Insta Icons Styling ******************************************************* */
.insta {
  transform: translate(-50%, -50%);
  width: 200px;
  height: 100px;
  display: inline-block;
  margin-left: 120px;
  margin-top: 50px;
}

a .fa {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: 0.5s;
  padding-right: 14px;
}

.insta a span {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: 0.5s;
}

.insta a {
  text-decoration: none;
  display: absolute;
  display: block;
  width: 280px;
  height: 80px;
  background: #fff;
  text-align: left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.insta a:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

.insta a:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

.insta a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.insta:hover .fa {
  color: #fff;
}

.insta:hover span {
  color: #fff;
}

.insta:hover a {
  background: #e4405f;
}

.insta:hover a:before {
  background: #d81c3f;
}

.insta:hover a:after {
  background: #e46880;
}

/* Queries ************************************************************************ */
.queries {
  height: 150px;
  margin-left: 2em;
  margin-top: 8em;
  display: flex;
  width: 80%;
  max-width: 900px;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.email {
  padding: 20px;
  float: left;
  line-height: 30px;
  color: snow;
  width: 500px;
  font-size: 15px;
  font-family: merri;
}

#p1,
#p2,
#p3,
#p4 {
  text-decoration: underline;
}

button {
  margin-top: 8px;
  margin-left: 5px;
  margin-bottom: 8ex;
  font-family: l;
  height: 35px;
  width: 100px;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  background-color: black;
  color: azure;
  transition: ease-in 0.2s;
  border: whitesmoke solid 1px;
}

button:hover {
  color: black;
  background-color: teal;
  transition: ease-in 0.2s;
}

.details {
  height: 150px;
  margin-left: 2em;
  margin-top: 5em;
  box-sizing: border-box;
  display: flex;
  width: 80%;
  max-width: 900px;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.name {
  padding: 20px;
  float: left;
  line-height: 20px;
  color: snow;
  width: 500px;
  font-family: merri;
  font-size: 15px;
}

/* Feedback ************************************************************************************** */
.form-container {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.8);
  width: 350px;
}

.card-container {
  display: flex;
  justify-content: flex-end;
}

.button-container {
  display: flex;
  justify-content: left;
  margin-top: 0.1em;
  margin-left: 2em;
}

.card-header {
  font-family: c;
  font-size: 30px;
  color: honeydew;
  padding: 10px 0 5px 0;
  text-align: center;
  border-bottom: rgb(255, 255, 240, 0.2) 1px solid;
}

.form-groups {
  font-family: m;
  font-size: 14px;
  color: honeydew;
  padding: 1em 5em 1em 2em;
}

.form-groups input {
  width: 20em;
  padding: 0.3em;
  margin-top: 0.5em;
}
.form-groups textarea {
  width: 20em;
  padding: 0.3em;
  margin-top: 0.5em;
}

.block1 {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  max-width: 1200px;
  margin-left: 5em;
  justify-content: space-between;
  border-top: lightblue 1px solid;
  padding-top: 3em;
}

.backgroundcolor {
  background-color: black;
  width: 375px;
  height: 500px;
}

@media screen and (max-width: 1000px) {
  .form-container {
    margin: auto;
    margin-top: 4em;
  }
  .content {
    margin: auto;
  }
  .content-conatiner {
    display: flex;
    flex-direction: column;
  }
  .block1 {
    margin: auto;
    width: 80%;
  }
  .title {
    margin: auto;
    margin-top: 3.7em;
  }
  .queries,
  .details {
    margin: auto;
    margin-top: 6em;
  }
}

.content-conatiner {
  display: flex;
}

.feedback-container {
  width: 85%;
}

* a {
  cursor: pointer;
}
