<app-navbar></app-navbar>

<div *ngIf="style == 'imperial'">

    <div>
        <h1 class="title">Delhi Sultanate</h1>
    </div>

    <div class="points">
        <!--wiki--><a href=" https://en.wikipedia.org/wiki/Delhi_Sultanate " target="_blank" class="wiki">
            <img src="../../../../assets/medival/wikipedia.png" alt=""></a>
        <div class="topichead"></div>
        <ul>
            <li>1191 to 1557 AD</li>
            <li>Each dynasty made their own flavors but broad style remained same in all.</li>
        </ul>
    </div>

    <div class="table1-spacing">
        <div class="table1">
            <table>
                <tr>
                    <th></th>
                    <th>Slave/Ilbari Dynasty</th>
                    <th>Khilji Dynasty</th>
                    <th>Tughlaq Dynasty</th>
                    <th>Lodi Dynasty</th>
                </tr>

                <tr>
                    <td>Year</td>
                    <td>1206 to 1290 AD</td>
                    <td>1290 to 1320 AD</td>
                    <td>1321 to 1413 AD</td>
                    <td>1451 to 1526 AD</td>
                </tr>

                <tr>
                    <td>Style Name</td>
                    <td>Mameluke Style</td>
                    <td>Seljuk Style</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td>Introduced</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Batter construction style</td>
                    <td>Double Domes</td>
                </tr>

                <tr>
                    <td>Stone used</td>
                    <td>-</td>
                    <td>Red Sandstone</td>
                    <td>Grey Sandstone</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td>Main Focus</td>
                    <td>Remodelling of Existing Hindu structures</td>
                    <td>-</td>
                    <td>Strength of the building [But no decorations]</td>
                    <td>Only Tombs <br>
                        Hard & Bare without decorations</td>
                </tr>

                <tr>
                    <td>Feature</td>
                    <td>-</td>
                    <td>Arcuade Style &<br>Mortar as cementing agent</td>
                    <td>Arch + Lintel entrance [both used]</td>
                    <td>-</td>
                </tr>

            </table>
        </div>
    </div>

    <div class="points">
        <!--wiki--><a href=" https://en.wikipedia.org/wiki/Mamluk_dynasty_(Delhi) " target="_blank" class="wiki">
            <img src="../../../../assets/medival/wikipedia.png" alt=""></a>
        <div class="topichead">Slave/Ilbari Dynasty</div>
        <ul>
            <li>Converted old Jain & Hindu temples <br> Eg: Quwat-ul-Islam</li>
            <li></li>
        </ul>
    </div>

    <div class="keywords" style="line-height: 25px;text-align: left; padding-left: 15px;">
        <p><b>Qutub Minar</b>: Initiated by <b>"Qutub-ud-din Aibak"</b> [did only ground floor]
            <ul class="li2">
                <li>Ground floor: Qutub-ud-din Aibak</li>
                <li>Next 3 storey: <b>"Iltutmish"</b> [Slave dynasty]</li>
                <li>5th Floor: <b>"Feroze Shah Tughlaq"</b> [Tughlaq dynasty]</li>
            </ul>
    </div>
    <div class="landport">
        <div class="potrait">
            <img src="../../../../assets/medival/delhisultane/images/1_qutubminar.jpg" alt="5 Terre" style="width:100%"
                onclick="onClick2(this)" class="modal2-hover-opacity">
            <div class="container">
                <span class="imgname">Qutub Minar</span><span class="imgplace">@Delhi</span>
                <!--wiki--><a href=" https://en.wikipedia.org/wiki/Qutb_Minar " target="_blank" class="wiki">
                    <img src="../../../../assets/medival//wikipedia.png" alt=""></a>
                <p class="imgabout">5 Storey structure <br><b>World's tallest brick minaret</b>
                <p>
            </div>
        </div>
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images/2_quwat.jpg" alt="5 Terre" style="width:100%"
                onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">Quwat-ul-Islam Mosque</span><span class="imgplace">@Qutub Minar Premises</span>
                <!--wiki--><a href=" https://en.wikipedia.org/wiki/Qutb_Minar_complex#Quwwat-ul-Islam_Mosque "
                    target="_blank" class="wiki"><img src="../../../../assets/medival/wikipedia.png" alt=""></a>
                <p class="imgabout">Converted from <b>Jain temple</b>
                <p>
            </div>
        </div>
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images//3_arhai.jpg" alt="5 Terre" style="width:100%"
                onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">Arhai-din-ka-Jhopra</span><span class="imgplace">@Ajmer, Rajasthan</span>
                <!--wiki--><a href=" https://en.wikipedia.org/wiki/Adhai_Din_Ka_Jhonpra " target="_blank"
                    class="wiki"><img src="../../../../assets/medival/wikipedia.png" alt=""></a>
                <p class="imgabout">
                <p>
            </div>
        </div>

    </div>

    <div class="points">
        <!--wiki--><a href=" https://en.wikipedia.org/wiki/Khalji_dynasty " target="_blank" class="wiki">
            <img src="../../../../assets/medival/wikipedia.png" alt=""></a>
        <div class="topichead">Khilji Dynasty</div>
        <ul>
            <li><b>Arcuade Style</b> [see <a [routerLink]="['/indo-islamic']">Indo-Islamic features</a>]</li>
            <li><b>Mortar</b> - prominent cementing agent from now onwards</li>
            <li><b>Red Sandstone</b></li>
        </ul>
    </div>
    <div class="landport">
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images/4_alaidarwaza.jpg" alt="5 Terre" style="width:100%"
                onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">Alai Darwaza</span><span class="imgplace">@Qutub Minar Premises</span>
                <!--wiki--><a href=" https://en.wikipedia.org/wiki/Alai_Darwaza " target="_blank" class="wiki">
                    <img src="../../../../assets/medival/wikipedia.png" alt=""></a>
                <p class="imgabout">By <b>Alauddin Khalji</b>
                    <br>"Gate of Alauddin"
                <p>
            </div>
        </div>
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images/5_sirifort.jpg" alt="5 Terre" style="width:100%"
                onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">Siri Fort</span><span class="imgplace">@Delhi</span>
                <!--wiki--><a href=" https://en.wikipedia.org/wiki/Siri_Fort " target="_blank" class="wiki">
                    <img src="../../../../assets/medival//wikipedia.png" alt=""></a>
                <p class="imgabout">
                <p>
            </div>
        </div>
    </div>

    <div class="points">
        <!--wiki--><a href=" https://en.wikipedia.org/wiki/Tughlaq_dynasty " target="_blank" class="wiki">
            <img src="../../../../assets/medival//wikipedia.png" alt=""></a>
        <div class="topichead">Tughlaq Dynasty</div>
        <ul>
            <li><b>Crisis Period</b> of Delhi Sultanate Architecture</li>
            <li><b>Both Lintel & Arch</b> [see <a [routerLink]="['/indo-islamic']">Indo-Islamic features</a>]</li>
            <li><b>Grey Sandstone</b></li>
        </ul>
    </div>
    <div class="keywords" style="line-height: 25px;text-align: left; padding-left: 15px;">
        <p><u>Introduced</u> <b>Batter system</b> - Sloping walls to give more Strength </p>
    </div>
    <div class="landport">
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images/6_tughlaqabaad.jpg" alt="5 Terre"
                style="width:100%" onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">Tughlaqabaad City</span><span class="imgplace">@Delhi</span>
                <!--wiki--><a href=" https://en.wikipedia.org/wiki/Tughlaqabad_Fort " target="_blank" class="wiki">
                    <img src="../../../../assets/medival/wikipedia.png" alt=""></a>
                <p class="imgabout">By <b>Ghiyas-ud-din Tughlaq</b>
                <p>
            </div>
        </div>
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images/7_jahaanpanah.jpg" alt="5 Terre" style="width:100%"
                onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">Jahaanpanah city</span><span class="imgplace">@Delhi</span>
                <!--wiki--><a href=" https://en.wikipedia.org/wiki/Jahanpanah " target="_blank" class="wiki">
                    <img src="../../../../assets/medival/wikipedia.png" alt=""></a>
                <p class="imgabout">by <b>Muhammad bin Tughlaq</b>
                <p>
            </div>
        </div>
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images/8_ferozabad.jpg" alt="5 Terre" style="width:100%"
                onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">Ferozabad/Firozpur city</span><span class="imgplace">@Sutlej, Punjab</span>
                <!--wiki--><a href=" https://en.wikipedia.org/wiki/Firozpur " target="_blank" class="wiki">
                    <img src="../../../../assets/medival/wikipedia.png" alt=""></a>
                <p class="imgabout">by <b>Feroze Shah Tughlaq</b> <br>
                    Note: Not Firozabad near Agra
                <p>
            </div>
        </div>
    </div>



    <div class="points">
        <!--wiki--><a href=" https://en.wikipedia.org/wiki/Lodi_dynasty " target="_blank" class="wiki">
            <img src="../../../../assets/medival/wikipedia.png" alt=""></a>
        <div class="topichead">Lodi Dynasty</div>
        <ul>
            <li>Architecture <b>back seat</b>. Only Tombs built.</li>
            <li><b>Hard & Bare tombs</b> [No decorations]</li>
            <li><b>Octagonal shaped tombs</b> & supported by <b>Sloping Verandah</b></li>
            <li>Double Dome: <b>Hollow Dome inside the Top dome</b>
                - To give <b>strength</b> & <b>Lower the inner dome height</b></li>
        </ul>
    </div>
    <div class="fullfeature">
        <div class="featuretopic"> Features </div>
        <div class="features">

            <div class="featuresquare featurebox">
                <div class="featureimg3"><img src="../../../../assets/medival/delhisultane/images/octagonal.jpg" alt="">
                </div>
                <div class="featurename">Octogonal Tomb</div>
            </div>

            <div class="featurepotrait featurebox">
                <div class="featureimg1"><img src="../../../../assets/medival/delhisultane/images/doubledome.png"
                        alt=""></div>
                <div class="featurename">Double Dome</div>
            </div>

        </div>
    </div>

    <div class="landport">
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images/lodigarden.cms" alt="5 Terre" style="width:100%"
                onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">Lodi Gardens</span><span class="imgplace"></span>
                <!--wiki--><a href=" https://en.wikipedia.org/wiki/Lodi_Gardens " target="_blank" class="wiki">
                    <img src="../../../../assets/medival/wikipedia.png" alt=""></a>
                <p class="imgabout">
                <p>
            </div>
        </div>
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images/10_cityofagra.jpg" alt="5 Terre" style="width:100%"
                onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">City of Agra</span><span class="imgplace"></span>
                <!--wiki--><a href=" https://en.wikipedia.org/wiki/Agra#Pre-Mughal_era " target="_blank"
                    class="wiki"><img src="../../../../assets/medival/wikipedia.png" alt=""></a>
                <p class="imgabout">By <b>Sikandar Lodi</b>
                <p>
            </div>
        </div>
    </div>

    <div id="modal01" class="modal1" onclick="this.style.display='none'">
        <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <div class="content01">
            <img id="img01" style="max-width:100%">
        </div>
    </div>

    <div id="modal02" class="modal2" onclick="this.style.display='none'">
        <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <div class="content02">
            <img id="img02" style="max-width:100%">
        </div>
    </div>

    <script>
        function onClick1(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
        }

        function onClick2(element) {
            document.getElementById("img02").src = element.src;
            document.getElementById("modal02").style.display = "block";
        }
    </script>
</div>

<div *ngIf="style == 'provincial'">

    <div>
        <h1 class="title">Delhi Sultanate Period Regional architecure</h1>
    </div>

    <div class="points">
        <div class="topichead"></div>
        <ul>
            <li>Indo-Islamic style started to influence local architecture</li>
            <li></li>
        </ul>
    </div>

    <div class="points">
        <!--wiki--><a href=" https://en.wikipedia.org/wiki/Architecture_of_Bengal#Islamic " target="_blank"
            class="wiki"><img src="../../../../assets/medival/wikipedia.png" alt=""></a>
        <div class="topichead">Bengal School</div>
        <ul>
            <li><b>Bricks & Black Marble</b></li>
            <li>Sloping <b>Bangla roofs</b> [Earlier used in <b>Temples</b> ]</li>
        </ul>
    </div>

    <div class="fullfeature">
        <div class="featuretopic"> Features </div>
        <div class="features">


            <div class="featurelandscape featurebox">
                <div class="featureimg"><img src="../../../../assets/medival/delhisultane/images2/banglaroof.jpg" alt=""></div>
                <div class="featurename">Bangla roof</div>
            </div>


            <div class="featurepotrait featurebox">
                <div class="featureimg1"><img src="../../../../assets/medival/delhisultane/images2/blackmarble@Adina.jpg"
                        alt=""></div>
                <div class="featurename">Black marble @Adina</div>
            </div>

        </div>
    </div>

    <div class="landport">
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images2/1. QADAM RASUL @GAUR.jpg" alt="5 Terre" style="width:100%"
                onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">Qadam Rasul Mosque</span><span class="imgplace">@Gaur</span>
                <p class="imgabout">
                <p>
            </div>
        </div>
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images2/2. ADINA MOSQUE @PANDUA.jpg" alt="5 Terre"
                style="width:100%" onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">Adina Mosque</span><span class="imgplace">@Pandua</span>
                <!--wiki--><a href=" https://en.wikipedia.org/wiki/Adina_Mosque " target="_blank" class="wiki">
                    <img src="../../../../assets/medival/wikipedia.png" alt=""></a>
                <p class="imgabout">
                <p>
            </div>
        </div>
    </div>


    <div class="points">
        <!--wiki--><a href=" https://en.wikipedia.org/wiki/Malwa_Sultanate#Malwa_architecture " target="_blank"
            class="wiki"><img src="../../../../assets/medival/wikipedia.png" alt=""></a>
        <div class="topichead">Malwa School</div>
        <ul>
            <li>aka <b>"Pathan School of Architecture"</b></li>
            <li>@Dhar & @Mandu, Mathya Pradesh</li>
            <li><u>Features:</u>
                <ul class="li2">
                    <li><b>Different Colored stones, Marbles</b></li>
                    <li><b>Large Windows</b> [European influence]</li>
                    <li>Windows with <b>Arches & Pillars</b></li>
                    <li><b>Stairs</b> used</li>
                    <li><b>Absence of Minars</b></li>
                    <li><b>Batter system</b> [receding slope of a wall]</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="keywords" style="text-align: left; padding: 10px; line-height: 30px;">
        <p>Malwa school is the <b>Best Example of Environmental adaptation</b>
            <br>
        <ul class="li2">
            <li>Large Windows [well ventilated] </li>
            <li><b>Baulis</b> [Artificial Reservoirs]</li>
            <li><b>Lightly Arched pavilions</b> [for cooling & airy]</li>
            <li><b>Local available materials</b> used</li>
        </ul>

    </div>

    <div class="landport">
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images2/6. Rani Rupmati_Pavilion.jpg" alt="5 Terre"
                style="width:100%" onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">Raani Roopmati Pavilion</span><span class="imgplace">@Mandu, MP</span>
                <!--wiki--><a href=" https://en.wikipedia.org/wiki/Roopmati#Rewa_Kund_and_Rani_Roopmati_pavilion "
                    target="_blank" class="wiki"><img src="../../../../assets/medival/wikipedia.png" alt=""></a>
                <p class="imgabout">
                <p>
            </div>
        </div>
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images2/3. JAHAZ MAHAL.jpg" alt="5 Terre" style="width:100%"
                onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">Jahaz Mahal</span><span class="imgplace">@Mandu, MP</span>
                <!--wiki--><a href=" https://en.wikipedia.org/wiki/Mandu,_Madhya_Pradesh#Places_of_interest "
                    target="_blank" class="wiki"><img src="../../../../assets/medival/wikipedia.png" alt=""></a>
                <p class="imgabout">
                <p>
            </div>
        </div>
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images2/4. Hindola Mahal Mandu.jpg" alt="5 Terre"
                style="width:100%" onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">Hindola Mahal</span><span class="imgplace">@Mandu, MP</span>
                <!--wiki--><a href=" https://en.wikipedia.org/wiki/Hindola_Mahal " target="_blank" class="wiki">
                    <img src="../../../../assets/medival/wikipedia.png" alt=""></a>
                <p class="imgabout">
                <p>
            </div>
        </div>
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images2/5. Ashrafi-Mahal-Mandu.jpg" alt="5 Terre"
                style="width:100%" onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">Ashrafi Mahal Mahal</span><span class="imgplace">@Mandu, MP</span>
                <p class="imgabout">
                <p>
            </div>
        </div>
    </div>


    <div class="points">
        <!--wiki--><a href=" https://en.wikipedia.org/wiki/Jaunpur_Sultanate#Art_and_architecture " target="_blank"
            class="wiki"><img src="../../../../assets/medival/wikipedia.png" alt=""></a>
        <div class="topichead">Jaunpur School</div>
        <ul>
            <li><b><u>Sharqi Rulers</u> of Jaunpur</b></li>
            <li>Hence known as <b>Sharqi Style</b></li>
            <li><b>Absence of Minars</b> [like Malwa school] </li>
            <li>Prayer Hall centre & Sides were painted by <b>Bold Forceful characters</b> </li>
        </ul>
    </div>
    <div class="landport">
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images2/8. atala-mosque-jaunpur up.jpg" alt="5 Terre"
                style="width:100%" onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">Atala Mosque</span><span class="imgplace">@Jaunpur, UP</span>
                <!--wiki--><a href=" https://en.wikipedia.org/wiki/Atala_Mosque,_Jaunpur " target="_blank"
                    class="wiki"><img src="../../../../assets/medival/wikipedia.png" alt=""></a>
                <p class="imgabout">
                <p>
            </div>
        </div>
    </div>



    <div class="points">
        <!--wiki--><a href=" https://en.wikipedia.org/wiki/Adil_Shahi_dynasty " target="_blank" class="wiki"><img
                src="../../../../assets/medival/wikipedia.png" alt=""></a>
        <div class="topichead">Bijapur School</div>
        <ul>
            <li><b><u>Adil Shah</u> of Bijapur</b></li>
            <li>aka <b>"Deccan Style"</b></li>
            <li><u>Features:</u>
                <ul class="li2">
                    <li><b>Rich Carvings</b></li>
                    <li><b>Iron Clamps + Plaster of Mortar</b> to give strength</li>
                    <li><b>3-Arched Facade</b></li>
                    <li><b>Bulbous Dome</b> [almost spherical]</li>
                    <li><b>Celings without apparent support</b></li>
                    <li><b><u>Introduced</u> Cornices</b></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="fullfeature">
        <div class="featuretopic"> Features </div>
        <div class="features">


            <div class="featurelandscape featurebox">
                <div class="featureimg"><img src="../../../../assets/medival/delhisultane/images2/3-facade.jpg" alt=""></div>
                <div class="featurename">Three Arched Facade</div>
            </div>

            <div class="featurelandscape featurebox">
                <div class="featureimg"><img src="../../../../assets/medival/delhisultane/images2/Wall-Plastering.jpg" alt="">
                </div>
                <div class="featurename">Use of Plaster</div>
            </div>

            <div class="featurelandscape featurebox">
                <div class="featureimg"><img src="../../../../assets/medival/delhisultane/images2/ceiling-of-golgumbaz.jpg"
                        alt=""></div>
                <div class="featurename">Ceiling without support</div>
            </div>


            <div class="featuresquare featurebox">
                <div class="featureimg3"><img src="/2_Medivalarch//2_DelhiSultanate/images2/ironclamps.jpg" alt="">
                </div>
                <div class="featurename">Iron Clamps</div>
            </div>

            <div class="featuresquare featurebox">
                <div class="featureimg3"><img src="../../../../assets/medival/delhisultane/images2/cornices.jpg" alt=""></div>
                <div class="featurename">Introduced Cornices</div>
            </div>

            <div class="featuresquare featurebox">
                <div class="featureimg3"><img src="../../../../assets/medival/delhisultane/images2/Shallow_Cornices.jpg" alt="">
                </div>
                <div class="featurename">Cornices</div>
            </div>
        </div>
    </div>

    <div class="landport">
        <div class="landscape">
            <img src="../../../../assets/medival/delhisultane/images2/7. GOL GUMBAJ-ADIL Sahah mosque @Bijapur KN.jpg"
                alt="5 Terre" style="width:100%" onclick="onClick1(this)" class="modal1-hover-opacity">
            <div class="container">
                <span class="imgname">Gol Gumbaj</span><span class="imgplace">@Bijapur, KN</span>
                <!--wiki--><a href=" https://en.wikipedia.org/wiki/Gol_Gumbaz " target="_blank" class="wiki"><img
                        src="../../../../assets/medival/wikipedia.png" alt=""></a>
                <p class="imgabout">Mausoleum of Adil Shah
                <p>
            </div>
        </div>
    </div>

    <div id="modal01" class="modal1" onclick="this.style.display='none'">
        <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <div class="content01">
            <img id="img01" style="max-width:100%">
        </div>
    </div>

    <div id="modal02" class="modal2" onclick="this.style.display='none'">
        <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <div class="content02">
            <img id="img02" style="max-width:100%">
        </div>
    </div>

    <script>
        function onClick1(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
        }

        function onClick2(element) {
            document.getElementById("img02").src = element.src;
            document.getElementById("modal02").style.display = "block";
        }
    </script>

</div>

<app-footer></app-footer>