

* {
	margin: 0%;
	padding: 0%;
} 


/* content       ################################################################################ */
/* title ****** */
.title{
    color: snow;
    font-family: c;
    font-size: 45px;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    background: rgb(0, 0, 0, 0.8);
    padding: 10px;
    margin: auto;
    margin-top: 2em;

}



/* ************************************************************************************************************************** */
.points{
    background-color: paleturquoise;
    margin: auto;
    margin-top: 30px;
    font-family: os;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    padding: 20px;
  }
  
  .points li{
    list-style-type: none;
    margin-bottom: 10px;
    list-style-position: inside;
 
  }
  .points li:nth-child(1){
    margin-top: 10px;
  }
  .li1 li{
    list-style-type: decimal;
  }
  .li2 li{
    list-style: square;
    list-style-position: inside;
  }
  
  .topichead{
    font-family: u;
    font-size: 30px;
    text-decoration: underline;
  }
  .topichead2{
    font-size: 1.2em;
  }
  
  
  

  





/* ************************************************************************************************************************** */
body{
    padding: 0;
    margin: 0;
}

div.landscape {
    width: 500px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin: 10px;
  }

div.potrait { 
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin: 10px;
  }

  div.container {
    text-align: center;
    padding: 10px 20px;
  }

  div.landport{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
    
  }





/* ************************************************************************************************************************** */
.modal1{
  z-index:1;
  display:none;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.8);
  box-sizing:content-box;
}
.modal2{
  z-index:1;
  display:none;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.8);
  box-sizing:content-box;
}    

      
.content01{
    display: block;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
      width: 800px;
      max-width: 95%;
    }
.content02{
        display: block;
        position: absolute;
          top: 0%;
          left: 50%;
          transform: translate(-50%, 3%); 
          width: 450px;
          max-width: 95%;   
        }
 @media only screen and (max-width: 1200px) {
     
    .content02{
          transform: translate(-50%, 0%); 
        }
 }

    
    
    
    .modal1-hover-opacity {
    opacity:1;
    filter:alpha(opacity=100);
    -webkit-backface-visibility:hidden
    }
    .modal2-hover-opacity {
        opacity:1;
        filter:alpha(opacity=100);
        -webkit-backface-visibility:hidden
        }
    .modal1-hover-opacity:hover {
    opacity:0.6;
    filter:alpha(opacity=60);
    -webkit-backface-visibility:hidden
    }
    .modal2-hover-opacity:hover {
        opacity:0.6;
        filter:alpha(opacity=60);
        -webkit-backface-visibility:hidden
}

/* ************************************************************************************************************************** */
.featurename{
  font-family: c;
  font-size: 25px;
}
.featureabout{
  padding-top: 10px;
  font-family: os;
  font-size: 0.7em;
}
.imgname{
  font-family: blk;
  font-size: 25px;
  color: 	#3CB371;
 
}
.imgplace{
  color: 	#3CB371;
  font-family: os;
  font-size: 0.9em;
  margin-left: 10px;
}
.imgabout{
  padding-top: 10px;
  font-family: os;
  font-size: 0.8em;
}

.keywords{
  padding: 3px;
  width: 80%;
  background-color: rgb(220, 20, 60, 0.4);
  margin: auto;
  margin-top: 10px;
  font-family: ws;
  text-align: center;
}

.impword{
  font-size: 1.1em;
  text-decoration: black underline;
}


/* ************************************************************************************************************************** */
.textdiv{
  margin: auto;
  width: 90%;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.textbox{
  border: 1.5px solid rgb(51, 51, 51, 0.7);
  background: white;
  width: 10em;
  height: 17em;
  border-radius: 5px;
  margin: 15px;
}
.textimg img{
  width: 9.8em;
  height: 12.5em;
  border-radius: 5px;
}
.textimg{
  text-align: center;
  margin-top: 0.1em;
}
.texttext{
  margin-top: 3px;
  font-family: c;
  font-size: 20px;
  color: black;
  margin-left: 10px;
}
.textlink{
  margin-top: 3px;
  font-family: c;
  margin-left: 10px; 
 
}
.textlink a{
  color: deepskyblue;
  text-decoration: none;
}

.boxx{
position: relative;
}

.boxx:before{
content: '';
top: -1px;
left: -1px;
right: -1px;
bottom: -1px;
z-index: -1;
background-color: whitesmoke;
border-radius: 5px;
position: absolute;

}

.boxx:after{
content: '';
top: -1px;
left: -1px;
right: -1px;
bottom: -1px;
z-index: -2;
position: absolute;
border-radius: 5px;
filter: blur(3px);

  }


  .boxx:after,
  .boxx:before{
      background: linear-gradient(235deg, black, white, black);
  }
  

/* ************************************************************************************************************************** */
.fullfeature{
    margin: auto;
    /* width: 1200px; */
    max-width: 95%;
    margin-top: 20px;
    background-color: rgb(222, 184, 135, 0.2);
}
.featuretopic{
  font-family: l;
  font-size: 20px;
  background-color:black;
  color: white;
  padding: 5px;
}

  .features{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .featurelandscape{
    border: 1.5px solid rgb(51, 51, 51, 0.7);
    background: white;
    width: 15em;
    height: 10em;
    border-radius: 0px;
    margin: 5px;
    margin-top: 15px;
  }
  .featurepotrait{
    border: 1.5px solid rgb(51, 51, 51, 0.7);
    background: white;
    width: 10em;
    height: 15em;
    border-radius: 0px;
    margin: 5px;
    margin-top: 15px;
  }
  .featuresquare{
    border: 1.5px solid rgb(51, 51, 51, 0.7);
    background: white;
    width: 10em;
    height: 13em;
    border-radius: 0px;
    margin: 5px;
    margin-top: 15px;
  }
  .featureimg img{
    width: 14.8em;
    height: 8em;
    border-radius: 0px;
  }
  .featureimg1 img{
    width: 9.8em;
    height: 13em;
    border-radius: 0px;
  }
  .featureimg3 img{
    width: 9.8em;
    height: 9.8em;
    border-radius: 0px;
  }
  .featureimg, .featureimg1, .featureimg3{
    text-align: center;
    margin-top: 0.1em;
  }
  .featurename{
    font-family: c;
    font-size: 20px;
    color: black;
    text-align: center;
  }
  
  .featurebox{
  position: relative;
  }
  
  .featurebox:before{
  content: '';
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  background-color: whitesmoke;
  border-radius: 5px;
  position: absolute;
  
  }
  
  .featurebox:after{
  content: '';
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -2;
  position: absolute;
  border-radius: 5px;
  filter: blur(3px);
  
}
.featurebox:after,
.featurebox:before{
        background: linear-gradient(235deg, black, white, black);
 }  
  
  

/* ************************************************************************************************************************** */
 a.wiki{
  /* text-align: end;

  margin-right: 5px; */
  float: right;
  margin-right: -25px;
}
.wiki img{
  position: absolute;
  width: 15px;
  height: 15px;
}



/* ************************************************************************************************************************** */
.table1-spacing {
  padding: 0;
  margin: 0;
  padding-top: 55px;
  overflow-x: scroll;
  font-family: ws;
}


.table1 th,
.table1 td {
border: 1px solid black;
border-collapse: collapse;
padding: 15px;
text-align: center;
width: 200px;
}

.table1{

border-collapse: collapse;
text-align: center;
}

.table1 table{
margin: auto;
}
/* ************************************************************************************************************************** */





